.govuk-header__logo {
  width: 90%;
  margin-bottom: 0px;
}

.govuk-header__logotype-crown {
  margin-right: 10px;
}
.vh-ml15 {
  margin-right: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .govuk-header__logo {
    width: 100%;
  }
}

.header-item {
  padding: 5px;
}
