.govuk-header__logo {
  width: 50%;
  margin-bottom: 0px;
}

.govuk-header__content {
  width: 50%;
  margin-bottom: 0px;
}

.govuk-header__logotype-crown {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .govuk-header__logo {
    width: 100%;
  }
}
