.govuk-header__logo {
  width: 50%;
  margin-bottom: 0px;
}

.govuk-header__content {
  width: 50%;
  margin-bottom: 0px;
}

.govuk-header__content_secondary {
  width: 100%;
  float: right;
}

.stay-right {
  float: right;
}

.govuk-header__logotype-crown {
  margin-right: 10px;
}

.force-no-underline {
  text-decoration: none !important;
}
