<div class="moj-header" data-module="header">

  <div class="moj-header__container">

    <div class="moj-header__logo">

    <img role="presentation" id="header-logo-scot" class="moj-header__logotype-crest" *ngIf="hearingVenueIsScottish$ | async;else ukCrestSvg" src="/assets/images/scot-crest-white.png" height="40" [attr.alt]="'participants-panel.scottish-crest' | translate"/>

    <ng-template #ukCrestSvg>
      <app-header-logo-svg></app-header-logo-svg>
    </ng-template>

      <span class="moj-header__link moj-header__link--organisation-name" id="header-logo">
            {{'header.hm-courts' | translate}} &amp; {{'header.tribunals-service' | translate}}          
          
  </span>

    </div>
    <div class="moj-header__content">

      <nav class="moj-header__navigation" [attr.aria-label]="'account-navigation-label' | translate">

        <ul class="moj-header__navigation-list">

          <li *ngIf="loggedIn" class="moj-header__navigation-item">
            <a id="logout-link" class="moj-header__navigation-link"  [routerLink]="logoutRoute">
              {{'header.sign-out' | translate}}</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>