<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><img alt="HMCTS logo crest image" src="/assets/images/hmcts-logo.gif" /></div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Our privacy policy for video hearings</h2>

    <button class="govuk-button non-printable" (click)="printPage()" type="button">Print</button>

    <p class="govuk-body">The video hearings service is managed by HM Courts and Tribunals Service (HMCTS).</p>
    <p class="govuk-body">
      When you use this service we (HMCTS) will ask you to provide some personal data. This privacy policy explains why we collect your
      personal data, what we do with it, and your rights.
    </p>

    <h3 class="govuk-heading-m">Why we collect your personal data</h3>
    <p class="govuk-body">
      We collect your personal data so you can take part in a video hearing and to meet legal requirements. We also collect data to improve
      the service.
    </p>

    <h3 class="govuk-heading-m">What we do with your data</h3>
    <p class="govuk-body">Your personal data is processed by our staff in the UK, and the data is stored within the EEA.</p>
    <p class="govuk-body">
      HMCTS is an executive agency of the Ministry of Justice. The Ministry of Justice is known as the 'data controller' of the personal
      data you provide. The Ministry's personal information charter explains more about how we process data.
    </p>

    <h3 class="govuk-heading-m">The data we collect</h3>
    <p class="govuk-body">The personal data we collect includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name, address and contact details, including your email address and telephone number</li>
      <li>details of your company and your role, if applicable</li>
      <li>details of anyone who acts on your behalf or anyone that you act for in a video hearing</li>
      <li>information we gather to assess your suitability for a video hearing</li>
      <li>information about your video hearing</li>
      <li>information that tells us if you open an email from us, or click on a link in an email</li>
      <li>the login details you use to access the video hearings service</li>
      <li>
        information about how you use this service, like your IP address and the web browser you use. We do this by using
        <a href="http://www.aboutcookies.org.uk/managing-cookies" target="_blank">cookies</a>.
      </li>
    </ul>

    <h3 class="govuk-heading-m">How long we keep your data</h3>
    <p class="govuk-body">
      The video hearings service will keep this information for 3 months after the date your hearing is booked to take place. We will then
      delete it. Information about your application or your case is held by a different department in HMCTS and different arrangements may
      apply.
    </p>

    <h3 class="govuk-heading-m">Storing and sharing your data internationally</h3>
    <p class="govuk-body">
      Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.
    </p>

    <h3 class="govuk-heading-m">Your rights</h3>
    <p class="govuk-body">You can ask:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to see the personal data that we hold on you</li>
      <li>to have the personal data corrected</li>
      <li>
        to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your
        claim or application)
      </li>
      <li>
        that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically
        deleted)
      </li>
    </ul>
    <p class="govuk-body">If you want to see the personal data that we hold on you, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <span>complete a form to make a</span>
        <a target="_blank" href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj"> subject access request</a
        >.
        <span> Your request goes to the MoJ as data controller</span>
      </li>
      <li>write to us: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
    </ul>
    <p class="govuk-body">You can ask for more information about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>agreements we have on sharing information with other organisations</li>
      <li>when we are allowed to pass on personal information without telling you</li>
      <li>our instructions to staff on how to collect, use or delete your personal information</li>
      <li>how we check that the information we hold is accurate and up-to-date</li>
    </ul>
    <p class="govuk-body">You can contact the MoJ data protection officer, by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>writing to us: Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
      <li>
        emailing:
        <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a>
      </li>
    </ul>
    <h3 class="govuk-heading-m">How to complain</h3>
    <p class="govuk-body">
      <span>See our </span>
      <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">
        complaints procedure
      </a>
      <span>if you want to complain about how we've handled your personal data.</span>
    </p>
    <p class="govuk-body">
      <span>Write to: </span>Post point 10.38, 102 Petty France, London, SW1H 9AJ<br />
      <span>Email:</span>
      <a href="mailto:data.compliance@justice.gov.uk">data.compliance@justice.gov.uk</a>
    </p>
    <p class="govuk-body">
      <span>You can also complain to the </span>
      <a href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a>
      <span> if you’re not satisfied with our response or believe we are not processing your personal data lawfully.</span>
    </p>
  </div>
</div>
