@import '~govuk-frontend/govuk/all';

.vh-width-main {
  width: 85% !important;
  padding-left: 0px !important;
  padding-right: 5px !important;
}

.vh-width-traffic {
  width: 10% !important;
}

.selected-conference {
  background: govuk-colour('light-grey');
  border-left: 12px solid govuk-colour('black');
}

.report-conference {
  background: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-color: govuk-colour('dark-grey');
  color: govuk-colour('dark-grey');
  font-weight: bold;
}

.selected-conference .report-conference {
  background: govuk-colour('dark-grey');
  border-style: solid;
  border-width: 1.5px;
  border-color: govuk-colour('dark-grey');
  color: govuk-colour('white');
  font-weight: bold;
}

.report-conference:active {
  background: govuk-colour('dark-grey');
  color: govuk-colour('white');
}

.selected-conference .report-conference:active {
  background: govuk-colour('white');
  color: govuk-colour('dark-grey');
}

.copy-clipboard {
  padding-left: 5px;
}

.tooltip-wrapper {
  /*position: relative;*/
  color: $govuk-link-colour;
  white-space: nowrap;
  padding: 4px !important;
}

.tooltip-wrapper:active {
  color: $govuk-link-hover-colour;
}

.tooltip {
  visibility: hidden;
  width: 215px;
  height: 20px;
  background-color: govuk-colour('white');
  color: $govuk-text-colour;
  padding: 0 25px 25px 25px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  -webkit-transform: translateY(82px, 14px);
  -moz-transform: translateY(82px, 14px);
  -ms-transform: translateY(82px, 14px);
  -o-transform: translateY(82px, 14px);
  transform: translate(82px, 14px);

  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;

  -webkit-box-shadow: 2px 2px 6px $govuk-border-colour;
  -moz-box-shadow: 2px 2px 6px $govuk-border-colour;
  -ms-box-shadow: 2px 2px 6px $govuk-border-colour;
  -o-box-shadow: 2px 2px 6px $govuk-border-colour;
  box-shadow: 2px 2px 6px $govuk-border-colour;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-wrapper:active .tooltip {
  visibility: visible;
}

.tooltip::after {
  position: absolute;
  bottom: 100%;
  /* At the bottom of the tooltip */
  left: 5%;
  margin-left: -5px;
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid gray 10px;

  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#tooltip-1 {
  animation: css 35s 36s forwards;
}

@keyframes css {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes css {
  to {
    overflow: hidden;
  }
}

.right-side {
  float: right;
}

.vh-col {
  padding: 0;
}

// conference-list 
.vhList {
  display: grid;
  grid-template-columns: 30px 40px 60px 20px auto 20px;
  grid-template-rows: auto;
  grid-gap: 1px 8px;
  margin: -15px -15px 5px -15px;
  padding: 15px 15px 0px 15px;
}
.selected {
  background-color: #f8f8f8;
  border-left: 8px solid #0b0c0d;
}
.shareIcon {
  grid-column: 1/1;
  grid-row: 1/1;
  justify-self: start;
  align-self: start;
}
.icons {
  width: 17px;
  height: 20px;
}
.time {
  grid-column: 2/2;
  grid-row: 1/1;
  justify-self: start;
}
.listItem {
  color: govuk-colour("black");
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.11111;
  margin-top: 0;
}
.listItemGreySmall {
  color: govuk-colour("dark-grey");
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.11111;
  margin-top: 0;
}
.started {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: start;
  align-self: start;
}
.startedTime {
  grid-column: 3/3;
  grid-row: 2/2;
  justify-self: start;
  align-self: start;
}
.ended {
  grid-column: 2/2;
  grid-row: 3/3;
  justify-self: start;
  align-self: start;
}
.endedTime {
  grid-column: 3/3;
  grid-row: 3/3;
  justify-self: start;
  align-self: start;
}
.listItemBig {
  color: govuk-colour("black");
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  margin-top: 0;
}
.title {
  grid-column: 4/span 2;
  grid-row: 1/1;
  justify-self: start;
}
.listItemGrey {
  color: govuk-colour("dark-grey");
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.11111;
  margin-top: 0;
}
.listed {
  grid-column: 3/3;
  grid-row: 1/1;
  justify-self: start;
}
.crest {
  grid-column: 4/4;
  grid-row: 3/3;
  justify-self: start;
  align-self: start;
}
.ref {
  grid-column: 4/span 2;
  grid-row: 2/2;
  justify-self: start;
}
.listItemBold {
  color: govuk-colour("black");
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.11111;
  margin-top: 0;
}
.judge {
  grid-column: 5/5;
  grid-row: 3/3;
  justify-self: start;
  align-self: center;
}
.venue {
  grid-column: 4/span 2;
  grid-row: 4/4;
  justify-self: start;
}
.alert {
  grid-column: 1/1;
  grid-row: 5/5;
  align-self: start;
  justify-self: start;
}
.message {
  grid-column: 2/2;
  grid-row: 5/5;
  align-self: center;
  justify-self: start;
}
.line {
  grid-column: 1/7;
  grid-row: 6/6;
}
.status {
  grid-column: 4/span 2;
  grid-row: 5/5;
  justify-self: start;
  align-self: center;
}

.pIcon1 {
  grid-column: 6/6;
  grid-row: 1/1;
  justify-self: end;
}
.pIcon2 {
  grid-column: 6/6;
  grid-row: 2/2;
  justify-self: end;
}
.pIcon3 {
  grid-column: 6/6;
  grid-row: 3/3;
  justify-self: end;
}
.pIcon4 {
  grid-column: 6/6;
  grid-row: 4/4;
  justify-self: end;
}
.pIcon5 {
  grid-column: 6/6;
  grid-row: 5/5;
  justify-self: end;
}