@import "~govuk-frontend/govuk/all";

.conference-suspended,
.conference-delayed,
.conference-not-ready {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  font-weight: bold;
}

.pending-alerts {
  color: govuk-colour("red");
  font-weight: bold;
}

.conference-in-session {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  font-weight: bold;
}

.conference-paused {
  background-color: govuk-colour("yellow");
  color: govuk-colour("black");
  font-weight: bold;
}

.conference-ready {
  background-color: govuk-colour("green");
  color: govuk-colour("white");
  font-weight: bold;
}

.conference-closed {
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  font-weight: bold;
}

.selected-conference {
  background: govuk-colour("light-grey");
}

.report-conference {
  background: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-color: govuk-colour("dark-grey");
  color: govuk-colour("dark-grey");
  font-weight: bold;
}

.selected-conference .report-conference {
  background: govuk-colour("dark-grey");
  border-style: solid;
  border-width: 1.5px;
  border-color: govuk-colour("dark-grey");
  color: govuk-colour("white");
  font-weight: bold;
}

.report-conference:active {
  background: govuk-colour("dark-grey");
  color: govuk-colour("white");
}

.selected-conference .report-conference:active {
  background: govuk-colour("white");
  color: govuk-colour("dark-grey");
}

.copy-clipboard {
  padding-left: 5px;
}
