<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="unsupportedDevice" class="govuk-heading-xl govuk-!-padding-top-3">Please use a different device</h1>

        <p class="govuk-body govuk-!-margin-bottom-5">
            The service will not work on the device you’re using. Please sign out and sign in again.
        </p>

        <p class="govuk-body govuk-!-margin-bottom-5">
            You may use:
        </p>

        <div class="govuk-body">
            <ul>
                <li>a laptop or desktop computer with a camera and microphone</li>
                <li>an Apple iPad</li>
            </ul>
        </div>

        <p class="govuk-body govuk-!-margin-bottom-9">
            If you cannot access a suitable device, call the video hearings team on 0300 303 0655.
        </p>

        <app-contact-us-folding></app-contact-us-folding>
    </div>
</div>
