<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 id="unsupportedDevice" class="govuk-heading-xl govuk-!-padding-top-3">
          {{'unsupported-device.use-different-device' | translate}}
      </h1>
    <p class="govuk-body govuk-!-margin-bottom-5">
      {{'unsupported-device.service-will-not-work' | translate}}
    </p>
    <p class="govuk-body govuk-!-margin-bottom-5">
      {{'unsupported-device.you-may-use' | translate}}
    </p>
    <div class="govuk-body">
      <ul>
        <li>{{'unsupported-device.laptop-or-desktop' | translate}}</li>
        <li>{{'unsupported-device.apple-ipad' | translate}}</li>
      </ul>
    </div>
    <p class="govuk-body govuk-!-margin-bottom-9">
        {{'unsupported-device.if-you-cannot-access' | translate}}
    </p>
    <app-contact-us-folding></app-contact-us-folding>
  </div>
</div>
