<div id="p-row-{{ participant.id }}" *ngIf="!participant.isJudge">
  <img
    id="{{ participant.id }}-network-status-icon"
    class="network-status-icon"
    src="/assets/images/{{ getParticipantNetworkStatus() }}"
    (mouseover)="onMouseEnter($event)"
    (mouseout)="onMouseExit($event)"
    alt="Open instant messaging chat window arrow"
  />
  <div *ngIf="displayGraph" #graphContainer class="graph-container" (mouseleave)="setGraphVisibility(false)">
    <app-monitoring-graph
      [pakagesLostData]="packageLostArray"
      [participantGraphInfo]="monitoringParticipant"
      (closeGraph)="setGraphVisibility(false)"
    ></app-monitoring-graph>
  </div>
</div>
