<div id="p-row-{{ participant.id }}">
  <img
    id="{{ participant.id }}-network-status-icon"
    class="network-status-icon"
    src="/assets/images/{{ getParticipantNetworkStatus() }}"
    (mouseover)="onMouseEnter($event)"
    (mouseout)="onMouseExit($event)"
    (mousemove)="updateGraphPosition($event)"
    [attr.alt]="'participant-network-status.icon-alt' | translate"
  />
  <div *ngIf="displayGraph" #graphContainer class="graph-container" style="margin-left: 7px;" (mouseleave)="setGraphVisibility(false)">
    <app-monitoring-graph
      [pakagesLostData]="packageLostArray"
      [participantGraphInfo]="monitoringParticipant"
      (closeGraph)="setGraphVisibility(false)"
    ></app-monitoring-graph>
  </div>
</div>
