@import '~govuk-frontend/govuk/all';

.participant-status-header {
  background: govuk-colour('light-grey');
}

.participant-not-signed-in {
  color: govuk-colour('dark-grey');
}

.participant-disconnected {
  color: govuk-colour('red');
}

.participant-available {
  color: govuk-colour('green');
}

.participant-default-status {
  color: govuk-colour('black');
}

#network-status-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
