@import '~govuk-frontend/govuk/all';

.participant-status-header {
  background: govuk-colour('light-grey');
}

.participant-not-signed-in {
  color: govuk-colour('dark-grey');
}

.participant-disconnected {
  color: govuk-colour('red');
}

.participant-available {
  color: govuk-colour('green');
}

.participant-default-status {
  color: govuk-colour('black');
}

#network-status-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.graph-container:before {
  content: '';
  width: 20px;
  height: 20px;
  background: govuk-colour('dark-grey');
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.graph-container {
  z-index: 99;
  position: fixed;
  border-radius: 3px;
  background: govuk-colour('white');
  width: auto;
  height: auto;
  // margin-top: -1.8vw;
}
