<div class="vh-alert">
  <div class="govuk-warning-text">
    <div class="govuk-grid-column-full vh-float">
      <span class="vh-inline"
        ><img
          src="/assets/images/alert-1.png"
          rel="exclamation mark"
          [attr.alt]="'audio-alert.warning-icon' | translate"
          id="exclamation-mark"
          width="40"
          height="40"
      /></span>

      <span class="govuk-warning-text__text vh-msg">
        <span class="govuk-warning-text__assistive">{{'audio-alert.title' | translate}}</span>
        {{'audio-alert.message' | translate}}
      </span>
      <span class="vh-inline">
        <a class="vh-close-popup" href="javascript:void(0);" (click)="closeAlert()" id="closeAlertBtn">&#10006;</a>
      </span>
    </div>
  </div>
</div>
