.right-align-text {
  text-align: right;
}

.text-highlight-red {
  color: govuk-colour('red');
}

.audio-icon {
  height: 24px;
  padding-top: 1px;
}
.vh-left {
  margin-left: 1px;
}

#incomingFeed,
#incomingFeedPrivate {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 80vh;
  max-width: 100%;
  max-height: 90vh;
  z-index: 20;
}

.video-background {
  background: #090909;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
}

#outgoingFeedDiv {
  left: 0.2%;
  position: fixed;
  bottom: 1%;
}

#outgoingFeedVideo {
  left: 1%;
  position: fixed;
  bottom: 5.5vh;
  max-width: 13%;
  min-width: 15%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.hideVideo {
  opacity: 0;
}

.showVideo {
  opacity: 1;
}

.microphoneIcon {
  height: 18px;
}

.reduce-margin {
  margin-bottom: 2px;
}
