<div class="govuk-!-margin-bottom-2 govuk-!-margin-top-8">
    <form class="govuk-form-group" (ngSubmit)="onSubmit()">
        <div [ngClass]="showError() ? 'govuk-form-group--error' : 'govuk-form-group'">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        {{ 'idp-selection.title' | translate }}
                      </h1>
                </legend>
                <span *ngIf="showError()"  class="govuk-error-message">{{ 'idp-selection.select-a-provider' | translate }}</span>
                <div class="govuk-hint">
                    {{ 'idp-selection.description' | translate }}
                </div>
                <div *ngFor="let provider of identityProvidernames" class="govuk-radios__item" (click)="selectProvider(provider);">
                    <input [id]="provider" class="govuk-radios__input" name="provider" type="radio" value="government-gateway" [attr.aria-describedby]="provider + '-item-hint'">
                    <label class="govuk-label govuk-radios__label" [attr.for]="provider">
                        {{ 'idp-selection.' + provider + '.description' | translate }}
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {{ 'idp-selection.warning' | translate }}
          </strong>
        </div>
        <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button" (click)="onSubmit();">
                {{ 'idp-selection.continue' | translate }}
            </button>
        </div>
    </form>
    <app-contact-us-folding></app-contact-us-folding>
</div>
  