<div class="govuk-!-margin-bottom-2 govuk-!-margin-top-8">
    <form class="govuk-form-group" (ngSubmit)="onSubmit()">
        <div *ngIf="showError()" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              {{ 'idp-selection.error-title' | translate }}
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li class="govuk-error-message">
                  {{ 'idp-selection.select-a-provider' | translate }}
                </li>
              </ul>
            </div>
          </div>
        <div [ngClass]="showError() ? 'govuk-form-group--error' : 'govuk-form-group'">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        {{ 'idp-selection.title' | translate }}
                      </h1>
                  </legend>
                <div class="govuk-hint">
                    {{ 'idp-selection.description' | translate }}
                </div>
                <span *ngIf="showError()"  class="govuk-error-message">{{ 'idp-selection.select-a-provider' | translate }}</span>
                <div *ngFor="let provider of getProviders()" class="govuk-radios__item" (click)="selectProvider(provider);">
                    <input [id]="provider" class="govuk-radios__input" name="provider" type="radio" value="government-gateway" [attr.aria-describedby]="provider + '-item-hint'">
                    <label class="govuk-label govuk-radios__label" [attr.for]="provider">
                        {{ 'idp-selection.' + provider + '.title' | translate }}
                    </label>
                    <div [id]="provider + '-item-hint'"  class="govuk-hint govuk-radios__hint">
                        {{ 'idp-selection.' + provider + '.description' | translate }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button" (click)="onSubmit();">
                {{ 'idp-selection.next' | translate }}
            </button>
        </div>
    </form>
    <app-contact-us-folding></app-contact-us-folding>
</div>
  