<div id="filterPopup" class="vh-popup-overlay">
    <span class="helper"></span>
    <div>
        <div class="govuk-grid-row" >
            <div class="govuk-grid-column-full">
                <span class="govuk-heading-m vh-left">Filters</span>
                <span class="vh-right">
                    <input type="button"
                           value="Cancel"
                           (click)="cancelFilters()"
                           id="btn-cancel-filters"
                           class="govuk-button govuk-button--secondary" style="margin-right:5px;"
                           alt="Apply selected filters" />
                    <input type="button"
                           value="Apply filters"
                           (click)="applyFilters()"
                           id="applyFilter"
                           class="govuk-button"
                           [disabled]="disableFilterApply"
                           alt="Apply selected filters" />

                </span>
                <hr />

            </div>
        </div>

        <div class="vh-content">
            <div *ngFor="let court of courtRoomsAccountsFilters; let i = index">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body-m vh-bold vh-5">{{court.venue}}</p>
                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-checkboxes__item vh-5">
                            <input class="govuk-checkboxes__input"
                                   type="checkbox"
                                   [checked]="court.selected"
                                   id="{{ 'allRooms' + i }}"
                                   name="{{ 'allRooms' + i }}"
                                   (click)="allRoomOptionSelected(i)" />
                            <label class="govuk-label govuk-checkboxes__label vh-bold" for="{{ 'allRooms' + i }}">Select all</label>
                        </div>


                        <div *ngFor="let room of court.courtsRooms; let j = index">
                            <div class="govuk-checkboxes__item vh-5">
                                <input class="govuk-checkboxes__input"
                                       type="checkbox"
                                       [checked]="room.selected"
                                       id="{{ 'room' + i + j }}"
                                       name="{{ 'room' + i + j }}"
                                       (click)="roomOptionSelected(i,j)" />
                                <label class="govuk-label govuk-checkboxes__label vh-word" for="{{ 'room' + i + j }}">{{ room.courtRoom }}</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

