@import '~govuk-frontend/govuk/all';

.vh-popup-overlay {
  cursor: pointer;
  max-height: 60vh;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 10000;
  float: left;
  padding: 0px;
  margin-left: 0px;
}

.vh-popup-overlay .helper {
  display: inline-block;
  height: 100%;
}

.vh-popup-overlay > div {
  background-color: #fff;
  -moz-box-shadow: 7px 11px 30px #dcdcdc;
  -webkit-box-shadow: 7px 11px 30px #dcdcdc;
  box-shadow: 11px 5px 30px #dcdcdc;
  display: inline-block;
  height: auto;
  max-width: 40%;
  min-height: 100px;
  vertical-align: top;
  width: 100%;
  position: relative;
  border-radius: 8px;
  padding: 10px 0px 10px 20px;
}

.vh-5 {
  margin-bottom: 5px !important;
  margin-left: 0;
  float: left;
}

.vh-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.vh-bold {
  font-weight: bold;
  margin-left: 5px;
}

.vh-content {
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

hr {
  clear: both;
}

.vh-left {
  float: left !important;
  padding-left: 10px;
}

.vh-right {
  float: right !important;
  padding-right: 10px;
}
