@use 'govuk-frontend/dist/govuk/base' as *;

:host {
  font-size: 0.9em;
  position: relative;
  overflow: hidden;
  padding: 20px !important;
  width: auto !important;
  max-width: 300px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-family: 'GDS Transport', arial, sans-serif;

  &.black {
    background: #1e1e1e; //slightly lighter than gov black
    color: govuk-colour('white');
  }

  &.white {
    background: govuk-colour('white');
    color: govuk-colour('black');
  }
}

.content {
  margin-bottom: 5px;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;

  .action {
    flex: 0 0 auto;
    padding: 5px;
  }
}

.small-button {
  padding: 6px 10px;
  border: transparent 1px;
  border-radius: 2px;
  vertical-align: top;
  cursor: pointer;
  pointer-events: auto;

  &.grey {
    color: govuk-colour('white');
    background: rgba(80, 90, 95, 1);
    &:hover {
      background: rgba(80, 90, 95, 0.7);
    }
  }

  &.join-hearing-button {
    color: govuk-colour('white');
    background: govuk-colour('green');
    box-shadow: rgb(146 145 145) 0px 2px 0px;
    &:hover {
      background: #005a30; // slightly darker than gov green
    }
  }
  &.hearing-started-dismiss-button {
    color: black;
    background: govuk-colour('light-grey');
    box-shadow: rgb(146 145 145) 0px 2px 0px;
    &:hover {
      background: govuk-colour('mid-grey');
    }
  }
  &.green:hover {
    background: govuk-colour('green');
  }
  &.red:hover {
    background: govuk-colour('red');
  }
}
