<div class="content">
    <ng-container *ngIf="vhToastOptions.htmlBody">
        <div [innerHtml]="vhToastOptions.htmlBody">
        </div>
    </ng-container>
    <ng-container *ngIf="!vhToastOptions.htmlBody">
        <div>
            {{vhToastOptions.body}}
        </div>
    </ng-container>
</div>

<div class="actions">
    <div class="action" *ngFor="let btn of vhToastOptions.buttons">
        <button class="govuk-button govuk-button--secondary" (click)="btn.action()">{{btn.label}}</button>
    </div>
</div>