@import '~govuk-frontend/govuk/base';
@import 'abstracts';

:host {
  font-size: 0.9em !important;
  position: relative;
  overflow: hidden;
  padding: 15px 20px !important;
  width: 280px !important;
  margin: auto;
  background: #1e1e1e;
  color: govuk-colour('white');
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-family: 'GDS Transport', arial, sans-serif;
  margin-bottom: 12px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.7) !important;
  z-index: 99;

  &.black {
    background: #1e1e1e;
    color: govuk-colour('white');
  }

  &.white {
    background: govuk-colour('white');
    color: govuk-colour('black');
  }
}

.content {
  margin-bottom: 5px;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;

  .action {
    flex: 0 0 auto;
    left: 0px;
    width: 240px;
  }
}

.govuk-button--color-button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 14px;
  color: govuk-colour('white');
  padding: 6px 10px;
  border-radius: 2px;
  font-family: 'GDS Transport', arial, sans-serif;
  cursor: pointer;

  &.red {
    background: govuk-colour('red');
    border-color: govuk-colour('red');
  }
  &.green {
    background: govuk-colour('green');
    border-color: govuk-colour('green');
  }

  @media only screen and (max-width: $breakpoint-medium) {
    width: 240px;
  }
}
