<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Please use a different device</h1>

    <p class="govuk-body govuk-!-margin-bottom-5">
      It looks like you are using a mobile device. Unfortunately this service will not work with a smartphone or tablet.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-5">
      Please close this window and sign in again with a laptop or desktop computer that has a camera and microphone.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-9">
      If you do not have access to a computer with a camera and microphone please call us.
    </p>

    <app-contact-us-folding></app-contact-us-folding>
  </div>
</div>
