@import 'functions';

$breakpoints: (
  smallest: 0px,
  extra-small : 481px,
  small: 641px,
  medium : 769px,
  large: 1025px,
);

// 1024px
$breakpoint-large: em(map-get($breakpoints, large));
// 768px
$breakpoint-medium: em(map-get($breakpoints, medium));
// 641px
$breakpoint-small: em(map-get($breakpoints, small));
// 480px
$breakpoint-extra-small: em(map-get($breakpoints, extra-small));
