@import 'functions';

$breakpoints: (
  smallest: 0px,
  extra-small : 480px,
  small: 641px,
  medium : 768px,
  large: 1024px,
);

// 1024px
$breakpoint-large: em(map-get($breakpoints, large));
// 1023px
$breakpoint-medium-max: em(map-get($breakpoints, large)-1px);
// 768px
$breakpoint-medium: em(map-get($breakpoints, medium));
// 641px
$breakpoint-small: em(map-get($breakpoints, small));
// 480px
$breakpoint-extra-small: em(map-get($breakpoints, extra-small));
