// 1024px
$breakpoint-large: 64em;
// 768px
$breakpoint-medium: 48em;
// 640px
$breakpoint-small-medium: 40.0625em;
// 480px
$breakpoint-small: 30em;
// 360px
$breakpoint-extra-small: 22.5em;
// 890px
$landscape-large: 55.625em;
