<div class="header-left"
    [class]="getRowClasses(participant)">
    <app-invite-participant
        *ngIf="!isParticipantInCurrentRoom(participant) && isParticipantAvailable(participant) && canInvite"
        [participantId]="participant.id"
        [conferenceId]="conferenceId"
        [roomLabel]="roomLabel">
    </app-invite-participant>
    <span *ngIf="isParticipantInCurrentRoom(participant)"
        class="fas fa-check"
        aria-hidden="true"></span>
</div>
<div [class]="getRowClasses(participant)">
    <span [class]="participantNameClass(participant)">{{participant.display_name}}</span>
</div>
<div [class]="getRowClasses(participant)"
    class="text-right">
    <span [class]="getParticipantStatusClasses(participant)"
        [innerHTML]="getParticipantStatus(participant)"></span>
</div>