<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="RunOnSauceLabs" value="false" />
    <Parameter name="TargetBrowser" value="Chrome:beta"  />
    <Parameter name="TargetDevice" value="Desktop"  />
    <Parameter name="TargetEnvironment" value=""  />
  </TestRunParameters>
</RunSettings>
