<!-- The Modal -->
<div id="select-device-modal" class="modal" [ngClass]="{ 'wr-modal': waitingRoomMode }">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6 wr-h">
          {{ 'select-media-devices.change-camera-mic' | translate }}
        </h2>
        <!-- Left hand side -->
        <div class="govuk-grid-column-one-half">
          <div class="govuk-grid-column-full" [ngClass]="connectWithCameraOn ? 'vh-fade-in' : 'vh-fade-out'">
            <video id="preferredCameraStream" [srcObject]="preferredCameraStream" autoplay width="100%" height="auto">
              {{ 'select-media-devices.browser-support' | translate }}
            </video>
          </div>
          <div class="govuk-grid-column-full">
            <app-mic-visualiser *ngIf="preferredMicrophoneStream" [stream]="preferredMicrophoneStream"> </app-mic-visualiser>
          </div>
        </div>
        <!-- Right hand side -->
        <div class="govuk-grid-column-one-half">
          <form *ngIf="selectedMediaDevicesForm" [formGroup]="selectedMediaDevicesForm" class="govuk-form-group" (ngSubmit)="onSubmit()">
            <div *ngIf="hasSingleCameraConncted">
              <p class="govuk-body">
                {{ singleCameraName }}
              </p>
            </div>

            <div *ngIf="!hasSingleCameraConncted" class="govuk-!-margin-bottom-9">
              <label class="govuk-label govuk-!-font-weight-bold" for="available-cam-list">
                {{ 'select-media-devices.change-camera' | translate }}</label
              >

              <select
                class="govuk-select govuk-!-width-two-thirds"
                id="available-cam-list"
                formControlName="camera"
                (change)="onChangeDevice()"
              >
                <option *ngFor="let availableCam of availableCameraDevices" [ngValue]="availableCam">
                  {{ availableCam.label }}
                </option>
              </select>
            </div>

            <div *ngIf="hasSingleMicrophoneConncted">
              <p class="govuk-body">
                {{ singleMicrophoneName }}
              </p>
            </div>

            <div *ngIf="!hasSingleMicrophoneConncted">
              <label class="govuk-label govuk-!-font-weight-bold" for="available-mics-list">{{
                'select-media-devices.change-microphone' | translate
              }}</label>

              <span class="govuk-hint">{{ 'select-media-devices.green-bar' | translate }}</span>

              <select
                class="govuk-select govuk-!-width-two-thirds"
                id="available-mics-list"
                formControlName="microphone"
                (change)="onChangeDevice()"
              >
                <option *ngFor="let availableMic of availableMicrophoneDevices" [ngValue]="availableMic">
                  {{ availableMic.label }}
                </option>
              </select>
            </div>
          </form>
        </div>

        <div *ngIf="showAudioOnlySetting" class="govuk-grid-column-full">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">{{ 'select-media-devices.warning' | translate }}</span>
              {{ 'select-media-devices.permission-switch-off-camera' | translate }}
            </strong>
          </div>

          <label class="govuk-label camSwitchTitle">{{ 'select-media-devices.join-with-camera-on-off' | translate }}</label>
          <label class="switch camSwitchToggle" [ngClass]="{ 'avoid-clicks': blockClicks }">
            <input type="checkbox" id="toggle" [checked]="connectWithCameraOn" (click)="toggleSwitch()" />
            <span class="slider round" (transitionstart)="transitionstart()" (transitionend)="transitionEnd()">
              <span class="govuk-heading-m" id="toggletextON" class="govuk-label govuk-!-font-weight-bold toggle-text">
                {{ audioOnlyToggleText }}
              </span>
            </span>
          </label>
        </div>

        <div class="govuk-grid-column-full">
          <app-video-filter></app-video-filter>
        </div>

        <div class="govuk-grid-column-full">
          <div ng class="govuk-!-margin-top-6">
            <button id="change-device-btn" class="govuk-button wr-ml" data-module="govuk-button" (click)="onSubmit()">
              {{ 'select-media-devices.button-close' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
