<!-- The Modal -->
<div id="select-device-modal" class="modal" [ngClass]="{'wr-modal':waitingRoomMode}">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6 wr-h">Choose your camera and microphone</h2>


            <!-- Left hand side -->
            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-column-full">
                    <video id="preferredCameraStream" [srcObject]="preferredCameraStream" autoplay width="100%" height="auto">
                        Your browser does not support video
                    </video>
                </div>
                <div class="govuk-grid-column-full">
                    <app-mic-visualiser *ngIf="preferredMicrophoneStream" [stream]="preferredMicrophoneStream"> </app-mic-visualiser>
                </div>
            </div>
            <!-- Right hand side -->
            <div class="govuk-grid-column-one-half">
                <form *ngIf="selectedMediaDevicesForm" [formGroup]="selectedMediaDevicesForm" class="govuk-form-group" (ngSubmit)="onSubmit()">
                    <div *ngIf="hasSingleCameraConncted">
                        <p class="govuk-body">
                            {{ singleCameraName }}
                        </p>
                    </div>

                    <div *ngIf="!hasSingleCameraConncted" class="govuk-!-margin-bottom-9">
                        <p class="govuk-body govuk-!-font-weight-bold">
                            Change camera
                        </p>
                        <select class="govuk-select govuk-!-width-two-thirds" id="available-cam-list" formControlName="camera" (change)="onChangeDevice()">
                            <option *ngFor="let availableCam of availableCameraDevices" [ngValue]="availableCam">
                                {{ availableCam.label }}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="hasSingleMicrophoneConncted">
                        <p class="govuk-body">
                            {{ singleMicrophoneName }}
                        </p>
                    </div>

                    <div *ngIf="!hasSingleMicrophoneConncted">
                        <p class="govuk-body govuk-!-font-weight-bold">
                            Change microphone
                            <span class="govuk-hint">Make sure the green bar moves when you speak</span>
                        </p>

                        <select class="govuk-select govuk-!-width-two-thirds" id="available-mics-list" formControlName="microphone" (change)="onChangeDevice()">
                            <option *ngFor="let availableMic of availableMicrophoneDevices" [ngValue]="availableMic">
                                {{ availableMic.label }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>


            <div class="govuk-grid-column-full">
                <div ng class="govuk-!-margin-top-6">
                    <button id="change-device-btn"
                            class="govuk-button wr-ml"
                            data-module="govuk-button"
                            (click)="onSubmit()"
                            alt="Close camera and microphone change dialog">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
