@import '~govuk-frontend/govuk/base';
@import 'abstracts';

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  padding: 20px;
  @media only screen and (min-width: $breakpoint-medium) {
    width: 600px;
  }
}

.wr-modal {
  background-color: rgba(0, 0, 0, 0.1);
  /* Black w/ opacity */
}

.wr-h {
  margin-left: 25px;
}

// Rounded sliders
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: 30px;

  @media only screen and (max-width: $breakpoint-medium) {
    margin-bottom: 0px;
  }
}

.avoid-clicks {
  pointer-events: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: govuk-colour('mid-grey');
  -webkit-transition: 1s;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: govuk-colour('white');
  -webkit-transition: 1s;
  transition: 1s;
}

input:checked + .slider {
  background-color: govuk-colour('green');
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 99px;
}

.slider.round:before {
  border-radius: 90%;
}

.toggle-text {
  margin-left: 44px;
  font-size: rem(20px);
}

.audio-only-column {
  padding-left: 20px;
}

.camera-label {
  @media only screen and (max-width: $breakpoint-medium) {
    font-size: rem(13px);
  }
}

.green-bar-hint {
  font-size: rem(13px);
}

.warning-text__text {
  font-size: 1.1875rem;
  @media only screen and (max-width: $breakpoint-medium) {
    padding-top: 10px;
    font-size: 1rem;
  }
}
