<div *ngIf="networkHealth">
  <span *ngIf="!isNetworkGood" class="tooltip">
    <span class="top tooltip-alert"> Poor signal</span>
    <img *ngIf="!isNetworkGood" src="/assets/images/alert-1.png" class="panel-icon-alert" alt="Hand on icon" />
  </span>
</div>

<div *ngIf="isDisconnected" class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="disconnected">DISCONNECTED</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <span class="tooltip">
      <img
        src="/assets/images/participant-disconnected.png"
        class="alert-icon"
        alt="participant disconnected"
        style="padding-bottom: 5px;"
      />
    </span>
  </div>
</div>
