.panel-icon-alert {
  width: 24px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.panel-icon-alert-disc {
  width: 20px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.alert-container {
  z-index: 140;
}
