.right-align-text {
  text-align: right;
}

.text-highlight-red {
  color: govuk-colour('red');
}

.audio-icon {
  height: 24px;
  padding-top: 1px;
}

.vh-left {
  margin-left: 1px;
}

#hearing-monitor-container {
  margin-bottom: 25px;
}

.header-content-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.vh-btn-text {
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .vh-btn-text {
    font-size: 18px !important;
  }
}

.header-bar {
  display: flex;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 70%);
  box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 30%);
}
