.right-align-text {
  text-align: right;
}

.text-highlight-red {
  color: govuk-colour('red');
}

.audio-icon {
  height: 24px;
  padding-top: 1px;
}

.vh-left {
  margin-left: 1px;
}

#hearing-monitor-container {
  margin-bottom: 25px;
}

.panel-wrap {
  left: 0;
  position: fixed;
  vertical-align: top;
  z-index: 999;
  max-width: 300px;
}
