.right-align-text {
  text-align: right;
}

.text-highlight-red {
  color: govuk-colour('red');
}

.audio-icon {
  height: 24px;
  padding-top: 1px;
}

.vh-left {
  margin-left: 1px;
}

#incomingFeed,
#incomingFeedPrivate {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 80vh;
  max-width: 100%;
  max-height: 90vh;
  z-index: 100;
}

.video-background {
  background: #090909;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
}

.no-mass {
  display: none;
}
.panel-wrap {
  left: 0;
  position: fixed;
  vertical-align: top;
  z-index: 999;
  max-width: 300px;
}
