<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>


<div>
    <div class="top-button-row govuk-body govuk-!-font-size-19">
        <span class="govuk-!-font-weight-bold">{{hearing.caseName}} </span>
        <span>{{hearing.caseType}}: {{hearing.caseNumber}}</span>
    </div>
    <div id="chatPanel" class="hearing-side-panel" [ngClass]="showChatPanel ? 'hearing-side-panel-visible' : ''">
        sidepanel
    </div>
    <div id="participantPanel hearing-side-panel-visible" class="hearing-side-panel" [ngClass]="showParticipantPanel ? 'hearing-side-panel-visible' : ''">
        sidepanel
    </div>
    <div class="hearing-video hearing-video-with-panel" [ngClass]="showChatPanel || showParticipantPanel ? 'hearing-video-with-panel' : ''">
        <!-- hearing video-->
        <div *ngIf="isAdminConsultation">
        <div class="video-background"></div>
        <video id="incomingFeedJudgePrivate"
        [srcObject]="this.stream"
        autoplay
        height="auto"
        class="incomingFeedPrivate">
            Your browser does not support Video
        </video>
        </div>
        <div *ngIf="!isAdminConsultation">
        <div class="video-background"></div>
        <video
            id="incomingFeedJudge"
            [srcObject]="this.stream"
            autoplay
            height="auto"
            class="incomingFeed"
            poster="/assets/images/empty_crest.jpg"
        >
            Your browser does not support Video
        </video>
        </div>
    </div>
  </div>
<div>