@import "~govuk-frontend/all";

.unavailable {
  color: govuk-colour("red");
}

.available {
  color: govuk-colour("green");
}

.label-status {
  color: #ffffff;
  padding: 3px 5px 3px 5px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.label-status--disconnected {
  background-color: #b10e1e;
}

.label-status--notsignedin {
  background-color: #6f777b;
}

.label-status--connected {
  background-color: #00823b;
}
