<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Participants</h2>
    </div>
  </div>

  <div id="p-row-{{judge.id}}" class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-heading-m govuk-!-margin-bottom-0">Judge</div>
      <p class="govuk-body-s govuk-!-margin-bottom-0"><strong>{{judge.name}}</strong></p>
    </div>
    <div class="govuk-grid-column-one-half">
      <img src="/assets/images/govuk-crest.png" height="50" width="50" class="govuk-header__logotype-crest"
        alt="HM Courts &amp; Tribunals Service crest" />
    </div>
  </div>

  <div *ngFor="let participant of nonJugdeParticipants" class="govuk-grid-row govuk-!-margin-bottom-6">
    <div id="p-row-{{participant.id}}" class="govuk-grid-column-full">
      <p class="govuk-heading-s govuk-!-margin-bottom-0">{{participant.case_type_group}}</p>
      <p class="govuk-body-s govuk-!-margin-bottom-1">{{participant.name}}</p>
      <p *ngIf="participant.representee" class="govuk-body-s govuk-!-margin-bottom-1">Representing {{participant.representee}}</p>
      <a *ngIf="canCallParticipant(participant)" id="p-call-{{participant.id}}-btn" href="#"
        class="govuk-link govuk-!-margin-bottom-0" href="javascript:void(0)" (click)="begingCallWith(participant)">Speak
        to this person now</a>
    </div>
  </div>
</div>
