<div class="grid-container" [ngClass]="{ 'grid-container-no-text': !showText }">
  <div class="grid-item">
    <button
      [id]="iconName"
      class="icon-button"
      appTooltip
      [colour]="tooltipColour"
      [text]="iconText"
      [attr.aria-label]="iconText"
      tabindex="0"
      (click)="$event.preventDefault(); onIconClicked()"
    >
      <fa-icon [icon]="[iconPrefix, iconName]"></fa-icon>
      <ng-content></ng-content>
    </button>
  </div>
  <div *ngIf="showText" class="grid-item">
    <label class="govuk-label icon-text" [htmlFor]="iconName">{{ iconText }} </label>
  </div>
</div>
