<div *ngIf="!conference && !participant && !selfTestPexipConfig" class="govuk-grid-column-full">
  <p class="govuk-body-l">{{ 'independent-self-test.please-wait-to-be-connected' | translate }}</p>
</div>
<app-self-test
  *ngIf="(conference && participant && !hideSelfTest) || (selfTestPexipConfig && !hideSelfTest)"
  [conference]="conference"
  [participant]="participant"
  [selfTestPexipConfig]="selfTestPexipConfig"
  (testCompleted)="onSelfTestCompleted($event)"
  (testStarted)="onTestStarted()"
></app-self-test>

<div *ngIf="!showEquipmentFaultMessage" class="govuk-!-margin-top-6">
  <app-self-test-actions (equipmentWorked)="equipmentWorksHandler()" (equipmentBroken)="equipmentFaultyHandler()"></app-self-test-actions>
</div>

<div *ngIf="showEquipmentFaultMessage" class="govuk-!-margin-top-6">
  <h1 class="govuk-heading-xl">{{ 'independent-self-test.problems-with-your-equipment' | translate }}</h1>
  <p class="govuk-body govuk-!-margin-top-7">
    {{ 'independent-self-test.please-call-beforenumber' | translate }}<span class="govuk-!-font-weight-bold">{{ contact.phone }}</span>{{ 'independent-self-test.please-call-afternumber' | translate }}
  </p>
</div>

<div>
  <button
    *ngIf="showEquipmentFaultMessage"
    id="continue-btn"
    class="govuk-button govuk-!-margin-right-4"
    data-module="govuk-button"
    (click)="equipmentWorksHandler()"
  >
  {{ 'independent-self-test.continue' | translate }}
  </button>

  <button
    id="check-equipment-btn"
    class="govuk-button govuk-button--secondary"
    data-module="govuk-button"
    (click)="restartTest()"
  >
  {{ 'independent-self-test.check-equipment-again' | translate }}
  </button>
</div>

<app-contact-us-folding></app-contact-us-folding>
