@import '~govuk-frontend/govuk/all';

.judge-chat-window {
  background: white;
  width: 30%;
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 0 8px 3px govuk-colour('dark-grey');
  -moz-box-shadow: 0 0 8px 3px govuk-colour('dark-grey');
  box-shadow: 0 0 8px 3px govuk-colour('dark-grey');
}

.chevron {
  float: right;
}

.chat-header {
  background: govuk-colour('blue');
}

.chat-message {
  white-space: pre-wrap;
}

.chat-header:active {
  background: govuk-colour('dark-blue');
}

.chat-header-text {
  color: govuk-colour('white');
  margin-bottom: 0;
}

.chat-window {
  height: 400px;
  background: govuk-colour('white');
}

.notification-badge {
  position: absolute;
  margin-left: 20px;
}

.notification-badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  right: -35px;
  background: govuk-colour('black');
  color: govuk-colour('white');
  width: 18px;
  height: 18px;
  font-size: 0.7em;
  padding: 5px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}

#chat-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.message-container {
  width: 100%;
}
