@import '~govuk-frontend/govuk/base';

.failed-message {
  @include govuk-font($size: 16, $weight: 'bold');
  display: block;
  margin-bottom: govuk-spacing(0);
  clear: both;
  color: $govuk-error-colour;
}

.alert-image {
  width: 14px;
  height: 14px;
}

.spacer {
  height: 10px;
  padding: 0px !important;
  float: left;
}

.messages-container {
  @include govuk-font($size: 16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

.message-item-received {
  background-color: govuk-colour('light-grey');
  float: left;
  margin-left: 10px;
  padding-left: 25px;
}

.message-item-received::after {
  content: '';
  position: absolute;
  left: -1.5em;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  border-right: 1em solid govuk-colour('light-grey');
  border-bottom-right-radius: 1.75em 1.5em;
}

.message-item-sent {
  color: #ffffff;
  background-color: govuk-colour('blue');
  margin-right: 10px;
  padding-right: 25px;
  text-align: right;
  float: right;
}

.message-item-sent::after {
  content: '';
  position: absolute;
  right: -1.5em;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  border-left: 1em solid govuk-colour('blue');
  border-bottom-left-radius: 1.75em 1.5em;
}

.message-item {
  border-radius: 0.5em 0.5em 0.75em 0.5em;
  margin-bottom: 5px;
  padding: 15px;
  position: relative;
  width: 50%;
}

.message-meta {
  margin-top: 10px;
}

.message-meta-sender {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

.message-meta-timestamp {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}
