<div class="messages-container">
  <div class="message-item bottom-spacer"></div>
  <div *ngFor="let message of allMessages" class="message-item" [class]="message.is_user ? 'message-item-sent' : 'message-item-received'">
    <ng-container *ngIf="hasMessageFailed(message)">
      <span id="message-send-error" class="failed-message">
        <img class="alert-image" src="/assets/images/alert-full.png" alt="alerts icon" />
        <span class="govuk-visually-hidden">Error:</span> message failed to send
        <a href="javascript:void(0)" class="govuk-link" (click)="retry(message)">try again</a>
      </span>
    </ng-container>
    <div>
      {{ message.message }}
    </div>
    <div class="message-meta">
    <span class="message-meta-sender">{{ message.from_display_name }}</span> at <span class="message-meta-timestamp">{{ message.timestamp | date: 'shortTime' }}</span>
    </div>
  </div>
  <div class="message-item bottom-spacer"></div>
</div>
