@import '~govuk-frontend/govuk/all';

.message-container {
  width: inherit;
  margin: 0px 2px !important;
}

.own-message {
  text-align: left;
}

.other-message {
  text-align: right;
}

.other-message-body {
  text-align: justify;
  float: right;
}

.other-message > p {
  color: govuk-colour('blue');
}

.chat-message {
  white-space: pre-wrap;
}

.chat-message.failed {
  margin-bottom: 0 !important;
}

.failed-message {
  @include govuk-font($size: 16, $weight: 'bold');
  display: block;
  margin-bottom: govuk-spacing(0);
  clear: both;
  color: $govuk-error-colour;
}

.alert-image {
  width: 14px;
  height: 14px;
}
