@import '~govuk-frontend/govuk/base';

.participant-endpoint-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: space-evenly;
  justify-content: flex-start;
  align-items: center;

  > div {
    margin-right: 0.5em;
  }
}

.individual-endpoint-row {
  display: flex;
  padding-top: 0.1em;
  padding-bottom: 0.1em;

  > div {
    margin-right: 0.5em;
  }
}
.language-icon {
  margin: 0 0 0em 1em;
  font-size: 1.5em;
  padding-bottom: 0;
}

.header-left {
  width: 16px;
}

.text-right {
  text-align: right;
}

.yellow {
  color: govuk-colour('yellow');
}
.red {
  color: govuk-colour('red');
}
.white {
  color: rgba(255, 255, 255, 0.9);
}
.display-name {
  overflow-wrap: anywhere;
}
.outline {
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 4px;
  color: rgba(255, 255, 255, 0.9);
}
