<div class="language-icon"
    *ngIf="interpreter">
    <span class="far fa-language"></span>
</div>
<div [ngClass]="{'participant-endpoint-row': interpreter == null ,
     'individual-endpoint-row': interpreter != null  }">
    <div class="header-left" [class]="getRowClasses(participant)">
        <app-invite-participant
            *ngIf="!isParticipantInCurrentRoom(participant) && isParticipantAvailable(participant) && canInvite"
            [participantId]="participant.id"
            [conferenceId]="conferenceId"
            [roomLabel]="roomLabel">
        </app-invite-participant>
        <span *ngIf="isParticipantInCurrentRoom(participant)"
            class="fas fa-check"
            aria-hidden="true"></span>
    </div>
    <div [class]="getRowClasses(participant)">
        <span [class]="'wrap-anywhere ' + participantNameClass(participant)">{{participant.display_name}}</span>
    </div>
    <div [class]="getRowClasses(participant)"
        class="text-right">
        <div [class]="getParticipantStatusClasses(participant)"
            [innerHTML]="getParticipantStatus(participant)"></div>
    </div>
</div>

<div *ngIf="interpreter"
 class="individual-endpoint-row">
    <div class="header-left" [class]="getRowClasses(interpreter)"> </div>
    <div [class]="getRowClasses(interpreter)">
        <span [class]="'wrap-anywhere ' + participantNameClass(interpreter)">{{interpreter.display_name}}</span>
    </div>

</div>
