<div class="language-icon"
    *ngIf="interpreter">
    <fa-icon icon="language"></fa-icon>
</div>
<div [ngClass]="{'participant-endpoint-row': interpreter == null ,
     'individual-endpoint-row': interpreter != null  }">
    <div class="header-left" [class]="getRowClasses(participant)">
        <app-invite-participant
            *ngIf="!isParticipantInCurrentRoom(participant) && isParticipantAvailable(participant) && canInvite"
            [participantId]="participant.id"
            [conferenceId]="conferenceId"
            [roomLabel]="roomLabel">
        </app-invite-participant>
        <fa-icon *ngIf="isParticipantInCurrentRoom(participant)"
            class="check"
            aria-hidden="true"></fa-icon>
    </div>
    <div [class]="getRowClasses(participant)">
        <span class="wrap-anywhere" [ngClass]="participantNameClass(participant)">{{participant.display_name}}</span>
    </div>
    <app-participant-status [entity]="participant" [status]="status" [roomLabel]="roomLabel">
    </app-participant-status>
</div>

<div *ngIf="interpreter"
 class="individual-endpoint-row">
    <div class="header-left" [class]="getRowClasses(interpreter)"> </div>
    <div [class]="getRowClasses(interpreter)">
        <span [class]="'wrap-anywhere ' + participantNameClass(interpreter)">{{interpreter.display_name}}</span>
    </div>

</div>
