.vh-sl {
    margin-left: 25px;
    font-size: 22px !important;
}

.vh-sr {
    margin-right: 25px;
    font-size: 22px !important;
}

.vh-r {
    float: right;
    margin-top: 5px;
}

.vh-link {
    text-decoration: none !important;
}
