<div class="modal-content negative">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <p id="vho-caller" class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-body--white govuk-!-margin-bottom-1">
        Incoming call from Video Hearings Team
      </p>
      <p class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-body--white govuk-!-margin-bottom-1">
        Please accept the call
      </p>
    </div>
    <div class="govuk-grid-column-full">
      <button
        id="accept-pc-request-btn"
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
        (click)="acceptVhoConsultationRequest()"
        alt="Accept call"
      >
        Accept call
      </button>
    </div>
  </div>
</div>
