<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" id="unsupported">This website is not supported on this browser</h2>
    <p class="govuk-body">
      It looks like you've signed in using {{ browserName }}. Unfortunately this browser is not currently supported.
    </p>
    <div>
      <p class="govuk-body">Please sign out and sign in again using any of the following.</p>
      <ul class="govuk-list">
        <li *ngFor="let browser of supportedBrowsers">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-quarter">
              <div class="govuk-grid-row" style="width: 120px">
                <div class="govuk-grid-column-one-half">
                  <img src="{{browser.iconPath}}" height="48" width="48" class="govuk-!-margin-right-2"
                    alt="{{browser.name}} browser logo" />
                </div>
                <div class="govuk-grid-column-one-half">
                  <p>{{browser.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
