<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="unsupported" class="govuk-heading-l govuk-!-padding-top-3">
            {{'unsupported-browser.using-unsupported-browser' | translate}}
        </h2>
        <p class="govuk-body">{{'unsupported-browser.it-looks-like' | translate}} {{ browserName }}. {{'unsupported-browser.unfortunately-this-browser' | translate}}</p>
        <div>
            <p class="govuk-body">{{'unsupported-browser.please-sign-out' | translate}}</p>
            <ul class="govuk-list">
                <li *ngFor="let browser of supportedBrowsers">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter" style="padding: 5px; width: 6%;">
                                <img src="{{ browser.iconPath }}"
                                     height="48"
                                     width="48"
                                     class="govuk-!-margin-right-2"
                                     alt="{{ browser.name }} browser logo" />
                            </div>
                            <div class="govuk-grid-column-three-quarters" style="padding-top: 15px;">
                                <p>{{ browser.displayName }}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
