<h1 class="govuk-heading-xl govuk-!-margin-top-8">{{ 'magic-participant-landing-page.page-title' | translate }}</h1>  

<p>{{ 'magic-participant-landing-page.paragraph1' | translate }}</p>

<form [formGroup]="magicLinkForm" class="govuk-form-group" (ngSubmit)="onSubmit()">
  <div [ngClass]="{ 'govuk-form-group--error': error.nameError }" class="govuk-!-margin-bottom-5">
    <p *ngIf="error.nameError" class="govuk-error-message">{{ 'magic-participant-landing-page.name-error' | translate }}</p>
    <label class="govuk-label" for="full-name">
      {{ 'magic-participant-landing-page.name-label' | translate }}
    </label>
    <input formControlName="name" class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
  </div>

  <div [ngClass]="{ 'govuk-form-group--error': error.roleError }">
    <p *ngIf="error.roleError" class="govuk-error-message">{{ 'magic-participant-landing-page.role-error' | translate }}</p>
    <p>{{ 'magic-participant-landing-page.role-label' | translate }}</p>

    <div *ngFor="let magicLinkParticipantRole of magicLinkParticipantRoles" class="govuk-radios__item">
      <ng-container [ngSwitch]="magicLinkParticipantRole">
        <ng-container *ngSwitchCase="role.MagicLinkParticipant">
          <input 
            [id]="magicLinkParticipantRole"
            formControlName="magicLinkParticipantRole"
            class="govuk-radios__input"
            name="magicLinkParticipantRole"
            type="radio"
            [value]="magicLinkParticipantRole"
            [attr.aria-describedby]="magicLinkParticipantRole + '-item-hint'">
          <label class="govuk-label govuk-radios__label" [attr.for]="magicLinkParticipantRole">
            {{ 'magic-participant-landing-page.participant.role' | translate }}
          </label>
          <div [id]="magicLinkParticipantRole + '-item-hint'"  class="govuk-hint govuk-radios__hint">
            {{ 'magic-participant-landing-page.participant.description' | translate }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="role.MagicLinkObserver">
          
          <input 
            [id]="magicLinkParticipantRole"
            formControlName="magicLinkParticipantRole"
            class="govuk-radios__input"
            name="magicLinkParticipantRole"
            type="radio"
            [value]="magicLinkParticipantRole"
            [attr.aria-describedby]="magicLinkParticipantRole + '-item-hint'">
          <label class="govuk-label govuk-radios__label" [attr.for]="magicLinkParticipantRole">
            {{ 'magic-participant-landing-page.observer.role' | translate }}
          </label>
          <div [id]="magicLinkParticipantRole + '-item-hint'"  class="govuk-hint govuk-radios__hint">
            {{ 'magic-participant-landing-page.observer.description' | translate }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <button
    id="continue-btn"
    class="govuk-button govuk-!-margin-top-6"
    data-module="govuk-button"
    type="button"
    (click)="onSubmit()"
    [attr.aria-label]="'magic-participant-landing-page.button-continue' | translate"
  >
  {{ 'magic-participant-landing-page.button-continue' | translate }}
  </button>
</form>

<app-contact-us-folding></app-contact-us-folding>