<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-8">
        <h1 class="govuk-heading-xl">{{'error-camera-microphone.problem-with-camera-mic' | translate}}</h1>
        <div *ngIf="deviceIsInUse; else deviceNotFound">
            <p class="govuk-body">
               {{'error-camera-microphone.camera-mic-in-use' | translate}}
            </p>

        </div>
        <ng-template #deviceNotFound>
            <p class="govuk-body">
              {{'error-camera-microphone.camera-mic-cannot-be-found' | translate}}
            </p>

        </ng-template>
        <p class="govuk-body govuk-!-margin-bottom-8">
            {{'error-camera-microphone.call-us' | translate}}
        </p>

        <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
            <button 
                    id="continue-btn"
                    class="govuk-button govuk-!-margin-right-1"
                    data-module="govuk-button"
                    type="button"
                    (click)="continue()"
                    [attr.aria-label]="'error-camera-microphone.button-continue' | translate">
                {{'error-camera-microphone.button-continue' | translate}}
            </button>
        </div>
    </div>
</div>

<app-contact-us-folding></app-contact-us-folding>
