<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Call us on <strong>{{contact.phone}}</strong> and quote your case number {{ caseNumber }}
      <br /><span class="govuk-hint">(available between 9am and 5pm, Monday to Friday)</span>
    </p>

    <p>Email us at <a href="mailto:{{contact.email}}">{{contact.email}}</a> quoting your case number {{ caseNumber }}
      <br /><span class="govuk-hint">(available between 9am and 5pm, Monday to Friday)</span>
    </p>
  </div>
</details>