<!-- Column 1 -->
<div
  [class]="{ yellow: hasSpotlight, red: isDisconnected }"
  appTooltip
  [isDesktopOnly]="false"
  [text]="panelRowTooltipText"
  [colour]="panelRowTooltipColour"
>
  <span *ngIf="isJudge">
    <img
      appCrestLogoImageSource
      [sctsImageSource]="'/assets/images/scot-crest-white.png'"
      [sctsAltText]="'participants-panel.scottish-crest' | translate"
      [hmctsImageSource]="'/assets/images/UkGovCrestWhite.png'"
      [hmctsAltText]="'participants-panel.crest' | translate"
      class="panel-icon panel-icon-crest"
      alt=""
    />
    <br />
  </span>
  <span *ngIf="isEndpoint">
    <fa-icon icon="tv" class="type-icon"> </fa-icon>
    <br />
  </span>
  <span *ngIf="isLinkedParticipantAndAnInterpreter">
    <fa-icon icon="language" class="type-icon"> </fa-icon>
    <br />
  </span>
  <span *ngIf="isJudicialOfficeHolder">
    <img
      appCrestLogoImageSource
      [sctsImageSource]="'/assets/images/scot-crest-white.png'"
      [sctsAltText]="'participants-panel.scottish-crest' | translate"
      [hmctsImageSource]="'/assets/images/UkGovCrestWhite.png'"
      [hmctsAltText]="'participants-panel.crest' | translate"
      class="panel-icon panel-icon-crest"
      alt=""
    />
    <br />
  </span>
  <span class="wrap-anywhere" innerHtml="{{ participant.displayName | MultiLinePipe }}"></span>
</div>

<ng-container *ngIf="!isDisconnected; else participantDisconnected">
  <!-- Column 2 -->
  <div>
    <div *ngIf="isParticipantInHearing">
      <app-participant-alert *ngIf="!isEndpoint" [participant]="mapParticipantToParticipantResponse()"></app-participant-alert>
    </div>
  </div>

  <!-- Column 3 -->
  <div>
    <div *ngIf="isParticipantInHearing">
      <ng-container *ngIf="!isHost">
        <img
          *ngIf="isMicRemoteMuted"
          appTooltip
          [text]="isMicRemoteMuted ? 'participants-panel.unmute-lock' : ('participants-panel.mute-participant' | translate)"
          colour="grey"
          [src]="isMicRemoteMuted ? '/assets/images/mic_remote_mute.png' : '/assets/images/mic.png'"
          class="panel-icon"
          [attr.alt]="(isMicRemoteMuted ? 'participants-panel.microphone-muted-icon' : 'participants-panel.microphone-on-icon') | translate"
          (click)="toggleParticipantMute(); $event.stopPropagation()"
          tabindex="0"
          (keyup.enter)="toggleParticipantMute(); $event.stopPropagation()"
        />
        <fa-icon
          *ngIf="!isMicRemoteMuted"
          appTooltip
          [text]="(isLocalMicMuted ? 'participants-panel.participant-muted' : 'participants-panel.mute-participant') | translate"
          colour="grey"
          icon="microphone"
          class="icon-button"
          [class]="{ red: isLocalMicMuted }"
          (click)="toggleParticipantMute(); $event.stopPropagation()"
          tabindex="0"
          (keyup.enter)="toggleParticipantMute(); $event.stopPropagation()"
        >
        </fa-icon>
      </ng-container>
    </div>
    <div *ngIf="isCallable && !isInHearing" [id]="idPrefix + '-' + participant.id + '-admit-participant-controls'">
      <ng-container *ngIf="isAvailable; else participantUnavailable">
        <fa-icon
          *ngIf="!transferringIn"
          [id]="idPrefix + '-' + participant.id + '-admit-participant-icon'"
          appTooltip
          [text]="
            isWitness
              ? ('participants-panel.call-witness' | translate)
              : ('participants-panel.admit-participant'
                | translate: { role: 'hearing-role.' + (participant.hearingRole | hyphenate) | translate | lowercase })
          "
          colour="green"
          class="icon-button"
          icon="sign-in-alt"
          (click)="callParticipantIntoHearing(); $event.stopPropagation()"
          tabindex="0"
          (keyup.enter)="callParticipantIntoHearing()"
        >
        </fa-icon>
        <div [id]="idPrefix + '-' + participant.id + '-transferring-in-text'" *ngIf="transferringIn" class="yellow">
          {{ 'participants-panel.joining1' | translate }}
        </div>
      </ng-container>
      <ng-template #participantUnavailable>
        <fa-icon
          [id]="idPrefix + '-' + participant.id + '-participant-unavailable-icon'"
          appTooltip
          [text]="
            'participants-panel.participant-unavailable'
              | translate: { role: 'hearing-role.' + (participant.hearingRole | hyphenate) | translate }
          "
          colour="grey"
          class="icon-button no-click"
          icon="question-circle"
        >
        </fa-icon>
      </ng-template>
    </div>
  </div>

  <!-- Column 4 -->
  <div>
    <div
      *ngIf="!isJudge && hasHandRaised"
      class="icon-button"
      appTooltip
      [text]="'participants-panel.lower-hand' | translate"
      colour="grey"
      (click)="lowerParticipantHand(); $event.stopPropagation()"
    >
      <fa-icon [icon]="['far', 'hand-paper']" class="yellow" tabindex="0" (keyup.enter)="lowerParticipantHand()"></fa-icon>
    </div>
  </div>

  <!-- Column 5 -->
  <div>
    <div
      *ngIf="isParticipantInHearing && !isLocalCameraOff"
      class="icon-button"
      appTooltip
      [text]="
        hasSpotlight
          ? participant.displayName + ('participants-panel.remove-spotlight' | translate)
          : participant.displayName + ('participants-panel.click-to-spotlight' | translate)
      "
      colour="blue"
      (click)="toggleParticipantSpotlight(); $event.stopPropagation()"
    >
      <fa-icon icon="thumbtack" [class]="{ yellow: hasSpotlight }" tabindex="0" (keyup.enter)="toggleParticipantSpotlight()"></fa-icon>
    </div>
    <div *ngIf="isParticipantInHearing && isLocalCameraOff" class="icon-button no-click">
      <fa-icon appTooltip [text]="'participants-panel.camera-off' | translate" icon="video-slash" class="red"></fa-icon>
    </div>
  </div>

  <!-- Column 6 -->
  <div>
    <app-judge-context-menu
      [participantInput]="participant"
      *ngIf="!isHost"
      [hidden]="!isParticipantInHearing && !isAvailable"
      (toggleMuteParticipantEvent)="toggleParticipantMute()"
      (toggleSpotlightParticipantEvent)="toggleParticipantSpotlight()"
      (lowerParticipantHandEvent)="lowerParticipantHand()"
      (callParticipantIntoHearingEvent)="callParticipantIntoHearing()"
      (dismissParticipantFromHearingEvent)="dismissParticipantFromHearing()"
      (toggleLocalMuteParticipantEvent)="toggleParticipantLocalMute()"
    ></app-judge-context-menu>
  </div>
</ng-container>
<ng-template #participantDisconnected>
  <div class="status-disconnected">
    <app-participant-alert *ngIf="!isEndpoint" [participant]="mapParticipantToParticipantResponse()"></app-participant-alert>
  </div>
</ng-template>
