@use 'govuk-frontend/dist/govuk/base' as *;

.yellow {
  color: govuk-colour('yellow') !important;
}
.red {
  color: govuk-colour('red') !important;
}
.white {
  color: govuk-colour('white') !important;
}

.panel-icon {
  width: 24px;
  cursor: pointer;
}

.panel-icon-crest {
  width: 27px;
}

.status-disconnected {
  grid-column-start: 2;
  grid-column-end: 7;
}

.type-icon {
  font-size: 30px;
}

.participants-grid {
  font-family: 'GDS Transport', arial, sans-serif;
  color: govuk-colour('white');
  display: grid;
  grid-template-columns: auto 30px 30px 30px 30px 30px;
  > div {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  }
}

.icon-button,
.icon-button-dark {
  cursor: pointer;
  opacity: 0.9;
  font-size: 20px;
}

.icon-button {
  color: govuk-colour('white');
}

.icon-button-dark {
  color: govuk-colour('black');
}

.icon-button:hover {
  opacity: 1;
}

.no-click {
  cursor: default !important;
  opacity: 1 !important;
}
