<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date & time</th>
      <th class="govuk-table__header" scope="col">Video hearing details</th>
      <th class="govuk-table__header" scope="col">Participants</th>
      <th class="govuk-table__header" scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr *ngFor="let conference of conferences" id="judges-list" class="govuk-table__row">
      <!-- Date & Time -->
      <td class="govuk-table__cell">
        {{ conference.scheduled_date_time | date: "dd MMM yyyy" }} <br />
        {{ conference.scheduled_date_time | date: "HH:mm" }} <br />
        <span id="with-hint-hint" class="govuk-hint">
          listed for {{ getDuration(conference.scheduled_duration) }}
        </span>
      </td>

      <!-- Video Hearing Details -->
      <td class="govuk-table__cell">
        <p>
          <strong>
            {{ conference.case_number }} <br />
            {{ conference.case_name }}
          </strong>
        </p>
        <p class="govuk-!-margin-top-0">
          {{ conference.case_type }}
        </p>
      </td>

      <!-- Participant Statuses -->
      <td class="govuk-table__cell">
        <p *ngIf="hasUnavailableParticipants(conference)" class="vh-red">
          {{ conference.no_of_participants_unavailable }} Not Available
        </p>
        <p *ngIf="hasAvailableParticipants(conference)" class="vh-green">
          {{ conference.no_of_participants_available }} Available
        </p>
        <p *ngIf="hasInConsultationParticipants(conference)" class="vh-green">
          {{ conference.no_of_participants_in_consultation }} In consultation
        </p>
      </td>

      <!-- Conference Status -->
      <td class="govuk-table__cell">
        <div *ngIf="isPausedOrSuspended(conference) && canStartHearing(conference)">
          <span class="vh-red">{{ conference.status }}</span> <br />
          <input type="button" id="start-hearing-btn-{{ conference.id }}" class="govuk-button govuk-!-margin-top-3"
            role="button" value="Resume hearing" (click)="signIntoConference(conference)"
            alt="Sign into the conference" />
        </div>

        <div *ngIf="!isPausedOrSuspended(conference) && canStartHearing(conference)">
          <input type="button" id="start-hearing-btn-{{ conference.id }}" class="govuk-button govuk-!-margin-top-3"
            role="button" value="Start hearing" (click)="signIntoConference(conference)"
            alt="Sign into the conference" />
        </div>

        <div *ngIf="!canStartHearing(conference)">
          Not ready to start
        </div>
      </td>
    </tr>
  </tbody>
</table>
