<div class="container">
    <h2 class="govuk-heading-s white">{{ 'private-consultation-participants.participants' | translate }}</h2>
    <div class="participant-grid">
        <ng-container *ngIf="isJohConsultation()">
            <ng-container *ngIf="!!judge">
                <ng-container *ngTemplateOutlet="johIcon"></ng-container>
                <div class="member-group">
                        <app-participant-item
                            [participant]="judge"
                            [conferenceId]="conference.id"
                            [roomLabel]="roomLabel"
                            [participantCallStatuses]="participantCallStatuses"
                            [canInvite]="canInvite"
                            [status]="getParticipantStatus(judge)"
                            >
                        </app-participant-item>                              
                </div>
            </ng-container>
            <ng-container *ngFor="let group of johGroups">
                <ng-container *ngIf="group.length > 0">
                    <ng-container *ngTemplateOutlet="johIcon"></ng-container>
                    <div class="member-group">
                        <ng-container *ngFor="let participant of group; trackBy: trackParticipant">        
                            <app-participant-item
                                [participant]="participant"
                                [interpreter]="participant?.interpreter"
                                [conferenceId]="conference.id"
                                [roomLabel]="roomLabel"
                                [participantCallStatuses]="participantCallStatuses"
                                [canInvite]="canInvite"
                                [status]="getParticipantStatus(participant)"
                                >
                            </app-participant-item>                              
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let staffMember of staffMembers">
                <ng-container *ngTemplateOutlet="johIcon"></ng-container>
                <div class="member-group">
                    <app-participant-item
                        [participant]="staffMember"
                        [conferenceId]="conference.id"
                        [roomLabel]="roomLabel"
                        [participantCallStatuses]="participantCallStatuses"
                        [canInvite]="canInvite"
                        [status]="getParticipantStatus(staffMember)"
                        >
                    </app-participant-item>           
                </div>
            </ng-container>
        </ng-container> 
        <ng-container  *ngFor="let participant of getPrivateConsultationParticipants(); trackBy: trackParticipant">
            <div class="member-group">
                <app-participant-item
                                [participant]="participant"
                                [interpreter]="participant?.interpreter"
                                [conferenceId]="conference.id"
                                [roomLabel]="roomLabel"
                                [participantCallStatuses]="participantCallStatuses"
                                [canInvite]="canInvite"
                                [status]="getParticipantStatus(participant)"
                                >
                </app-participant-item>
            </div>
        </ng-container>


        <ng-container *ngFor="let endpoint of endpoints">
            <div class="endpoint-row">
                <div class="header-left"  [class]="getRowClasses(endpoint)">
                    <app-invite-participant *ngIf="canCallEndpoint(endpoint)"
                        [endpointId]="endpoint.id"
                        [conferenceId]="conference.id"
                        [roomLabel]="roomLabel">
                    </app-invite-participant>
                    <fa-icon *ngIf="isParticipantInCurrentRoom(endpoint)"
                        icon="check"
                        aria-hidden="true"></fa-icon>
                </div>
                <app-private-consultation-participant-status [entity]="endpoint" [status]="getParticipantStatus(endpoint)" [roomLabel]="roomLabel">
                </app-private-consultation-participant-status>
            </div>
        </ng-container>
        <ng-container *ngIf="isJohConsultation()">
            <ng-container  *ngFor="let participant of getWitnessesAndObservers(); trackBy: trackParticipant">
                <div  class="member-group">
                    <app-participant-item
                                    [participant]="participant"
                                    [interpreter]="participant?.interpreter"
                                    [conferenceId]="conference.id"
                                    [roomLabel]="roomLabel"
                                    [participantCallStatuses]="participantCallStatuses"
                                    [canInvite]="canInvite"
                                    [status]="getParticipantStatus(participant)"
                                    >
                    </app-participant-item>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #johIcon>
    <div class="joh-icon">
        <img class="small-crest"
        appCrestLogoImageSource
        [sctsImageSource]="'/assets/images/scot-crest-white.png'"
        [sctsAltText]=" ('private-consultation-participants.crest-icon-alt' | translate)"
        [hmctsImageSource]="'/assets/images/UkGovCrestWhite.png'"
        [hmctsAltText]=" ('private-consultation-participants.crest-icon-alt' | translate)"
        alt="" 
        />                    
    </div>
</ng-template>