@import '~govuk-frontend/govuk/base';

.container {
  padding: 12px;
}

.participant-grid {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-family: 'GDS Transport', arial, sans-serif;
  .participant-row,
  .endpoint-row {
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-top: 1em;
    padding-bottom: 1em;

    > div {
      margin-right: 0.5em;
    }
  }

  .member-group {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .language-icon {
    margin: 0.5em 0 -0.5em 1em;
    font-size: 1.5em;
    > .small-crest {
      width: 30px;
      margin-top: -3px;
    }
  }
}

.header-left {
  width: 16px;
}

.text-right {
  text-align: right;
}

.yellow {
  color: govuk-colour('yellow');
}
.red {
  color: govuk-colour('red');
}
.white {
  color: rgba(255, 255, 255, 0.9);
}

.outline {
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 4px;
  color: rgba(255, 255, 255, 0.9);
}
