@use 'govuk-frontend/dist/govuk/base' as *;

.container {
  padding: 12px;
}

.participant-grid {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-family: 'GDS Transport', arial, sans-serif;
  .participant-row,
  .endpoint-row {
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-top: 1em;
    padding-bottom: 1em;

    > div {
      margin-right: 0.5em;
    }
  }

  .member-group {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .joh-icon {
    margin: 0.5em 0 -0.5em 1em;
    font-size: 1.5em;
    > .small-crest {
      width: 30px;
      margin-top: -3px;
    }
  }
}

.header-left {
  width: 16px;
}

.white {
  color: rgba(255, 255, 255, 0.9);
}
