<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date & time</th>
          <th class="govuk-table__header" scope="col">Video hearing details</th>
          <th class="govuk-table__header" scope="col">Participants</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr *ngFor="let conference of conferences" id="judges-list" class="govuk-table__row">
          <!-- Date & Time -->
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.scheduled_date_time | date:'dd MMM yyyy' }}</p>
            <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.scheduled_date_time | date:'HH:mm' }}</p>
            <p id="with-hint-hint" class="govuk-hint govuk-!-margin-0 govuk-!-padding-0">
              listed for {{ getDuration(conference.scheduled_duration) }}
            </p>
          </td>

          <!-- Video Hearing Details -->
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-0 govuk-!-padding-0">
              <strong>
                <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.case_number}}</p>
                <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.case_name}}</p>
              </strong>
            </p>
            <p class="govuk-!-margin-0">
              {{ conference.case_type }}
            </p>
          </td>

          <!-- Participant Statuses -->
          <td class="govuk-table__cell">
            <p *ngIf="hasUnavailableParticipants(conference)" class="unavailable govuk-!-margin-0 govuk-!-padding-0">
              {{ conference.no_of_participants_unavailable }} Not Available
            </p>
            <p *ngIf="hasAvailableParticipants(conference)" class="available govuk-!-margin-0 govuk-!-padding-0">
              {{ conference.no_of_participants_available }} Available
            </p>
            <p *ngIf="hasInConsultationParticipants(conference)" class="available govuk-!-margin-0 govuk-!-padding-0">
              {{ conference.no_of_participants_in_consultation }} In consultation
            </p>
          </td>

          <!-- Conference Status -->
          <td class="govuk-table__cell">
            <div *ngIf="isPausedOrSuspended(conference) && canStartHearing(conference)">
              <p class="unavailable govuk-!-margin-bottom-0"><strong>{{ conference.status }}</strong></p>

              <input type="button" id="start-hearing-btn-{{ conference.id }}" class="govuk-button govuk-!-margin-top-3"
                role="button" value="Resume hearing" (click)="signIntoConference(conference)"
                alt="Sign into the conference" />
            </div>

            <div *ngIf="!isPausedOrSuspended(conference) && canStartHearing(conference)">
              <input type="button" id="start-hearing-btn-{{ conference.id }}"
                class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-3" role="button" value="Start hearing"
                (click)="signIntoConference(conference)" alt="Sign into the conference" />
            </div>

            <div *ngIf="!canStartHearing(conference)">
              Not ready to start
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>