<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="!loadingData && hasHearings()" class="govuk-grid-row">
  <h1 class="govuk-heading-xl">Video hearings for {{courtName}}</h1>
  <div class="govuk-!-margin-top-4">
    <input type="button" id="check-equipment-btn" class="govuk-button" role="button" value="Check equipment"
      (click)="goToEquipmentCheck()" alt="Check equipment" />
  </div>
  <div>
    <p class="govuk-caption-xl">{{ today | date:'fullDate' }}</p>
  </div>
  <app-judge-hearing-table [conferences]="conferences"></app-judge-hearing-table>
</div>

<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl">Video hearings for {{courtName}}</h1>
  <h3 class="govuk-heading-m"> You have no video hearings</h3>
  <p class="govuk-body">If you are expecting to see details of your hearing listed here, please contact us using the
    options below.</p>
</div>

<div *ngIf="!loadingData">
  <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Do you need help?</h2>
  <p class="govuk-body">Call the video hearings team on <span class="govuk-!-font-weight-bold">{{contact.phone}}</span>
  </p>
</div>
