<div class="govuk-grid-row">
    <div class="govuk-grid-column-full table-container">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">{{ 'judge-hearing-table.time' | translate }}</th>
                    <th class="govuk-table__header" scope="col">{{ 'judge-hearing-table.judge' | translate }}</th>
                    <th class="govuk-table__header" scope="col">{{ 'judge-hearing-table.hearing' | translate }}</th>
                    <th class="govuk-table__header" scope="col">{{ 'judge-hearing-table.attendees' | translate }}</th>
                    <th class="govuk-table__header" scope="col">{{ 'judge-hearing-table.conference-status-heading' | translate }}</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr *ngFor="let hearing of hearings" id="judges-list-{{ hearing.id }}" class="govuk-table__row">
                    <!-- Time -->
                    <td class="govuk-table__cell">
                        <p id="scheduled-datetime-{{ hearing.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
                            {{ hearing.scheduledStartTime | date: 'HH:mm' }} -
                            {{ hearing.scheduledEndTime | date: 'HH:mm' }}
                        </p>
                    </td>

                    <!-- Judge-->
                    <td class="govuk-table__cell">
                        <p id="judge-{{ hearing.id }}" class="govuk-!-margin-0 govuk-!-padding-0">{{
                            hearing.judge?.displayName }}</p>
                    </td>

                    <!-- Hearing -->
                    <td class="govuk-table__cell">
                        <p id="case-name-{{ hearing.id }}"
                            class="govuk-!-margin-0 govuk-!-padding-0 govuk-!-font-weight-bold">
                            {{ hearing.caseName }}
                        </p>
                        <p id="case-type-{{ hearing.id }}" class="govuk-!-margin-0">
                            {{ 'case-type.' + stringToTranslateId(hearing.caseType) | translate }}
                        </p>
                        <p class="govuk-!-margin-0 govuk-!-padding-0">
                            {{ 'judge-hearing-table.case-number' | translate }}<span id="case-number-{{ hearing.id }}"
                                class="govuk-!-font-weight-bold">{{ hearing.caseNumber }}</span>
                        </p>
                    </td>

                    <!-- Participant -->
                    <td class="govuk-table__cell">
                        <div *ngIf="!hearing.isClosed()">
                            <!-- Participant count -->
                            <span *ngIf="hearing.panelMembers.length > 0">
                                <p class="govuk-!-margin-0 govuk-!-padding-0">
                                    <span id="panel-member-count-{{ hearing.id }}">
                                        {{ hearing.panelMembers.length }} {{ hearing.panelMembers.length > 1 ?
                                        getTranslation('panel-members') : getTranslation('panel-member') }}
                                    </span>
                                </p>
                            </span>
                            <span *ngIf="hearing.wingers.length > 0">
                                <p class="govuk-!-margin-0 govuk-!-padding-0">
                                    <span id="winger-count-{{ hearing.id }}">
                                        {{ hearing.wingers.length }} {{ hearing.wingers.length > 1 ?
                                        getTranslation('wingers') : getTranslation('winger') }}
                                    </span>
                                </p>
                            </span>
                            <span *ngIf="hearing.staffMembers.length > 0">
                                <p class="govuk-!-margin-0 govuk-!-padding-0">
                                    <span id="staff-member-count-{{ hearing.id }}">
                                        {{ hearing.staffMembers.length }} {{ hearing.staffMembers.length > 1 ? 
                                        getTranslation('staff-members') : getTranslation('staff-member') }}
                                    </span>
                                </p>
                            </span>
                            <span *ngIf="hearing.nonJudicialParticipantsExcludingObservers.length > 0">
                                <p class="govuk-!-margin-0 govuk-!-padding-0">
                                    <span id="participant-count-{{ hearing.id }}">
                                        {{ hearing.nonJudicialParticipantsExcludingObservers.length }} {{
                                        hearing.nonJudicialParticipantsExcludingObservers.length > 1 ?
                                        getTranslation('participants') : getTranslation('participant')
                                        }}
                                    </span>
                                </p>
                            </span>
                            <div *ngIf="hearing.numberOfEndpoints > 0">
                                <span id="endpoints-count-{{ hearing.id }}">
                                    {{ hearing.numberOfEndpoints }} {{ hearing.numberOfEndpoints > 1 ?
                                    getTranslation('video-access-points') : getTranslation('video-access-point') }}
                                </span>
                            </div>
                            <span *ngIf="hearing.observers.length > 0">
                                <p class="govuk-!-margin-0 govuk-!-padding-0">
                                    <span id="observer-count-{{ hearing.id }}">
                                        {{ hearing.observers.length }} {{ hearing.observers.length > 1 ?
                                        getTranslation('observers') : getTranslation('observer') }}
                                    </span>
                                </p>
                            </span>
                        </div>

                        <div *ngIf="hearing.isClosed() && hearing.isExpired()">
                            <span class="govuk-caption-m">{{
                                'judge-hearing-table.judicial-consultation-room-is-now-closed' | translate }}</span>
                        </div>

                        <div *ngIf="hearing.isClosed() && !hearing.isExpired()">
                            <a class="govuk-link" href="javascript:void(0)" (click)="signIntoConference(hearing)">{{
                                'judge-hearing-table.judicial-consultation-room-open-until' | translate }}{{
                                hearing.retrieveExpiryTime() | date: 'HH:mm' }}</a>
                        </div>
                    </td>

                    <!-- Conference Status -->
                    <td class="govuk-table__cell">
                        <div *ngIf="!hearing.isClosed() && hearing.isReadyToStart()">
                            <button id="start-hearing-btn-{{ hearing.id }}"
                                class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-3"
                                data-module="govuk-button" type="button" (click)="signIntoConference(hearing)">
                                {{ 'judge-hearing-table.select' | translate }}
                            </button>
                        </div>
                        <div *ngIf="!hearing.isClosed() && !hearing.isReadyToStart()">{{
                            'judge-hearing-table.not-ready-to-start' | translate }}</div>
                        <div *ngIf="showConferenceStatus(hearing)" class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                            <span id="hearing-status-{{ hearing.id }}"
                                class="govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-!-padding-right-2 govuk-!-padding-left-2 govuk-tag"
                                [ngClass]="{
                  'govuk-tag--grey': hearing.isClosed(),
                  'govuk-tag': hearing.isPaused() || hearing.isInSession(),
                  'govuk-tag--red': hearing.isSuspended()
                }">{{ 'conference-status.' + stringToTranslateId(hearing.status) | translate }}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
