<div *ngIf="loadingData" class="govuk-!-padding-top-2">
  <p class="govuk-body">{{ 'judge-hearing-list.loading-please-wait' | translate }}</p>
</div>

<div id="hearing-list" *ngIf="!loadingData && hasHearings()">
  <div class="govuk-!-margin-top-5">
    <h1 class="govuk-heading-xl">{{ 'judge-hearing-list.video-hearings-for-court-name' | translate:{ courtName: courtName } }}</h1>
  </div>
  <div class="govuk-!-margin-top-4">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button" (click)="goToEquipmentCheck()" alt="{{ 'judge-hearing-list.check-equipment' | translate }}">
      {{ 'judge-hearing-list.check-equipment' | translate }}
    </button>
  </div>
  <div>
    <p class="govuk-caption-xl">{{ today | date: 'fullDate' }}</p>
  </div>
  <app-judge-hearing-table [conferences]="conferences" (selectedConference)="onConferenceSelected($event)"> </app-judge-hearing-table>
</div>

<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{ 'judge-hearing-list.video-hearings-for-court-name' | translate:{ courtName: courtName } }}</h1>
  <div class="govuk-!-margin-top-1">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button" (click)="goToEquipmentCheck()" alt="{{ 'judge-hearing-list.check-equipment' | translate }}">
      {{ 'judge-hearing-list.check-equipment' | translate }}
    </button>
  </div>
  <h2 class="govuk-heading-m">{{ 'judge-hearing-list.you-have-no-video-hearings' | translate }}</h2>
  <p class="govuk-body">{{ 'judge-hearing-list.if-no-details-shown-please-contact-us' | translate }}</p>
</div>

<div id="contact-team" *ngIf="!loadingData" [ngClass]="{ 'contact-team': hasHearings() }">
  <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-1">{{ 'judge-hearing-list.do-you-need-help' | translate }}</h2>
  <p class="govuk-body">
    {{ 'judge-hearing-list.call-the-video-hearings-team-on' | translate }}<span class="govuk-!-font-weight-bold">{{ contact.phone }}</span>
  </p>
</div>
