@import "~govuk-frontend/all";

.conference-closed {
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  font-weight: bold;
}

.conference-paused {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  font-weight: bold;
}

.conference-suspended {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  font-weight: bold;
}
