@import '~govuk-frontend/govuk/all';

.unavailable {
  color: govuk-colour('red');
}

.available {
  color: govuk-colour('green');
}

.vh-mb5 {
  margin-bottom: 5px;
}
.vh-ml5 {
  margin-left: 5px;
}
