<div>
  <div id="p-row-{{ judge.id }}" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half vh-mb5">
      <div class="govuk-heading-m govuk-!-margin-bottom-0">Judge</div>
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        <strong>{{ judge.displayName }}</strong>
      </p>
    </div>
    <div class="govuk-grid-column-one-half vh-mb5">
      <img
        alt=""
        src=""
        height="50"
        class="govuk-header__logotype-crest"
        appCrestLogoImageSource
        [sctsImageSource]="'/assets/images/scottish-crest-grey.png'"
        [sctsAltText]="'individual-participant-status-list.scottish-crest' | translate"
        [hmctsImageSource]="'/assets/images/govuk-crest.svg'"
        [hmctsAltText]="'individual-participant-status-list.crest-icon-alt' | translate"
      />
    </div>
  </div>
  <div class="vh-line govuk-!-margin-bottom-3"></div>

  <div *ngIf="wingers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'individual-participant-status-list.wingers' | translate }} ({{ wingers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of wingers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-0">
            {{ participant.name ?? participant.displayName }}
          </p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="panelMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'individual-participant-status-list.panel-members' | translate }} ({{ panelMembers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of panelMembers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-0">
            {{ participant.name ?? participant.displayName }}
          </p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="staffMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'individual-participant-status-list.staff-member' | translate }}</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of staffMembers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-staff-member" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-staff-member" class="govuk-heading-s govuk-!-margin-bottom-0">
            {{ participant.displayName }}
          </p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="nonJudgeParticipants.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">
          {{ 'individual-participant-status-list.participants' | translate }} ({{ nonJudgeParticipants.length }})
        </h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of nonJudgeParticipants; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <dl id="p-row-{{ participant.id }}-participant" class="govuk-grid-column-full participant-details">
          <dt id="p-{{ participant.id }}-name-participant" class="govuk-heading-s govuk-!-margin-bottom-0">
            <span *ngIf="hasInterpreterLink(participant)" class="vh-interpreter-icon">
              <fa-icon icon="language" size="2x"></fa-icon>
            </span>
            {{ participant.name ?? participant.displayName }}
          </dt>

          <dd
            id="p-{{ participant.id }}-hearing-role-participant"
            class="govuk-body-m govuk-!-margin-bottom-3"
            [innerHtml]="getHearingRole(participant)"
          ></dd>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-participant"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              <ng-container [ngSwitch]="getParticipantStatus(participant)">
                <ng-container *ngSwitchCase="ParticipantStatus.Available">
                  {{ 'individual-participant-status-list.available' | translate }}
                </ng-container>
                <ng-container *ngSwitchCase="ParticipantStatus.InConsultation">
                  <span>{{ 'start-private-consultation.in' | translate }} </span>
                  <span>{{ participant.room?.label | roomName | lowercase }} </span>
                  <fa-icon *ngIf="participant.room?.locked" icon="lock"></fa-icon>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ 'individual-participant-status-list.unavailable' | translate }}
                </ng-container>
              </ng-container>
            </span>
          </dd>
          <dd class="vh-line" *ngIf="!lastItem"></dd>
        </dl>
      </div>
    </div>
  </div>

  <div *ngIf="endpoints.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'individual-participant-status-list.video-access-points' | translate }} ({{ endpoints.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let endpoint of endpoints; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ endpoint.id }}-endpoints" class="govuk-grid-column-full">
          <p id="p-{{ endpoint.id }}-name-endpoints" class="govuk-heading-s govuk-!-margin-bottom-0">{{ endpoint.displayName }}</p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="observers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'individual-participant-status-list.observers' | translate }} ({{ observers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of observers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-observer" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-observer" class="govuk-heading-s govuk-!-margin-bottom-0">
            {{ participant.name ?? participant.displayName }}
          </p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>
</div>
