<div>
  <div id="p-row-{{ judge.id }}" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half vh-mb5">
      <div class="govuk-heading-m govuk-!-margin-bottom-0">Judge</div>
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        <strong>{{ judge.display_name }}</strong>
      </p>
    </div>
    <div class="govuk-grid-column-one-half vh-mb5">
      <img
        src="/assets/images/govuk-crest.png"
        height="50"
        width="50"
        class="govuk-header__logotype-crest"
        alt="HM Courts &amp; Tribunals Service crest"
      />
    </div>
  </div>
  <div class="vh-line govuk-!-margin-bottom-3"></div>

  <div *ngIf="panelMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Panel members ({{ panelMembers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of panelMembers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-0">{{ participant.name }}</p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="nonJudgeParticipants.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Participants ({{ nonJudgeParticipants.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of nonJudgeParticipants; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-participant" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name" class="govuk-heading-s govuk-!-margin-bottom-0">{{ participant.name }}</p>

          <p id="p-{{ participant.id }}-representee" *ngIf="participant.representee" class="govuk-body-s govuk-!-margin-bottom-1">
            {{ !isCaseTypeNone(participant) ? 'Representative' : participant.hearing_role }} for {{ participant.representee }}
          </p>

          <p id="p-{{ participant.id }}-hearing-role" *ngIf="!participant.representee" class="govuk-body-s govuk-!-margin-bottom-1">
            {{ participant.hearing_role }}
          </p>

          <p *ngIf="!isCaseTypeNone(participant)" id="p-{{ participant.id }}-case-type-group" class="govuk-body-s govuk-!-margin-bottom-1">
            {{ participant.case_type_group }}
          </p>

          <div *ngIf="canCallParticipant(participant)">
            <img src="/assets/images/glyphicons-181-facetime-video.png" width="20" height="13" alt="video camera icon" />
            <a
              id="p-call-{{ participant.id }}-btn"
              class="govuk-link govuk-!-margin-bottom-0 vh-ml5"
              href="javascript:void(0)"
              (click)="beginCallWith(participant)"
              >Contact this person by video</a
            >
          </div>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="endpoints.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Video access points ({{ endpoints.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let endpoint of endpoints; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ endpoint.id }}-endpoints" class="govuk-grid-column-full">
          <p id="p-{{ endpoint.id }}-name-endpoints" class="govuk-heading-s govuk-!-margin-bottom-0">{{ endpoint.display_name }}</p>
          <div *ngIf="canCallEndpoint(endpoint)">
            <img src="/assets/images/glyphicons-181-facetime-video.png" width="20" height="13" alt="video camera icon" />
            <a
              id="p-call-{{ endpoint.id }}-btn"
              class="govuk-link govuk-!-margin-bottom-0 vh-ml5"
              href="javascript:void(0)"
              (click)="beginEndpointCallWith(endpoint)"
              >Contact this endpoint by video</a
            >
          </div>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="observers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Observers ({{ observers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of observers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-observer" class="govuk-grid-column-full">
          <p id="p-{{ participant.id }}-name-observer" class="govuk-heading-s govuk-!-margin-bottom-0">{{ participant.name }}</p>
          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal id="raise-pc-modal" class="modal clear consultation">
  <app-raise-consultation
    *ngIf="consultationRequestee"
    [consultationRequestee]="consultationRequestee"
    (cancelledRequest)="cancelConsultationRequest()"
  ></app-raise-consultation>
</app-modal>

<app-modal id="receive-pc-modal" class="modal clear consultation">
  <app-receive-consultation
    *ngIf="consultationRequester"
    [consultationRequester]="consultationRequester"
    (respondedToConsulation)="answerConsultationRequest($event)"
  ></app-receive-consultation>
</app-modal>

<app-modal id="accepted-pc-modal" class="modal clear consultation">
  <app-accepted-consultation *ngIf="consultationRequestee" [consultationRequestee]="consultationRequestee"></app-accepted-consultation>
</app-modal>

<app-modal id="rejected-pc-modal" class="modal clear consultation">
  <app-rejected-consultation (closedModal)="closeAllPCModals()"></app-rejected-consultation>
</app-modal>

<app-modal id="vho-raise-pc-modal" class="modal clear consultation">
  <app-vho-raise-consultation (answeredVhoCall)="respondToVhoConsultationRequest($event)"></app-vho-raise-consultation>
</app-modal>

<app-modal id="no-room-pc-modal" class="modal clear consultation">
  <app-no-consultation-room (closedModal)="closeAllPCModals()"></app-no-consultation-room>
</app-modal>

<app-modal id="pc-error-modal" class="modal clear consultation">
  <app-consultation-error (closedModal)="closeAllPCModals()"></app-consultation-error>
</app-modal>
