<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{'equipment-problem.problem-with-equipment' | translate}}</h1>
    <p class="govuk-body govuk-!-margin-bottom-8"> {{'equipment-problem.not-working-call-us' | translate}}</p>
    <p class="govuk-body govuk-!-margin-bottom-6">{{'equipment-problem.call' | translate}} <strong>0300 303 0655</strong> {{'equipment-problem.for-vh-team' | translate}}</p>
  </div>
</div>

<app-contact-us-folding></app-contact-us-folding>
