@import '~govuk-frontend/govuk/all';

.notification-badge {
    width: auto;
    height: 28px;
    border-radius: 4px;
    position: absolute;
    float: right;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    margin-right: 4vw;
}

.notification-badge.has-messages {
    background-color: govuk-colour('blue');
}

.notification-badge.no-messages {
    background-color: govuk-colour('mid-grey');
}

.notification-badge:after {
    content: '';
    display: grid;
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    bottom: -10px;
    border-left: 2px solid transparent;
    border-right: 10px solid transparent;
}

.notification-badge.has-messages:after {
    border-top: 10px solid govuk-colour('blue');
}

.notification-badge.no-messages:after {
    border-top: 10px solid govuk-colour('mid-grey');
}

.notification-badge-counter.has-messages {
    font-size: 0.8em;
    text-align: center;
    color: govuk-colour('white');
}

.notification-badge-counter.no-messages {
    font-size: 0.8em;
    text-align: center;
    color: govuk-colour('mid-grey');
}
