<div *ngIf="isNetworkPoor" class="govuk-grid-row right-align-text">
  <div class="govuk-grid-column-full">
    <span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-margin-right-2">
      <img id="network-bad-img" class="networkIcon lower" src="/assets/images/alert-1.png" alt="{{'participant-network-health.good-network-icon' | translate}}" />
        {{'participant-network-health.your-connection-is-poor' | translate}}
    </span>
    <a class="govuk-body-s health-text--info" [ngClass]="{ 'vh-block': !showDetail }" (click)="displayGuidanceModal()"
      >{{'participant-network-health.tips-for-improving-your-connection' | translate}}</a
    >
  </div>

  <div class="govuk-grid-column-full" *ngIf="showDetail">
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{'participant-network-health.show-detail' | translate}}</p>
  </div>
</div>

<app-modal id="more-info-modal" class="modal clear">
  <div class="modal-content shadow">
    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-full govuk-!-margin-4">
        <h2 class="govuk-heading-l">{{'participant-network-health.tips-for-improving-your-internet-connection' | translate}}</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{'participant-network-health.message1' | translate}}</li>
          <li>{{'participant-network-health.message2' | translate}}</li>
          <li>{{'participant-network-health.message3' | translate}}</li>
        </ul>
      </div>
      <div class="actions-row">
        <button
          id="close-network-guidance-btn"
          class="govuk-button govuk-!-margin-top-4"
          data-module="govuk-button"
          (click)="closeGuidanceModal()"
        >
          {{'participant-network-health.close' | translate}}
        </button>
      </div>
    </div>
  </div>
</app-modal>
