@import '~govuk-frontend/govuk/all';

.health-container {
  background: govuk-colour('black');
  color: govuk-colour('white') !important;
  padding-top: 20px;
  padding-left: 8%;
}

.health-container.live-hearing {
  padding-right: 1vw;
  padding-top: 0px;
  float: right;
}

.health-text {
  color: govuk-colour('white');
}

.health-text.info {
  text-decoration: underline;
}

.networkIcon {
  height: 25px;
}

.modal-content {
  width: fit-content !important;
}

.actions-row {
  text-align: center;
}
