@import 'govuk-frontend/dist/govuk/base';
@import 'govuk-frontend/dist/govuk/core/index';

.selection-list {
  @extend .govuk-body;
}

.ng-select.custom ::ng-deep .ng-placeholder {
  color: govuk-colour('black');
}
