@import '~govuk-frontend/govuk/all';

.vh-popup {
  margin: 0;
  background: govuk-colour('white');
  border-radius: 0px;
  position: relative;
  transition: all 2s ease-in-out;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 50%;
}

.vh-popup-overlay {
  background: govuk-colour('white');
  position: relative;
}

.vh-popup-small {
  max-height: 300px !important;
  min-width: 500px !important;
}

.graph-title {
  background-color: govuk-colour('dark-grey');
  color: govuk-colour('white');
}

.graph-panel {
  margin-left: 0;
  margin-right: 0;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.graph-footer-yellow {
  background-color: govuk-colour('yellow');
}

.graph-footer-green {
  background-color: govuk-colour('green');
}

.graph-footer-red {
  background-color: govuk-colour('red');
}

.graph-footer-gray {
  background-color: govuk-colour('dark-grey');
}

.vh-text-panel {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.vh-c {
  color: govuk-colour('white');
}

.vh-center-panel {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
