@import '~govuk-frontend/govuk/all';

.vh-popup-overlay {
  background: govuk-colour('white');
  position: relative;
}

.vh-popup-small {
  max-height: 300px !important;
  min-width: 500px !important;
}

.graph-title {
  background-color: govuk-colour('dark-grey');
  color: govuk-colour('white');
}

.graph-panel {
  margin-left: 0;
  margin-right: 0;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.graph-footer-yellow {
  background-color: govuk-colour('yellow');
  color: govuk-colour('black');
}

.graph-footer-green {
  background-color: govuk-colour('green');
}

.graph-footer-red {
  background-color: govuk-colour('red');
}

.graph-footer-gray {
  background-color: govuk-colour('dark-grey');
}

.vh-text-panel {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.vh-c {
  color: govuk-colour('white');
}

.vh-center-panel {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.box {
  background: govuk-colour('white');
  width: auto;
  height: auto;
  border-radius: 3px;
  position: absolute;
  z-index: 99;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
}

.boxHead {
  @include govuk-font($size: 16, $weight: 'bold');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: govuk-colour('dark-grey');
  color: govuk-colour('white');
  padding: 12px 16px 8px 16px;
  border-radius: 3px 3px 0px 0px;
}

.signalHead {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.signalHeadName {
  grid-column: 1/1;
  justify-self: start;
  align-self: center;
  font-weight: 700;
}

.signalHeadTitle {
  grid-column: 2/2;
  justify-self: end;
  align-self: center;
}

.boxBody {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14286;
  background: govuk-colour('dark-grey');
  color: govuk-colour('white');
  padding: 12px 16px 8px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.boxFoot {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14286;
  color: govuk-colour('white');
  padding: 0px 15px;
  border-radius: 0px 0px 3px 3px;
}

.boxFoot--Dead {
  background: #0b0c0d;
  color: govuk-colour('white');
}

.boxFoot--Poor {
  background: govuk-colour('yellow');
  color: govuk-colour('black');
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px govuk-colour('light-grey');
  -moz-box-shadow: 3px 3px 5px 6px govuk-colour('light-grey');
  box-shadow: 3px 3px 5px 6px govuk-colour('light-grey');
}

.graph-display {
  display: block;
  margin: 10px;
  background-color: govuk-colour('white');
  border-radius: 3px;
}
