<div *ngIf="loadingData" class="govuk-body-l">
  Please wait to be connected...
</div>

<div *ngIf="!loadingData" class="govuk-width-container">
  <iframe #judgeIframe id="judgeIframe" [src]='selectedHearingUrl' allow='microphone *; camera *;' width="1000px"
          height="500px" allowfullscreen frameborder="0" webkitallowfullscreen mozallowfullscreen
          (load)="judgeURLChanged();" title="Judge view of the hearing room">
  </iframe>
</div>
<div *ngIf="showAudioRecordingAlert">
    <app-audio-alert (alertClose)="closeAlert($event)"></app-audio-alert>
</div>
