<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="-1" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
