<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ 'video-check.could-you-see-and-hear-the-video-clearly' | translate }}</h1>

    <form [formGroup]="form" class="govuk-form-group" (ngSubmit)="onSubmit()">
      <div [ngClass]="showError() ? 'govuk-form-group--error' : 'govuk-form-group'">
        <div *ngIf="showError()" class="govuk-error-message">
          <span class="govuk-visually-hidden">{{ 'video-check.error' | translate }}</span>
          {{ 'video-check.select-if-the-image-and-sound-were-clear' | translate }}
        </div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <label class="govuk-body" for="equipmentCheck">
              {{ 'video-check.were-the-image-and-sound-clear' | translate }}
            </label>
          </legend>
          <div class="govuk-radios govuk-!-margin-top-5">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="video-yes"
                formControlName="equipmentCheck"
                name="equipmentCheck"
                type="radio"
                value="{{ 'video-check.yes' | translate }}"
              />
              <label class="govuk-label govuk-radios__label" for="video-yes">
                {{ 'video-check.yes' | translate }}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="video-no"
                formControlName="equipmentCheck"
                name="equipmentCheck"
                type="radio"
                value="{{ 'video-check.no' | translate }}"
              />
              <label class="govuk-label govuk-radios__label" for="video-no">
                {{ 'video-check.no' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-!-margin-top-6">
        <button
          id="continue-btn"
          class="govuk-button govuk-!-margin-right-1"
          data-module="govuk-button"
          type="button"
          (click)="onSubmit()"
        >
        {{ 'video-check.continue' | translate }}
        </button>

        <button
          id="check-equipment-btn"
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          type="button"
          (click)="checkEquipmentAgain()"
        >
        {{ 'video-check.check-my-equipment-again' | translate }}
        </button>
      </div>
    </form>

    <app-contact-us-folding></app-contact-us-folding>
  </div>
</div>
