$govuk-global-styles: true;

@import '~govuk-frontend/govuk/base';
@import '~govuk-frontend/govuk/all';
@import '~@hmcts/frontend/all';
@import '~@ng-select/ng-select/themes/default.theme.css';

.grey-btn {
  background-color: govuk-colour('light-grey');
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 $govuk-border-colour;
}

.grey-btn:hover {
  background-color: govuk-colour('mid-grey');
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 govuk-colour('dark-grey');
}

.grey-btn:focus {
  background-color: govuk-colour('mid-grey');
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 govuk-colour('dark-grey');
}

.hearing-details-col1-width {
  width: 69%;
}

.hearing-details-col2-width {
  width: 31%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal.clear {
  background-color: rgb(223, 223, 223);
  /* Fallback color */
  background-color: rgba(223, 223, 223, 0);
}

.modal.consultation {
  position: fixed;
  left: 50%;
  top: 70%;
  width: 35vw;
  white-space: pre-wrap;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
}

.modal-content.negative {
  color: #ffffff;
  background-color: #1e1e1e;
  border: 1px solid #888;
}

.shadow {
  border: none;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.7);
}

.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  display: block;
  z-index: 1000;
}

.govuk-body--white,
.govuk-body-l--white,
.govuk-body-s--white {
  color: govuk-colour('white');
  text-align: center;
}

.vh-reduce-margin-top {
  margin-top: -30px;
}

.mb-2 {
  margin-bottom: 2px;
}

#master-container.fullscreen {
  @include govuk-width-container(9999px);
  margin-left: 10px !important;
}

.half-left {
  @include govuk-grid-column(one-half);
}

.half-right {
  @include govuk-grid-column(one-half, $float: right);
}

.vh-border {
  border: 1px solid govuk-colour('mid-grey');
  padding: 8px;
  border-radius: 3px 4px;
  margin-bottom: 15px;
}

.vh-line {
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.vh-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.vh-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.vh-tooltip {
  @include govuk-font(14, $weight: 'regular', $tabular: false, $line-height: false);
  color: govuk-colour('white');
  width: auto;
  height: auto;
  z-index: 999;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
  background: govuk-colour('blue');
  border: 1px solidgovuk-colour('blue');
  border-radius: 2px;
  position: absolute;
  top: 127px;
  left: 42px;
  padding: 8px;
  visibility: hidden;
  opacity: 90%;
}

.vh-tooltip-blue {
  background: govuk-colour('blue');
  border: 1px solidgovuk-colour('blue');
}

.vh-tooltip-red {
  background: govuk-colour('red');
  border: 1px solidgovuk-colour('red');
}

.vh-tooltip-grey {
  background: govuk-colour('dark-grey');
  border: 1px solidgovuk-colour('dark-grey');
}

.vh-tooltip-show {
  visibility: visible;
}
