@import "~govuk-frontend/all";
@import "~@hmcts/frontend/all";
@import "~ng-snotify/styles/simple";

.grey-btn {
  background-color: govuk-colour("grey-3");
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 $govuk-border-colour;
}

.grey-btn:hover {
  background-color: govuk-colour("grey-2");
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 govuk-colour("grey-1");
}

.grey-btn:focus {
  background-color: govuk-colour("grey-2");
  color: $govuk-text-colour;
  box-shadow: 0 2px 0 govuk-colour("grey-1");
}

.red-btn {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  box-shadow: 0 2px 0 govuk-colour("bright-red");
}

.red-btn:hover {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  box-shadow: 0 2px 0 govuk-colour("bright-red");
}

.red-btn:focus {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
  box-shadow: 0 2px 0 govuk-colour("bright-red");
}

.hearing-details-col1-width {
  width: 69%;
}

.hearing-details-col2-width {
  width: 31%;
}