@import '~govuk-frontend/govuk/all';

.outer_face {
  display: block;
  margin: auto;

  position: relative;
  width: 200px;
  /* width of clock */
  height: 200px;
  /* height of clock */
  border-radius: 200px;
  /* clock round corner radius */
  border: 0 solid govuk-colour('mid-grey');
  /* thickness of outer border */

  &.ontime {
    background: govuk-colour('blue');
  }

  &.isstarting {
    background: govuk-colour('black');
  }

  &.delayed {
    background: govuk-colour('yellow');
  }

  &::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .marker {
    &.oneseven {
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }

    &.twoeight {
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }

    &.fourten {
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -webkit-transform: rotate(120deg);
      transform: rotate(120deg);
    }

    &.fiveeleven {
      -moz-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      -webkit-transform: rotate(150deg);
      transform: rotate(150deg);
    }
  }

  &.ontime,
  &.isstarting {
    &::before,
    &::after {
      /* time markers syle */
      content: '';
      position: absolute;
      width: 8px;
      /* width of 12-6 and 3-9 markers */
      height: 100%;
      background: govuk-colour('white');
      z-index: 0;
      left: 50%;
      margin-left: -4px;
      /* set this value of 1/2 marker width */
      top: 0;
    }

    .marker {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      background: govuk-colour('white');
      width: 2px;
      /* width of all other markers */
      margin-left: -1px;
      /* set this value of 1/2 marker width */
    }
  }

  &.delayed {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      /* width of 12-6 and 3-9 markers */
      height: 100%;
      background: govuk-colour('black');
      z-index: 0;
      left: 50%;
      margin-left: -4px;
      /* set this value of 1/2 marker width */
      top: 0;
    }

    .marker {
      background: govuk-colour('black');
      width: 2px;
      /* width of all other markers */
      margin-left: -1px;
      /* set this value of 1/2 marker width */
      height: 100%;
      position: absolute;
      left: 50%;
    }
  }
}

.inner_face {
  position: relative;
  width: 88%;
  height: 88%;
  background: white;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  z-index: 10;
  left: 6%;
  /* set this value of 1/2 width value*/
  top: 6%;
  /* set this value of 1/2 height value*/

  &.ontime,
  &.isstarting {
    background: govuk-colour('black');

    &::before {
      /* clock center circle small */
      content: '';
      width: 18px;
      /* width of inner circle */
      height: 18px;
      /* height of inner circle */
      border-radius: 18px;
      margin-left: -9px;
      /* set this value of 1/2 width value*/
      margin-top: -9px;
      /* set this value of 1/2 height value*/
      background: govuk-colour('white');
      position: absolute;
      top: 50%;
      left: 50%;
    }

    /* hands */
    .hand {
      position: absolute;
      left: 50%;
      background: govuk-colour('white');
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      z-index: -1;

      &.hour {
        width: 4px;
        /* width of hour hand */
        height: 30%;
        /* height of hour hand */
        top: 20%;
        /* set top to 50% - height */
        margin-left: -2px;
        /* set this value to 1/2 width */
      }

      &.minute {
        height: 45%;
        /* height of min hand */
        top: 5%;
        /* set top to 50% - height */
        width: 4px;
        /* width of min hand */
        margin-left: -2.5px;
        /* set this value to 1/2 width */
      }

      &.second {
        height: 50%;
        /* height of sec hand */
        width: 2px;
        /* width of sec hand */
        margin-left: -1px;
        /* set this value to 1/2 width */
        top: 0;
      }
    }
  }

  &.ontime {
    background: govuk-colour('blue');
  }

  &.delayed {
    background: govuk-colour('yellow');

    &::before {
      /* clock center circle small */
      content: '';
      width: 18px;
      /* width of inner circle */
      height: 18px;
      /* height of inner circle */
      border-radius: 18px;
      margin-left: -9px;
      /* set this value of 1/2 width value*/
      margin-top: -9px;
      /* set this value of 1/2 height value*/
      background: govuk-colour('black');
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .hand {
      position: absolute;
      left: 50%;
      background: govuk-colour('black');
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      z-index: -1;

      &.hour {
        width: 4px;
        /* width of hour hand */
        height: 30%;
        /* height of hour hand */
        top: 20%;
        /* set top to 50% - height */
        margin-left: -2px;
        /* set this value to 1/2 width */
      }

      &.minute {
        height: 45%;
        /* height of min hand */
        top: 5%;
        /* set top to 50% - height */
        width: 4px;
        /* width of min hand */
        margin-left: -2.5px;
        /* set this value to 1/2 width */
      }

      &.second {
        height: 50%;
        /* height of sec hand */
        width: 2px;
        /* width of sec hand */
        margin-left: -1px;
        /* set this value to 1/2 width */
        top: 0;
      }
    }
  }
}
