<div
  id="liveclock"
  class="outer_face"
  style="display: block; margin: auto"
  [ngClass]="{
    ontime: (isWitness && hearing.isStarting) || hearing.isOnTime() || hearing.isPaused() || hearing.isClosed() || (isWitness && hearing.isDelayed()),
    isstarting: (!isWitness && hearing.isStarting()) || hearing.isInSession(),
    delayed: (!isWitness && hearing.isDelayed()) || hearing.isSuspended()
  }"
>
  <div class="marker oneseven" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
  <div class="marker twoeight" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
  <div class="marker fourten" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
  <div class="marker fiveeleven" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>

  <div
    class="inner_face"
    [ngClass]="{
      'ontime white': (isWitness && hearing.isStarting) || hearing.isOnTime() || hearing.isPaused() || hearing.isClosed() || (isWitness && hearing.isDelayed()),
      'isstarting isStartingWhite': (!isWitness && hearing.isStarting()) || hearing.isInSession(),
      'delayed black': (!isWitness && hearing.isDelayed()) || hearing.isSuspended()
    }"
  >
    <div id="hour-hand" class="hand hour" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
    <div id="minute-hand" class="hand minute" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
    <div id="second-hand" class="hand second" [ngClass]="(!isWitness && hearing.isDelayed()) || hearing.isSuspended() ? 'black' : 'white'"></div>
  </div>
</div>
