<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="!loadingData && hasHearings()" class="govuk-grid-row">
  <app-vho-hearing-list [conferences]="conferences" (selectedConference)="onConferenceSelected($event)">
  </app-vho-hearing-list>
  <div class="govuk-grid-row">
    <div *ngIf="!loadingData && isHearingSelected()" id="conference-frame" class="govuk-grid-column-one-half">

      <div id="participant-status" class="govuk-grid-column-two-thirds govuk-!-padding-0">
        <app-participant-status [participants]="participants"></app-participant-status>
      </div>

      <div id="vho-admin-view" class="govuk-grid-column-one-third govuk-!-padding-0">
            <iframe id="admin-frame" [width]='adminFrameWidth' [height]="adminFrameHeight" [src]='selectedConferenceUrl'
              allowfullscreen frameborder="0" webkitallowfullscreen mozallowfullscreen title="Admin overview of the hearings">
            </iframe>
          </div>
      <div class="govuk-grid-column-full">
        <app-tasks-table *ngIf="!loadingData && hasTasks()" [conference]="selectedHearing.getConference()"
          [tasks]="tasks" (taskCompleted)="onTaskCompleted($event)"></app-tasks-table>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl">Video hearings</h1>
  <h3 class="govuk-heading-m"> You have no video hearings</h3>
</div>
