<div *ngIf="hasHearings" id="vho-top-row" class="govuk-grid-row filter-row">
  <div class="govuk-grid-column-one-half vh-mt20">
    <input type="button" value="Change venues" (click)="goBackToVenueSelection()" id="change-venue-allocation-btn"
      class="govuk-button" />
  </div>
</div>

<div *ngIf="displayFilter" class="connected vh-top">
  <div class="govuk-grid-row">
    <app-vho-hearings-filter (fiterOptionsEvent)="applyFilters($event)">
    </app-vho-hearings-filter>
  </div>
</div>

<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="hasHearings" class="govuk-grid-row">

  <app-vho-hearing-list #conferenceList [conferences]="conferences" (selectedConference)="onConferenceSelected($event)"
    (selectedParticipant)="onParticipantSelected($event)">
  </app-vho-hearing-list>

  <div class="govuk-grid-row">
    <div *ngIf="!loadingData && isHearingSelected" id="conference-frame" class="govuk-grid-column-one-half">

      <div id="participant-status-table" class="govuk-grid-column-two-thirds govuk-!-padding-0">
        <app-participant-status [conferenceId]="selectedHearing.id"></app-participant-status>
      </div>

      <div id="vho-admin-view" class="govuk-grid-column-one-third govuk-!-padding-0">
        <iframe id="admin-frame" [width]='adminFrameWidth' [height]="adminFrameHeight" [src]='selectedConferenceUrl'
          allowfullscreen frameborder="0" webkitallowfullscreen mozallowfullscreen
          title="Admin overview of the hearings"></iframe>
      </div>
      <div class="govuk-grid-column-full">
        <app-tasks-table *ngIf="!loadingData" [conferenceId]="selectedHearing.id"></app-tasks-table>
      </div>
      <div class="govuk-grid-column-full">
        <app-vho-chat *ngIf="!loadingData" [conference]="selectedHearing.getConference()">
        </app-vho-chat>
      </div>
    </div>
  </div>

</div>

<div class="govuk-grid-row" *ngIf="!hasHearings && !loadingData">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Video hearings</h1>
    <h3 class="govuk-heading-m"> You have no video hearings</h3>


    <input type="button" value="Change venues" (click)="goBackToVenueSelection()" id="change-venue-allocation-btn"
      class="govuk-button" />
  </div>
</div>

<div *ngIf="displayGraph">
  <div class="govuk-grid-row">
    <app-monitoring-graph [pakagesLostData]="packageLostArray" [participantGraphInfo]="monitoringParticipant"
      (closeGraph)="closeGraph($event)">
    </app-monitoring-graph>
  </div>
</div>
