<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ 'declaration.declaration' | translate }}</h1>
  </div>
</div>
<form [formGroup]="declarationForm" class="govuk-form-group" (ngSubmit)="onSubmit()">
  <div [ngClass]="declarationForm.invalid && submitted ? 'govuk-form-group--error' : 'govuk-form-group'">
    <div *ngIf="declarationForm.invalid && submitted" class="govuk-error-message">
      <span class="govuk-visually-hidden">{{ 'declaration.error' | translate }}</span> {{ 'declaration.please-tick-the-box-to-confirm-that-you-will-not-record-the-hearing-in-any-way' | translate }}
    </div>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">{{ 'declaration.warning' | translate }}</span>
        {{ 'declaration.it-is-a-criminal-offence' | translate }}
      </strong>
    </div>
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="declare"
            name="declare"
            formControlName="declare"
            type="checkbox"
            aria-required="true"
            required
          />
          <label class="govuk-label govuk-checkboxes__label" for="declare">
            {{ 'declaration.i-confirm-that-i-will-not-record-or-take-any-images-of-this-hearing' | translate }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-body govuk-!-margin-top-3">
    <button
      id="nextButton"
      class="govuk-button"
      data-module="govuk-button"
      style="margin-right: 25px;"
      (click)="onSubmit()"
      type="button"
    >
    {{ 'declaration.continue' | translate }}
    </button>
  </div>
  <app-contact-us-folding></app-contact-us-folding>
</form>
