#change-device-link {
  color: govuk-colour('blue');
  text-decoration-line: none;
}

#change-device-link:hover {
  color: govuk-colour('light-blue');
  text-decoration-line: underline;
}

#outgoingStream {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
