<div>
  <h1 class="govuk-heading-xl mb-2">
    {{ 'self-test.testing-equipment' | translate }}
  </h1>
</div>
<div class="govuk-grid-row">
  <div *ngIf="!displayFeed && !didTestComplete" class="govuk-grid-column-full">
    <p class="govuk-body-l">{{ 'self-test.to-be-connected' | translate }}</p>
  </div>
  <div *ngIf="displayFeed" class="govuk-grid-column-full">
    <video *ngIf="streamsActive" id="incomingStream" [srcObject]="this.incomingStream" autoplay width="65%" height="auto">
      {{ 'self-test.browser-not-support' | translate }}
    </video>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <video
      #selfView
      *ngIf="streamsActive"
      id="outgoingStream"
      [muted]="true"
      [srcObject]="this.outgoingStream"
      autoplay
      width="270"
      height="auto"
      [ngClass]="{ 'filter-enabled': hideOriginalStream }"
    >
      {{ 'self-test.browser-not-support' | translate }}
    </video>
    <canvas #outputCanvas id="outputCanvas" width="270" height="auto" [ngClass]="{ 'filter-enabled': !hideOriginalStream }"></canvas>
  </div>

  <div class="govuk-grid-column-full">
    <app-mic-visualiser
      *ngIf="displayFeed && streamsActive && preferredMicrophoneStream"
      [stream]="preferredMicrophoneStream"
      [incomingStream]="incomingStream"
    ></app-mic-visualiser>
  </div>
</div>

<div class="govuk-grid-row">
  <div *ngIf="hasMultipleDevices" class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <a id="change-device-link" href="javascript:void(0);" role="button" (click)="changeDevices()" class="govuk-link">{{
      'self-test.change-camera-mic' | translate
    }}</a>
  </div>
</div>

<app-video-filter *ngIf="streamsActive"></app-video-filter>

<app-select-media-devices
  *ngIf="displayDeviceChangeModal"
  (cancelMediaDeviceChange)="onMediaDeviceChangeCancelled()"
  (acceptMediaDeviceChange)="onMediaDeviceChangeAccepted($event)"
></app-select-media-devices>
