#change-device-link {
  color: govuk-colour('blue');
  text-decoration-line: none;
}

#change-device-link:hover {
  color: govuk-colour('light-blue');
  text-decoration-line: underline;
}

.self-view-container {
  width: 270px;
  padding: 0 15px;
}
