<div class="content">
    <ng-container>
        <div class="govuk-body">
            <strong>Alert</strong><br><span id="room-closing-alert-message">This room will close in {{ duration$ | async }}</span>
        </div>
    </ng-container>
</div>

<div class="actions" *ngIf="vhToastOptions.buttons">
    <div class="action" *ngFor="let btn of vhToastOptions.buttons">
        <button
        class="small-button grey"
        [class.green]="btn.hoverColour === 'green'"
        [class.red]="btn.hoverColour === 'red'"
        data-module="govuk-button"
        (click)="handleAction(btn.action)">{{btn.label}}</button>
    </div>
</div>