<div class="govuk-accordion" data-module="govuk-accordion" id="select-hearing-container">
  <div class="govuk-accordion__section" id="accordian-container">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-choose-layout-heading"></span>
      </h2>
    </div>
    <div *ngIf="!isAccordianOpen">
      <app-hearing-layout [layout]="selectedLayout" [recommended]="isRecommendedLayout(selectedLayout)" [showInput]="false"></app-hearing-layout>
    </div>

    <div id="select-hearing-container-content-1" class="govuk-accordion__section-content">
      <div class="govuk-radios govuk-radios--small layoutsgrid">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">{{'select-hearing-layout.choose-hearing-layout' | translate }}</legend>
          <ng-container *ngFor="let layout of availableLayouts">
            <app-hearing-layout [layout]="layout" [recommended]="isRecommendedLayout(layout)" [isSelected]="selectedLayout === layout" (selectedEvent)="updateSelectedLayout(layout)"></app-hearing-layout>
          </ng-container>
        </fieldset>
      </div>
    </div>
  </div>
</div>