<div class="govuk-grid-row govuk-!-margin-bottom-2 govuk-!-margin-top-2">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m">Select your hearing lists</h1>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <ng-select
      id="venue-allocation-list"
      class="custom"
      aria-label="Venue allocation list"
      [items]="judges"
      [multiple]="true"
      bindLabel="name"
      placeholder="Choose lists"
      [(ngModel)]="selectedJudges"
      [closeOnSelect]="false"
      (change)="updateSelection()"
      [clearSearchOnAdd]="true"
      [selectOnTab]="true"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="venue-{{ index }}" type="checkbox" [ngModel]="item$.selected" attr.aria-label="Venue name {{ item }}" />
        {{ item }}
      </ng-template>
    </ng-select>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <input
      type="button"
      [disabled]="!venuesSelected"
      value="View hearings"
      (click)="goToHearingList()"
      id="select-venue-allocation-btn"
      class="govuk-button"
    />
  </div>
</div>
