<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="accessContent">
    <img src="/assets/images/hmcts-logo.gif" attr.alt="{{ 'accessibility.crest-image-alt' | translate }}" />
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-one-quarter">
    <nav role="navigation">
      <span class="govuk-body">{{ 'accessibility.menu.heading' | translate }}</span>

      <div id="contents" appScrollTrigger (scrolledPast)="scrollHandler($event)" (scrollFooter)="scrollFooter($event)">
        <ol class="vh-text">
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('accessibilityStatment')">
              {{ 'accessibility.menu.accessibility-statement.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('how-accessible-this-website-is')">
              {{ 'accessibility.menu.how-accessible.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('what-to-do-if-you-cant-access-parts-of-this-website')">
              {{ 'accessibility.menu.cannot-access.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('reporting-accessibility-problems-with-this-website')">
              {{ 'accessibility.menu.reporting-accessibility.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('enforcement-procedure')">
              {{ 'accessibility.menu.enforcement-procedure.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('technicalInformation')">
              {{ 'accessibility.menu.technical-information.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('nonAccessibleContent')">
              {{ 'accessibility.menu.non-accessible-content.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('non-compliance-with-the-accessibility-regulations')">
              {{ 'accessibility.menu.non-compliance-accessibility-regulations.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a
              class="govuk-link"
              href="javascript:void(0)"
              (click)="goToDiv('content-thats-not-within-the-scope-of-the-accessibility-regulations')"
            >
              {{ 'accessibility.menu.not-within-the-scope.heading' | translate }}
            </a>
          </li>
          <li class="vh-text">
            <a class="govuk-link" href="javascript:void(0)" (click)="goToDiv('howWeTested')">
              {{ 'accessibility.menu.how-we-tested-this-website.heading' | translate }}
            </a>
          </li>
        </ol>
      </div>
    </nav>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div id="accessibilityStatment" class="vh-section">
      <h1 class="govuk-heading-xl">{{ 'accessibility.menu.accessibility-statement.heading' | translate }}</h1>
      <div>
        <p class="govuk-body">
          {{ 'accessibility.menu.accessibility-statement.paragraph1' | translate }}
        </p>
        <p class="govuk-body">
          {{ 'accessibility.menu.accessibility-statement.paragraph2' | translate }}
        </p>
        <p class="govuk-body">
          {{ 'accessibility.menu.accessibility-statement.paragraph3' | translate }}
        </p>
        <ul class="govuk-body">
          <li>{{ 'accessibility.menu.accessibility-statement.list.1' | translate }}</li>
          <li>{{ 'accessibility.menu.accessibility-statement.list.2' | translate }}</li>
          <li>{{ 'accessibility.menu.accessibility-statement.list.3' | translate }}</li>
          <li>{{ 'accessibility.menu.accessibility-statement.list.4' | translate }}</li>
          <li>{{ 'accessibility.menu.accessibility-statement.list.5' | translate }}</li>
        </ul>
        <p class="govuk-body">{{ 'accessibility.menu.accessibility-statement.paragraph4' | translate }}</p>
        <p class="govuk-body">
            <a class="govuk-link" rel="external" href="https://mcmw.abilitynet.org.uk/">{{ 'accessibility.menu.accessibility-statement.abilityNet' | translate }}</a> {{ 'accessibility.menu.accessibility-statement.paragraph5' | translate }}
        </p>
      </div>
    </div>

    <div id="how-accessible-this-website-is" class="vh-section">
      <h2 class="govuk-heading-m">{{ 'accessibility.menu.how-accessible.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.how-accessible.paragraph1' | translate }}
      </p>
      <p class="govuk-body">
        {{ 'accessibility.menu.how-accessible.paragraph2' | translate }}
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.how-accessible.paragraph3' | translate }}
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.how-accessible.paragraph4' | translate }}
      </p>
    </div>
    <div id="what-to-do-if-you-cant-access-parts-of-this-website" class="vh-section">
      <h2 class="govuk-heading-m">{{ 'accessibility.menu.cannot-access.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.cannot-access.paragraph1' | translate }}
      </p>

      <ul class="govuk-body">
          <li>{{ 'accessibility.menu.cannot-access.list.1' | translate: { email: 'video-hearings@justice.gov.uk' } }}</li>
          <li>{{ 'accessibility.menu.cannot-access.list.2' | translate: { phone: '0300 303 0655' } }}</li>
      </ul>

      <p class="govuk-body">{{ 'accessibility.menu.cannot-access.paragraph2' | translate }}</p>
    </div>
    <div id="reporting-accessibility-problems-with-this-website" class="vh-section">
        <h2 class="govuk-heading-m">{{ 'accessibility.menu.reporting-accessibility.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.reporting-accessibility.paragraph1' | translate }}
      </p>
    </div>
    <div id="enforcement-procedure" class="vh-section">
      <h2 class="govuk-heading-m">{{ 'accessibility.menu.enforcement-procedure.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.enforcement-procedure.paragraph1' | translate }}
        <a class="govuk-link" rel="external" href="https://www.equalityadvisoryservice.com/"
          >{{ 'accessibility.menu.enforcement-procedure.paragraph2' | translate }}</a
        >.
      </p>
    </div>

    <div id="technicalInformation" class="vh-section">
      <h2 class="govuk-heading-m" id="technical-information-about-this-websites-accessibility">
        {{ 'accessibility.menu.technical-information.heading' | translate }}
      </h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.technical-information.paragraph1' | translate }}
      </p>

      <p class="govuk-body">
          {{ 'accessibility.menu.technical-information.paragraph2.1' | translate }}
          <a class="govuk-link" rel="external" href="https://www.w3.org/TR/WCAG21/">{{ 'accessibility.menu.technical-information.paragraph2.2' | translate }}</a>
          {{ 'accessibility.menu.technical-information.paragraph2.3' | translate }}
      </p>
    </div>

    <div id="nonAccessibleContent" class="vh-section">
        <h2 class="govuk-heading-m" id="non-accessible-content">{{ 'accessibility.menu.non-accessible-content.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.non-accessible-content.paragraph1' | translate }}
      </p>
    </div>

    <div id="non-compliance-with-the-accessibility-regulations" class="vh-section">
      <h2 class="govuk-heading-m">{{ 'accessibility.menu.non-compliance-accessibility-regulations.heading' | translate }}</h2>

      <h3 class="govuk-heading-s">{{ 'accessibility.menu.non-compliance-accessibility-regulations.sub-heading1' | translate }}</h3>
      <p class="govuk-body">
        {{ 'accessibility.menu.non-compliance-accessibility-regulations.paragraph1' | translate }}
      </p>

      <h3 class="govuk-heading-s">{{ 'accessibility.menu.non-compliance-accessibility-regulations.sub-heading2' | translate }}</h3>
      <p class="govuk-body">
        {{ 'accessibility.menu.non-compliance-accessibility-regulations.paragraph2' | translate }}
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.non-compliance-accessibility-regulations.paragraph3' | translate }}
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.non-compliance-accessibility-regulations.paragraph4' | translate }}        
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.non-compliance-accessibility-regulations.paragraph5' | translate }}
      </p>
    </div>

    <div id="content-thats-not-within-the-scope-of-the-accessibility-regulations" class="vh-section">
      <h2 class="govuk-heading-m">{{ 'accessibility.menu.not-within-the-scope.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.not-within-the-scope.paragraph1' | translate }}
      </p>
    </div>

    <div id="howWeTested" class="vh-section">
      <h2 class="govuk-heading-m" id="how-we-tested-this-website">{{ 'accessibility.menu.how-we-tested-this-website.heading' | translate }}</h2>

      <p class="govuk-body">
        {{ 'accessibility.menu.how-we-tested-this-website.paragraph1' | translate }}
      </p>

      <p class="govuk-body">
        {{ 'accessibility.menu.how-we-tested-this-website.paragraph2' | translate }}
      </p>

      <div class="vh-left20">
        <p class="govuk-body">
          “{{ 'accessibility.menu.how-we-tested-this-website.paragraph3' | translate }}”
        </p>
        <p class="govuk-body">{{ 'accessibility.menu.how-we-tested-this-website.sub-heading1' | translate }}</p>
        <p class="govuk-body">
          “{{ 'accessibility.menu.how-we-tested-this-website.paragraph4' | translate }}”
        </p>
        <p class="govuk-body">{{ 'accessibility.menu.how-we-tested-this-website.sub-heading2' | translate }}</p>
        <p class="govuk-body">
          “{{ 'accessibility.menu.how-we-tested-this-website.paragraph5' | translate }}”
        </p>
      </div>
    </div>
  </div>
</div>

<div
  data-sticky-element
  [ngClass]="{ 'govuk-sticky-element-footer': isFooter, 'govuk-sticky-element': !isFooter }"
  *ngIf="!isVisibleContents"
  id="sticky-element"
>
  <a class="app-c-back-to-top dont-print" href="javascript:void(0)" (click)="goToDiv('accessContent')">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    <span class="govuk-body"> {{ 'accessibility.contents' | translate }}</span>
  </a>
</div>
