<div class="participant-status-header">
  <span class="govuk-!-padding-2 govuk-!-padding-left-4 govuk-heading-s">Participant Status</span>
</div>

<div id="participant-status-list">
  <div *ngFor="let participant of _participants" class="govuk-grid-row">
    <div id="p-row-{{participant.id}}" class="govuk-grid-column-one-half">
      <div class="govuk-body-s tooltip-wrapper">
        {{participant.initialedName}}
        <div id="tooltip-{{participant.id}}" class="tooltip">
          <app-participant-info-tooltip [participant]="participant"></app-participant-info-tooltip>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <p class="govuk-body-s govuk-!-font-weight-bold" [ngClass]="getParticipantStatusClass(participant)">
        {{participant.isJudge ? participant.getStatusAsTextForJudge(_judgeStatuses) : participant.getStatusAsText()}}
      </p>
    </div>
  </div>
</div>
