<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">Was your camera working?</h1>
</div>

<form [formGroup]="form" class="govuk-form-group" (ngSubmit)="onSubmit()">

  <div [ngClass]="showError()
        ? 'govuk-form-group--error'
        : 'govuk-form-group'
    ">
    <div *ngIf="showError()" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span>
      Please answer this question</div>


    <fieldset class="govuk-fieldset" aria-describedby="camera-check-hint">
      <label class="govuk-body" for="cameraCheck">
        Could you see yourself on the screen in the camera window?
      </label>
      <div class="govuk-radios govuk-!-margin-top-5">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="camera-yes" formControlName="cameraCheck" name="cameraCheck"
            type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="camera-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="camera-no" formControlName="cameraCheck" name="cameraCheck"
            type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="camera-no">
            No
            <div *ngIf="!cameraCheck.pristine && cameraCheck.invalid" class="govuk-details__text">
              Make sure the camera is switched on and try checking your equipment again. If you're still having
              problems, contact us using the options below.
            </div>
          </label>

        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-!-margin-top-6">
    <input type="button" id="continue-btn" class="govuk-button govuk-!-margin-right-9" role="button" value="Continue"
      (click)="onSubmit()" alt="Camera Check" />

    <input type="button" id="check-equipment-btn" class="govuk-button grey-btn" role="button"
      value="Check my equipment again" (click)="checkEquipmentAgain()" alt="Camera Check" />
  </div>
</form>

<app-contact-us-folding></app-contact-us-folding>
