<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Was your camera working?</h1>

    <form [formGroup]="form" class="govuk-form-group" (ngSubmit)="onSubmit()">

      <div [ngClass]="showError()
        ? 'govuk-form-group--error'
        : 'govuk-form-group'
        ">

        <div *ngIf="showError()" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          Please answer this question
        </div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <label class="govuk-body" for="cameraCheck">
              Could you see yourself on the screen in the camera window?
            </label>
          </legend>
          <div class="govuk-radios govuk-!-margin-top-5">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="camera-yes" formControlName="cameraCheck" name="cameraCheck"
                type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="camera-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="camera-no" formControlName="cameraCheck" name="cameraCheck"
                type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="camera-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-!-margin-top-6">
        <input type="button" id="continue-btn" class="govuk-button govuk-!-margin-right-1" role="button"
          value="Continue" (click)="onSubmit()" alt="Camera Check" />

        <input type="button" id="check-equipment-btn" class="govuk-button grey-btn" role="button"
          value="Check my equipment again" (click)="checkEquipmentAgain()" alt="Camera Check" />
      </div>
    </form>

    <app-contact-us-folding></app-contact-us-folding>
  </div>
</div>