@import '~govuk-frontend/govuk/all';

.panel-container {
  background: govuk-colour('black');
  color: govuk-colour('white') !important;
  max-width: 350px;
  min-width: 180px;
  min-height: 100px;
  max-height: 90vh;
  padding-right: 3px;
  position: relative;
  z-index: 120;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  overflow: visible;
  resize: vertical;
  bottom: 10px;
}

.panel-container-list {
  overflow-x: hidden;
  overflow: scroll;
  max-height: 87vh;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.table-br {
  border-color: govuk-colour('dark-grey') !important;
}

.scroll-icon {
  height: 20px;
  width: 30px;
  cursor: pointer;
  opacity: 0.8;
}

.scroll-shevrons {
  margin-left: 110px;
  top: 0;
}

.panel-icon {
  height: 25px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.cell-icon {
  width: 35px;
  display: inline-block;
  align-content: center;
  margin-right: 5px;
  margin-top: 5px;
}

.row-pad {
  padding: 10px;
}

.vh-name {
  display: inline-block;
  width: 50%;
  overflow-wrap: break-word;
  float: left;
  margin: 10px 0px 10px 3px;
  text-align: left !important;
  padding-left: 5px;
}

.grey-btn {
  background: govuk-colour('dark-grey');
  color: govuk-color('white');
  white-space: normal;
}

.muted {
  background: govuk-colour('red') !important;
  border-color: govuk-colour('red') !important;
  color: govuk-color('white') !important;
}

.grey-btn:hover {
  background: govuk-colour('red') !important;
  border-color: govuk-colour('red') !important;
  color: govuk-color('white') !important;
}

.muted:focus {
  background: govuk-colour('red') !important;
  color: #ffffff !important;
  border-color: govuk-colour('red') !important;
}

.grey-btn:focus {
  background: govuk-colour('red') !important;
  color: #ffffff !important;
  border-color: govuk-colour('red') !important;
}

.vh-mr {
  margin-right: 5px;
  margin-left: 5px;
}

.tooltip {
  display: block;
  position: relative;
  text-align: left;
}

.top {
  padding: 5px;
  color: govuk-colour('white');
  position: absolute;
  z-index: 121;
  display: none;
  font-family: sans-serif;
  opacity: 0.88;
  border-radius: 2px;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
  font-size: 85%;
}

.top-name-icon {
  background-color: #333;
  border: 1px solid #333;
  font-size: 85%;
}

/*tool-tip for expanded panel and raise hand*/
.tooltip-hand {
  margin-left: -220%;
  margin-top: 2%;
}

/*tool-tip mute*/
.tooltip-mute {
  margin-left: -110%;
  margin-top: 2%;
}

/*tool-tip unmute*/
.tooltip-unmute {
  margin-left: -170%;
  margin-top: 2%;
}

.tooltip:hover .top {
  display: inline-block;
}
.disconnected {
  @include govuk-font(16, $weight: 'bold', $tabular: false, $line-height: false);
  color: govuk-colour('red');
  margin: 4px 4px;
}

.tooltip-collapse-alert {
  transform: translate(-15%, -70%);
  min-width: 75px;
}
