<div class="participantList">
  <div class="panel-container-list" (scroll)="onScroll()" id="panelList">
    <div
      appTooltip
      [text]="getPanelRowTooltipText(participant)"
      [colour]="getPanelRowTooltipColour(participant)"
      [ngClass]="participant.isSpotlighted ? 'spotlighted' : ''"
      *ngFor="let participant of participants; let i = index"
    >
      <div class="pGridOpen">
        <div class="pName" [ngClass]="participant.isDisconnected() ? 'disconnected' : ''" id="panel_participant_{{ i }}">
          {{ participant.displayName }}
        </div>

        <ng-container *ngIf="!isParticipantDisconnected(participant); else participantDisconnected">
          <div class="pRole" id="panel_participant_role_{{ i }}"></div>
          <div class="pmute" *ngIf="!participant.isJudge && isParticipantInHearing(participant)">
            <img
              appTooltip
              [text]="participant.isMuted ? 'Unmute' : 'Mute'"
              [colour]="'grey'"
              [src]="participant.isMuted ? '/assets/images/mute-mic-red.png' : '/assets/images/mic.png'"
              class="panel-icon"
              [alt]="participant.isMuted ? 'Microphone muted icon' : 'Microphone on icon'"
              (click)="toggleMuteParticipant(participant); $event.stopPropagation()"
            />
          </div>
          <div class="phand" *ngIf="!participant.isJudge && participant.handRaised">
            <img
              appTooltip
              [text]="'Lower hand'"
              [colour]="'grey'"
              src="/assets/images/hand-yellow.png"
              class="panel-icon"
              alt="Hand on icon"
              (click)="lowerParticipantHand(participant.id); $event.stopPropagation()"
            />
          </div>
          <div class="pCrest" *ngIf="participant.isJudge">
            <img src="/assets/images/UkGovCrestWhite.png" class="panel-icon panel-icon-crest" alt="HMCTS Crest" />
          </div>
          <div class="pCrest" *ngIf="isEndpoint(participant)">
            <img src="/assets/images/jvs.png" class="panel-icon panel-icon-crest" alt="JVS endpoint icon" />
          </div>
          <div class="pPin" *ngIf="isParticipantInHearing(participant)">
            <img
              appTooltip
              [text]="
                participant.isSpotlighted
                  ? participant.displayName + ' (remove spotlight)'
                  : participant.displayName + ' (click to spotlight)'
              "
              [colour]="'blue'"
              [src]="participant.isSpotlighted ? '/assets/images/pin.png' : '/assets/images/unpin.png'"
              class="panel-icon"
              [alt]="participant.isSpotlighted ? 'Spotlight enabled icon' : 'Spotlight disabled icon'"
              (click)="toggleSpotlightParticipant(participant); $event.stopPropagation()"
            />
          </div>
          <div class="pntwk">
            <app-participant-alert
              *ngIf="!isEndpoint(participant)"
              [participant]="mapParticipantToParticipantResponse(participant)"
            ></app-participant-alert>
          </div>
        </ng-container>
        <ng-template #participantDisconnected>
          <div class="pntwk">
            <app-participant-alert
              *ngIf="!participant.isJudge && !isEndpoint(participant)"
              [participant]="mapParticipantToParticipantResponse(participant)"
            ></app-participant-alert>
          </div>
        </ng-template>
      </div>
      <div class="panelRowBorder"></div>
    </div>
  </div>
  <div class="govuk-grid-row scroll-shevrons">
    <span *ngIf="isScrolling === 1">
      <img src="/assets/images/IM-close-arrow.png" class="scroll-icon" alt="chevron scroll down" (click)="scrollDown()" />
    </span>
    <span *ngIf="isScrolling === 2">
      <img src="/assets/images/IM-open-arrow.png" class="scroll-icon" alt="chevron scroll up" (click)="scrollUp()" />
    </span>
  </div>
  <div class="buttonRow">
    <div class="small-button btn-mute" [ngClass]="{ muted: isMuteAll }" data-prevent-double-click="true" (click)="toggleMuteAll()">
      {{ muteAllToggleText }}
    </div>
    <div class="small-button btn-lowerhand" (click)="lowerAllHands()">Lower all hands</div>
  </div>
</div>
