<div class="container" *ngIf="totalParticipants > 0">
  <div class="header-row">
    <p class="govuk-body white">{{ 'participants-panel.participants' | translate }} ({{ totalParticipants }})</p>
    <p id="totalInWrCount" class="govuk-body white vh-pointer" (click)="scrollToElement('panelListNotConnectedHeader')">
      {{ 'participants-panel.in-waiting-room' | translate }} ({{ totalParticipantsInWaitingRoom }})
    </p>
  </div>

  <div class="button-row">
    <div
      class="small-button row1"
      data-prevent-double-click="true"
      (click)="updateAllParticipantsLocalMuteStatus(true)"
      appTooltip
      [text]="'participants-panel.mute-all-tooltip' | translate"
      colour="grey"
      tabindex="0"
      (keyup.enter)="updateAllParticipantsLocalMuteStatus(true)"
    >
      {{ 'participants-panel.mute-all' | translate }}
    </div>

    <div
      class="small-button row1"
      data-prevent-double-click="true"
      (click)="updateAllParticipantsLocalMuteStatus(false)"
      appTooltip
      [text]="'participants-panel.unmute-all-tooltip' | translate"
      colour="grey"
      tabindex="0"
      (keyup.enter)="updateAllParticipantsLocalMuteStatus(false)"
    >
      {{ 'participants-panel.unmute-all' | translate }}
    </div>

    <div
      class="small-button row2"
      data-prevent-double-click="true"
      (click)="muteAndLockAll()"
      appTooltip
      [text]="'participants-panel.mute-tooltip' | translate"
      colour="grey"
      tabindex="0"
      (keyup.enter)="muteAndLockAll()"
    >
      {{ 'participants-panel.mute-lock' | translate }}
    </div>
    <div
      class="small-button row2"
      data-prevent-double-click="true"
      (click)="unlockAll()"
      appTooltip
      [text]="'participants-panel.unmute-tooltip' | translate"
      colour="grey"
      tabindex="0"
      (keyup.enter)="unlockAll()"
    >
      {{ 'participants-panel.unmute-lock' | translate }}
    </div>
    <div
      class="small-button row2"
      (click)="lowerAllHands()"
      appTooltip
      [text]="'participants-panel.lower-hands-tooltip' | translate"
      colour="grey"
      tabindex="0"
      (keyup.enter)="lowerAllHands()"
    >
      {{ 'participants-panel.lower-hands' | translate }}
    </div>
  </div>

  <div class="panel-container-list" id="panelList">
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInHearing"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
  </div>

  <h3 class="govuk-heading-s white govuk-!-margin-top-7">
    {{ 'participants-panel.in-waiting-room' | translate }} ({{ totalParticipantsInWaitingRoom }})
  </h3>
  <div class="panel-container-list" id="panelListInWaitingRoom">
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsInWaitingRoom"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
  </div>

  <h3 id="panelListNotConnectedHeader" class="govuk-heading-s white govuk-!-margin-top-7">
    {{ 'participants-panel.not-connected' | translate }}
  </h3>
  <div class="panel-container-list" id="panelListNotConnected">
    <app-participants-panel-item
      [item]="participant"
      *ngFor="let participant of participantsNotConnected"
      (participantMuteToggled)="toggleMuteParticipantEventHandler($event)"
      (participantSpotlightToggled)="toggleSpotlightParticipantEventHandler($event)"
      (participantHandLowered)="lowerParticipantHandEventHandler($event)"
      (participantAdmitted)="callParticipantIntoHearingEventHandler($event)"
      (participantDismissed)="dismissParticipantFromHearingEventHandler($event)"
      (participantLocalMuteToggled)="toggleLocalMuteParticipantEventHandler($event)"
    ></app-participants-panel-item>
  </div>
</div>
<div class="container" *ngIf="totalParticipants == 0">
  <h4 class="govuk-heading-s white">{{ 'participants-panel.loading-participants' | translate }}</h4>
</div>
