@import '~govuk-frontend/govuk/base';

.container {
  padding: 12px;
}

.yellow {
  color: govuk-colour('yellow') !important;
}
.red {
  color: govuk-colour('red') !important;
}
.white {
  color: rgba(255, 255, 255, 0.9);
}

.panel-container-list {
  overflow-x: hidden;
  overflow: auto;
}

.panel-icon {
  width: 24px;
  cursor: pointer;
}

.panel-icon-crest {
  width: 27px;
}

.status-disconnected {
  grid-column-start: 2;
  grid-column-end: 6;
}

.type-icon {
  font-size: 20px;
}

.participants-grid {
  font-family: 'GDS Transport', arial, sans-serif;
  color: govuk-colour('white');
  display: grid;
  grid-template-columns: auto 35px 35px 35px 35px;
  > div {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  }
}

.icon-button {
  cursor: pointer;
  opacity: 0.9;
  font-size: 20px;
  color: govuk-colour('white');
}

.icon-button:hover {
  opacity: 1;
}

.no-click {
  cursor: default !important;
  opacity: 1 !important;
}

.button-row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  width: 100%;
}

.small-button {
  @include govuk-font(14, $weight: 'regular', $tabular: false, $line-height: false);
  color: #ffffff;
  cursor: pointer;
  padding: 6px 10px;
  background: #626a6e;
  border: transparent 1px;
  border-radius: 2px;
  font-size: 12px;
  &:hover {
    background-color: #00703c;
  }
}
