@use 'govuk-frontend/dist/govuk/base' as *;

.white {
  color: govuk-colour('white') !important;
}

.container {
  padding: 12px;
}

.header-row {
  display: block;
  grid-template-columns: auto auto;
  width: 100%;
  margin-bottom: 1em;
}

.button-row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  width: 100%;

  .row1 {
    grid-row: 1;
    margin-bottom: 0.6vh;
  }

  .row2 {
    grid-row: 2;
    margin-bottom: 0.6vh;
  }
}

.small-button {
  @include govuk-font(16, $weight: 'regular', $tabular: false, $line-height: false);
  color: #ffffff;
  cursor: pointer;
  padding: 6px 10px;
  background: #626a6e;
  border: transparent 1px;
  border-radius: 2px;
  font-size: 12px;
  &:hover {
    background-color: #00703c;
  }
}
