<div class="video-background">
  <div class="transferMessage">
    <img
      class="transferFeedImage"
      id="transferFeedImage"
      ngSrc="/assets/images/govuk-crest-white.svg"
      [attr.alt]="'waiting-room.witness-transferring-warning-img' | translate"
      height="247"
      width="300"
    />
    <h2 class="govuk-heading-m white govuk-!-margin-top-5" [innerHTML]="'waiting-room.hearing-ready' | translate">
      {{ emptyString }}
    </h2>
    <video appForcePlayVideo [muted]="true" id="outgoingFeedVideoTransfer" [srcObject]="outgoingStream" height="auto">
      {{ 'waiting-room.browser-support' | translate }}
    </video>
  </div>
</div>
