@use 'govuk-frontend/dist/govuk/base' as *;

.word-break {
  width: 100%;
  word-break: break-word;
  text-overflow: ellipsis;
  max-lines: 2.222em;
}

.show-more-tooltip {
  text-decoration: underline;
  color: $govuk-link-colour !important;
}
