@import '~govuk-frontend/govuk/base';
$talbet-landscape-width: 64em;

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  max-width: 700px;

  @media only screen and (min-width: $talbet-landscape-width) {
    width: 50%;
  }
  @media only screen and (max-width: $talbet-landscape-width) {
    width: 82%;
  }
}

.govuk-radios--small {
  display: flex;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
}

.buttons {
  margin-top: 10px;
}
