<div *ngIf="!conference && !participant" class="govuk-grid-column-full">
  <p class="govuk-body-l">Please wait to be connected...</p>
</div>
<app-self-test *ngIf="conference && participant && !hideSelfTest" [conference]="conference" [participant]="participant"
  (testCompleted)="onSelfTestCompleted($event)"></app-self-test>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      When the video has ended, answer a few questions to confirm your microphone and camera are working.
    </p>
  </div>
</div>

<div class="govuk-!-margin-top-6">
  <button id="continue-btn" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button"
    (click)="continueParticipantJourney()" alt="Continue">Continue</button>

  <button id="check-equipment-btn" class="govuk-button govuk-button--secondary" data-module="govuk-button"
    (click)="restartTest()" alt="Re-play the video message">
    Re-play the video message</button>
</div>

<app-contact-us-folding></app-contact-us-folding>