<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">There's a problem</h1>

    <h3 class="govuk-heading-m">Please close other services</h3>
    <p class="govuk-body">A service or application you're using may be causing a problem. You need to either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>close your other services (if you are using them in a browser)</li>
      <li>sign into the video hearings service in another browser (Chrome is preferred)</li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-3">
      Please call the video hearings team on <strong>0300 303 0655</strong> if you need help.
    </p>
  </div>
</div>
