@import '~govuk-frontend/govuk/all';

.icons {
  width: 17px;
  height: 20px;
}

.copyIDbox {
  @include govuk-font(14, $weight: 'regular', $tabular: false, $line-height: false);
  color: govuk-colour('white');
  width: auto;
  height: auto;
  z-index: 99;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
  background: govuk-colour('blue');
  border: 1px solidgovuk-colour('blue');
  border-radius: 2px;
  position: absolute;
  top: 127px;
  left: 42px;
  padding: 8px;
}
