<div class="govuk-grid-row">
  <div id="tooltip-name-case-group-{{participant.id}}" class="govuk-grid-column-full">
    <p>{{participant.displayName}} ({{participant.caseGroup}})</p>
  </div>
  <div class="govuk-grid-column-full" *ngIf="participant.isJudge">
    <p>{{participant.hearingVenueName}}</p>
  </div>
  <div class="govuk-grid-column-full">
    <a id="tooltip-email-{{participant.id}}" class="govuk-body-s govuk-link" href="mailto:{{participant.contactEmail}}">{{participant.contactEmail}}</a>
  </div>
  <div class="govuk-grid-column-full">
    <a id="tooltip-contact-phone-{{participant.id}}" class="govuk-body-s govuk-link" href="tel:{{participant.contactTelephone}}">{{participant.contactTelephone}}</a>
  </div>
</div>
