<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date & Time</th>
      <th class="govuk-table__header" scope="col">Hearing Details</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr *ngFor="let conference of conferences" id="judges-list" class="govuk-table__row">

      <td class="govuk-table__cell">
        <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.scheduled_date_time | date:'dd MMM yyyy' }}</p>
        <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.scheduled_date_time | date:'HH:mm' }}</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-!-margin-0 govuk-!-padding-0">{{ conference.case_name }}</p>
        <p class="govuk-!-margin-0 govuk-!-padding-0">Case number: <strong>{{conference.case_number}}</strong></p>
      </td>
      <td class="govuk-table__cell">
        <input type="button" id="start-hearing-btn-{{conference.id}}" class="govuk-button" role="button"
          value="Sign into hearing" *ngIf="canStartHearing(conference)" (click)="signIntoConference(conference)"
          aria-label="Sign into hearing" />
        <span *ngIf="!canStartHearing(conference)">
          <p class="govuk-!-margin-0 govuk-!-padding-0">Sign in {{getSignInDate(conference) }}</p>
          <p class="govuk-!-margin-0 govuk-!-padding-0">from {{getSignInTime(conference) | date:'HH:mm' }} </p>
        </span>
      </td>
    </tr>

  </tbody>
</table>
