<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">{{ 'hearing-list-table.date-and-time' | translate }}</th>
      <th class="govuk-table__header" scope="col">{{ 'hearing-list-table.hearing-details' | translate }}</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr *ngFor="let conference of conferences" id="judges-list-{{ conference.id }}" class="govuk-table__row">
      <td class="govuk-table__cell">
        <p id="participant-scheduled-date-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
          {{ conference.scheduled_date_time | date: 'dd MMM yyyy' }}
        </p>
        <p id="participant-scheduled-time-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
          {{ conference.scheduled_date_time | date: 'HH:mm' }}
        </p>
      </td>
      <td class="govuk-table__cell">
        <p id="participant-case-name-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">{{ conference.case_name }}</p>
        <p id="participant-case-number-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
          {{ 'hearing-list-table.case-number' | translate }}: <strong>{{ conference.case_number }}</strong>
        </p>
      </td>
      <td class="govuk-table__cell">
        <button
          id="sign-into-hearing-btn-{{ conference.id }}"
          class="govuk-button"
          data-module="govuk-button"
          type="button"
          *ngIf="canStartHearing(conference)"
          (click)="signIntoConference(conference)"
          attr.aria-label="{{ 'hearing-list-table.button.sign-into-hearing' | translate }}"
        >
        {{ 'hearing-list-table.button.sign-into-hearing' | translate }}
        </button>
        <span *ngIf="!canStartHearing(conference)">
          <p id="participant-sign-in-date-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
            {{ 'hearing-list-table.sign-in' | translate:{ date: getSignInDate(conference)} }}
          </p>
          <p id="participant-sign-in-time-{{ conference.id }}" class="govuk-!-margin-0 govuk-!-padding-0">
            {{ 'hearing-list-table.from' | translate:{ time: getSignInTime(conference) | date: 'HH:mm' } }}
          </p>
        </span>
      </td>
    </tr>
  </tbody>
</table>
