<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="!loadingData && hasHearings()">
  <h1 class="govuk-heading-xl">Your hearings</h1>
  <div class="govuk-!-margin-top-1">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button"
            (click)="goToEquipmentCheck()" alt="Check equipment">
      Check equipment
    </button>
  </div>
  <app-hearing-list-table [conferences]="conferences"></app-hearing-list-table>
</div>
<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl">Video hearings</h1>
  <div class="govuk-!-margin-top-1">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button"
           (click)="goToEquipmentCheck()" alt="Check equipment">Check equipment</button>
  </div>
  <h3 class="govuk-heading-m"> You have no video hearings</h3>
  <p class="govuk-body">
    If you are expecting to see details of your hearing listed here, please contact us using the
    options below.
  </p>
</div>

<app-contact-us-folding *ngIf="!loadingData"></app-contact-us-folding>
