<div *ngIf="loadingData" class="govuk-!-padding-top-2">
  <p class="govuk-body">{{ 'participant-hearings.loading-please-wait' | translate }}</p>
</div>

<div *ngIf="!loadingData && hasHearings()">
  <div class="govuk-!-margin-top-5">
    <h1 class="govuk-heading-xl govuk-!-padding-top-5">
      {{ this.conferences.length | pluraliseTextPipe: getTranslation('your-video-hearing') : getTranslation('your-video-hearings') }}
    </h1>
  </div>
  <div class="govuk-!-margin-top-1">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button" (click)="goToEquipmentCheck()">
      {{ 'participant-hearings.check-equipment' | translate }}
    </button>
  </div>
  <app-hearing-list-table [conferences]="conferences" (selectedConference)="onConferenceSelected($event)"> </app-hearing-list-table>
</div>
<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl govuk-!-padding-top-2">{{ 'participant-hearings.you-do-not-have-a-video-hearing-today' | translate }}</h1>
  <div class="govuk-!-margin-top-1">
    <button id="check-equipment-btn" class="govuk-button" data-module="govuk-button" (click)="goToEquipmentCheck()">
      {{ 'participant-hearings.check-equipment' | translate }}
    </button>
  </div>
  <p class="govuk-body">
    {{ 'participant-hearings.if-no-details-shown-please-contact-us' | translate }}
  </p>
</div>

<app-contact-us-folding *ngIf="!loadingData"></app-contact-us-folding>
