# # This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# # For additional information regarding the format and rule options, please see:
# # https://github.com/browserslist/browserslist#queries
Chrome >= 100
last 30 Edge versions
FireFox ESR
last 2 FireFox major versions
last 2 Safari major versions
last 3 Samsung major versions
not dead
