{
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 140,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": ["*.html", "*.scss", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
