<img src="assets/images/elipses.png" class="panel-icon" (click)="toggleDropdown()" alt="{{'judge-context-menu.context-menu-icon' | translate}}" />
<div [hidden]="!isDroppedDown" class="dropdown-content">
  <p class="govuk-body-s dropdown-header">
    <strong>{{ participant.displayName }}</strong>
    <span [innerHTML]="getAdditionalText()"></span>
  </p>
  <hr />
  <a *ngIf="participant.isInHearing()" (click)="toggleMuteParticipant()">{{ getMutedStatusText() }}</a>
  <a *ngIf="participant.isWitness && !participant.isInHearing()" (click)="callWitnessIntoHearing()">{{'judge-context-menu.call-witness' | translate}}</a>
  <a *ngIf="participant.isWitness && participant.isInHearing()" (click)="dismissWitnessFromHearing()">{{'judge-context-menu.dismiss-witness' | translate}}</a>
  <a *ngIf="!participant.isJudge && participant.hasHandRaised() && participant.isInHearing()" (click)="lowerParticipantHand()">{{'judge-context-menu.lower-hand' | translate}}</a>
  <a *ngIf="participant.isInHearing() && !participant.isLocalCameraOff()" (click)="toggleSpotlightParticipant()">{{ getPinStatusText() }}</a>
</div>
