<img src="assets/images/elipses.png" class="panel-icon" (click)="toggleDropdown()" [attr.alt]="'judge-context-menu.context-menu-icon' | translate" />
<div [hidden]="!isDroppedDown" class="dropdown-content">
  <p class="govuk-body-s dropdown-header">
    <strong>{{ participant.displayName }}</strong>
    <span>
      <span *ngIf="!isJudge">
        <span>
          {{ 'hearing-role.' + (participant.hearingRole | hyphenate) | translate}}
        </span>
        <span *ngIf="!!this.participant.representee">
          {{ 'participants-panel.for' | translate }} {{ this.participant.representee }}
        </span>
      </span>
    </span>
  </p>
  <hr />
  <a *ngIf="participant.isInHearing()" (click)="toggleMuteParticipant()">{{ getMutedStatusText() }}</a>
  <a *ngIf="canCallParticipantIntoHearing()" (click)="callParticipantIntoHearing()">
    <span *ngIf="isWitness">
      {{'judge-context-menu.call-witness' | translate}}
    </span>
    <span *ngIf="!isWitness">
      {{'judge-context-menu.admit-participant' | translate: { role: 'hearing-role.' + (participant.hearingRole | hyphenate) | translate | lowercase} }}
    </span>
  </a>
  <a *ngIf="canDismissParticipantFromHearing()" (click)="dismissParticipantFromHearing()">
    {{'judge-context-menu.dismiss-participant' | translate: { role: 'hearing-role.' + (participant.hearingRole | hyphenate) | translate | lowercase} }}
  </a>
  <a *ngIf="!participant.isJudge && participant.hasHandRaised() && participant.isInHearing()" (click)="lowerParticipantHand()">{{'judge-context-menu.lower-hand' | translate}}</a>
  <a *ngIf="participant.isInHearing() && !participant.isLocalCameraOff()" (click)="toggleSpotlightParticipant()">{{ getPinStatusText() }}</a>
</div>
