<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Participants</h2>
    </div>
  </div>

  <div id="p-row-{{judge.id}}" class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-!-margin-top-4">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-heading-m govuk-!-margin-bottom-0">Judge</div>
        <p class="govuk-body-s govuk-!-margin-bottom-0"><strong>{{ judge.name }}</strong></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="/assets/images/govuk-crest.png" height="50" width="50" class="govuk-header__logotype-crest"
          alt="HM Courts &amp; Tribunals Service crest" />
      </div>
    </div>
  </div>
  <hr />

  <div *ngIf="litigantInPerson">
    <div *ngFor="let participant of individualParticipants" class="govuk-grid-row govuk-!-margin-bottom-1">
      <div id="p-row-{{participant.id}}" class="govuk-grid-column-full govuk-!-margin-top-2">

        <!-- if hearing has litigant in person -->
        <div *ngIf="litigantInPerson">
          <p class="govuk-heading-s govuk-!-margin-bottom-0">
            {{ participant.case_type_group }}
          </p>
          <p class="govuk-body-m govuk-!-margin-bottom-1">
            {{ participant.name }}
          </p>
        </div>

        <div class="govuk-body-s govuk-!-margin-bottom-3" *ngIf="isUserJudge()">
          <label class="govuk-body-s label-status label-status--{{getParticipantStatus(participant)}}">
            {{ getParticipantStatus(participant) }}
          </label>
        </div>

        <a *ngIf=" canCallParticipant(participant)" id="p-call-{{participant.id}}-btn" href="#"
          class="govuk-link govuk-!-margin-bottom-0" href="javascript:void(0)"
          (click)="begingCallWith(participant)">Speak
          to this person now
        </a>

        <hr />
      </div>
    </div>
  </div>

  <div *ngIf="!litigantInPerson">
    <div *ngFor="let participant of nonJugdeParticipants" class="govuk-grid-row govuk-!-margin-bottom-1">
      <div id="p-row-{{participant.id}}" class="govuk-grid-column-full govuk-!-margin-top-2">

        <!-- represented by solicitor -->
        <div *ngIf="!litigantInPerson">
          <p class="govuk-heading-m govuk-!-margin-bottom-0">
            {{participant.name}}
          </p>
          <p class="govuk-body-m govuk-!-margin-bottom-1">
            <strong>
              {{ participant.role === 'Representative' ? 'Solicitor' : '' }}
            </strong>
          </p>
          <p *ngIf="participant.representee" class="govuk-body-m govuk-!-margin-bottom-1">
            Representing {{ participant.representee }}
          </p>
          <p class="govuk-body-m govuk-!-margin-bottom-3">
            {{ participant.case_type_group }}
          </p>
        </div>

        <div class="govuk-body-s govuk-!-margin-bottom-3" *ngIf="isUserJudge()">
          <label class="govuk-body-s label-status label-status--{{getParticipantStatusCss(participant)}}">
            {{ getParticipantStatus(participant) }}
          </label>
        </div>

        <a *ngIf=" canCallParticipant(participant)" id="p-call-{{participant.id}}-btn" href="#"
          class="govuk-link govuk-!-margin-bottom-0" href="javascript:void(0)"
          (click)="begingCallWith(participant)">Speak
          to this person now
        </a>

        <hr />
      </div>
    </div>
  </div>

</div>