<div role="region" [attr.aria-label]="'judge-waiting-room.judge-participant-status-list-label' | translate">
  <div id="p-row-{{ judge.id }}" class="govuk-grid-row govuk-!-margin-bottom-1">
    <div class="govuk-!-margin-top-4">
      <div class="govuk-grid-column-one-third">
        <img
          src="/assets/images/govuk-crest.png"
          height="50"
          width="50"
          class="govuk-header__logotype-crest"
          [attr.alt]="'judge-participant-status-list.crest-alt' | translate"
        />
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-heading-m govuk-!-margin-bottom-0">
            <span>{{'judge-participant-status-list.judge' | translate}}</span>
          <span *ngIf="isUserJudge"
            ><a href="javascript:void(0);" (click)="changeJudgeNameShow()" class="govuk-body govuk-link vh-ml10">{{'judge-participant-status-list.edit' | translate}}</a></span
          >
        </div>
        <p class="govuk-body-s govuk-!-margin-bottom-0" *ngIf="!showChangeJudgeDisplayName">
          <strong>{{ judge.display_name }}</strong>
        </p>

        <div *ngIf="showChangeJudgeDisplayName">
          <div class="govuk-form-group vh-mt10">
            <input
              type="text"
              id="new-judge-name"
              #judgeInputName
              (blur)="onEnterJudgeDisplayName(judgeInputName.value)"
              value="{{ newJudgeDisplayName }}"
              class="govuk-input govuk-input--width-20"
            />
          </div>
          <div class="vh-mt10">
            <span>
              <input type="button" id="editJudgeDisplayName" (click)="saveJudgeDisplayName()" value="{{'judge-participant-status-list.save' | translate}}" class="govuk-button" />
            </span>
            <span>
              <input
                type="button"
                id="cancelJudgeDisplayName"
                (click)="cancelJudgeDisplayName()"
                value="{{'judge-participant-status-list.cancel' | translate}}"
                class="govuk-button vh-ml10 govuk-button--secondary"
              />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isUserJudge" class="govuk-grid-column-full govuk-!-margin-top-3">
      <div class="govuk-body-s govuk-!-margin-bottom-3">
        <label
          id="p-{{ judge.id }}-status-participant"
          class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(judge) }}"
        >
          {{ getParticipantStatus(judge) }}
        </label>
      </div>
    </div>
  </div>

  <div class="vh-line govuk-!-margin-bottom-3"></div>

  <div *ngIf="wingers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-s">{{'judge-participant-status-list.wingers' | translate}} ({{ wingers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of wingers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full govuk-!-margin-top-2">
          <p id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name }}
          </p>

          <div class="govuk-body-s govuk-!-margin-bottom-3">
            <label
              id="p-{{ participant.id }}-status-participant"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </label>
          </div>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="panelMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-s">{{'judge-participant-status-list.panel-members' | translate}} ({{ panelMembers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of panelMembers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full govuk-!-margin-top-2">
          <p id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name }}
          </p>

          <div class="govuk-body-s govuk-!-margin-bottom-3">
            <label
              id="p-{{ participant.id }}-status-participant"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </label>
          </div>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="staffMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-s">{{'judge-participant-status-list.staff-members' | translate}}</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let participant of staffMembers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-staff-member" class="govuk-grid-column-full govuk-!-margin-top-2">
          <p id="p-{{ participant.id }}-name-staff-member" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name }}
          </p>

          <div class="govuk-body-s govuk-!-margin-bottom-3">
            <label
              id="p-{{ participant.id }}-status-staff-member"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </label>
          </div>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

    <div *ngIf="nonJudgeParticipants.length > 0 && !hearing.isClosed()">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-s">{{'judge-participant-status-list.participants' | translate}} ({{ nonJudgeParticipants.length }})</h2>
            </div>
        </div>

        <div class="vh-border">
            <div *ngFor="let participant of nonJudgeParticipants; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
                <div id="p-row-{{ participant.id }}-participant" class="govuk-grid-column-full govuk-!-margin-top-2">

                    <p id="p-{{ participant.id }}-name-participant" class="govuk-heading-s govuk-!-margin-bottom-3">
                        <span *ngIf="hasInterpreterLink(participant)" class="vh-interpreter-icon">
                          <em class="far fa-2x fa-language"></em>
                        </span>
                        {{ participant.name }}
                    </p>

                    <p id="p-{{ participant.id }}-hearing-role-participant"
                       class="govuk-body-m govuk-!-margin-bottom-3"
                       [innerHtml]="getHearingRole(participant)">
                    </p>

                    <p
                        *ngIf="!isCaseTypeNone(participant)"
                        id="p-{{ participant.id }}-case-type-group-participant"
                        class="govuk-body-m govuk-!-margin-bottom-3"
                    >
                        {{ ('case-type-group.' + stringToTranslateId(participant.case_type_group)) | translate }}
                    </p>

                    <div class="govuk-body-s govuk-!-margin-bottom-3">
                        <label
                            id="p-{{ participant.id }}-status-participant"
                            class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
                        >
                            {{ getParticipantStatus(participant) }}
                        </label>
                    </div>

                    <div class="vh-line" *ngIf="!lastItem"></div>
                </div>
            </div>
        </div>
    </div>

  <div *ngIf="endpoints.length > 0 && !hearing.isClosed()">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{'judge-participant-status-list.video-access-points' | translate}} ({{ endpoints.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div *ngFor="let endpoint of endpoints; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ endpoint.id }}-endpoints" class="govuk-grid-column-full govuk-!-margin-top-2">
          <p id="p-{{ endpoint.id }}-name-endpoint" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ endpoint.display_name }}
          </p>

          <div class="govuk-body-s govuk-!-margin-bottom-3">
            <label
              id="p-{{ endpoint.id }}-status-endpoint"
              class="govuk-body-s label-status label-status--{{ getEndpointStatusCss(endpoint) }}"
            >
              {{ getEndpointStatus(endpoint) }}
            </label>
          </div>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="observers.length > 0 && !hearing.isClosed()">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{'judge-participant-status-list.observers' | translate}} ({{ observers.length }})</h2>
      </div>
    </div>

    <div class="vh-border">
      <div *ngFor="let participant of observers; let lastItem = last" class="govuk-grid-row govuk-!-margin-bottom-1">
        <div id="p-row-{{ participant.id }}-observer" class="govuk-grid-column-full govuk-!-margin-top-2">
          <p id="p-{{ participant.id }}-name-observer" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name }}
          </p>

          <div class="govuk-body-s govuk-!-margin-bottom-3">
            <label
              id="p-{{ participant.id }}-status-participant"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </label>
          </div>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal id="pc-error-modal" class="modal clear consultation">
  <app-consultation-error (closedModal)="closeAllPCModals()"></app-consultation-error>
</app-modal>
