<div id="p-row-{{ judge.id }}" class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-third">
      <img
        appCrestLogoImageSource
        [sctsImageSource]="'/assets/images/scottish-crest-grey.png'"
        [sctsAltText]="'judge-participant-status-list.scottish-crest' | translate"
        [hmctsImageSource]="'/assets/images/govuk-crest.svg'"
        [hmctsAltText]="'judge-participant-status-list.crest-alt' | translate"
        src=""
        alt=""
        class="govuk-header__logotype-crest"
        height="50"
      />
    </div>

    <span class="govuk-grid-column-two-thirds participant-details">
      <div class="govuk-grid-row">
        <span class="govuk-heading-m govuk-!-margin-bottom-0">
          <span>{{ 'judge-participant-status-list.judge' | translate }}</span>
          <span *ngIf="isUserJudge"
            ><a id="edit-judge-link" href="javascript:void(0);" (click)="changeJudgeNameShow()" class="govuk-body govuk-link vh-ml10"
              >{{ 'judge-participant-status-list.edit' | translate }}
              <span class="govuk-visually-hidden-focusable">
                {{ 'judge-participant-status-list.your-name' | translate }} {{ judge.displayName }}</span
              ></a
            ></span
          >
        </span>
      </div>
      <div class="govuk-grid-row">
        <span class="govuk-body-s govuk-!-margin-bottom-0" *ngIf="!showChangeJudgeDisplayName">
          <strong>{{ judge.displayName }}</strong>
        </span>

        <span *ngIf="showChangeJudgeDisplayName">
          <div class="govuk-form-group vh-mt10">
            <input
              type="text"
              id="new-judge-name"
              #judgeInputName
              (blur)="onEnterJudgeDisplayName(judgeInputName.value)"
              value="{{ newJudgeDisplayName }}"
              class="govuk-input govuk-input--width-20"
            />
          </div>
          <div class="vh-mt10">
            <span>
              <input
                type="button"
                id="editJudgeDisplayName"
                (click)="saveJudgeDisplayName()"
                value="{{ 'judge-participant-status-list.save' | translate }}"
                class="govuk-button"
              />
            </span>
            <span>
              <input
                type="button"
                id="cancelJudgeDisplayName"
                (click)="cancelJudgeDisplayName()"
                value="{{ 'judge-participant-status-list.cancel' | translate }}"
                class="govuk-button vh-ml10 govuk-button--secondary"
              />
            </span>
          </div>
        </span>
      </div>
      <div class="govuk-grid-row" *ngIf="judge.interpreterLanguage">
        <span class="govuk-body-s govuk-!-margin-bottom-0">
          {{ 'interpreter-language.' + stringToTranslateId(judge.interpreterLanguage.description) | translate }}
        </span>
      </div>
    </span>
  </div>

  <div *ngIf="!isUserJudge" class="govuk-grid-column-full govuk-!-margin-top-3">
    <div class="govuk-body-s govuk-!-margin-bottom-3">
      <span id="p-{{ judge.id }}-status-participant" class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(judge) }}">
        {{ getParticipantStatus(judge) }}
      </span>
    </div>
  </div>
</div>

<div class="vh-line govuk-!-margin-bottom-3"></div>
<div *ngIf="displayParticipantList" [attr.aria-label]="'waiting-room.judge-participant-status-list-label' | translate">
  <div *ngIf="wingers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.wingers' | translate }} ({{ wingers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + participant.id + '-' + (1 | random)"
        *ngFor="let participant of wingers; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ participant.id }}-winger" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ participant.id }}-name-winger" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name ?? participant.displayName }}
          </dt>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-winger"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>

  <div *ngIf="panelMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.panel-members' | translate }} ({{ panelMembers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + participant.id + '-' + (1 | random)"
        *ngFor="let participant of panelMembers; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ participant.id }}-panel-member" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ participant.id }}-name-panel-member" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name ?? participant.displayName }}
          </dt>

          <dd class="govuk-body-m govuk-!-margin-bottom-3" *ngIf="participant.interpreterLanguage">
            {{ 'interpreter-language.' + stringToTranslateId(participant.interpreterLanguage.description) | translate }}
          </dd>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-panel-member"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>
  <div *ngIf="staffMembers.length > 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.staff-members' | translate }} ({{ staffMembers.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + participant.id + '-' + (1 | random)"
        *ngFor="let participant of staffMembers; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ participant.id }}-staff-member" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ participant.id }}-name-staff-member" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.displayName }}
            <span *ngIf="canChangeStaffMemberName(participant.id)"
              ><a
                id="edit-staff-member-link"
                href="javascript:void(0);"
                (click)="changeStaffMemberNameShow(participant.id)"
                class="govuk-body govuk-link vh-ml10"
                >{{ 'judge-participant-status-list.edit' | translate }}
                <span class="govuk-visually-hidden-focusable">
                  {{ 'judge-participant-status-list.your-name' | translate }} {{ participant.displayName }}</span
                >
              </a>
            </span>
          </dt>
          <dd *ngIf="canChangeStaffMemberName(participant.id) && showChangeStaffMemberDisplayName">
            <div class="govuk-form-group vh-mt10">
              <input
                type="text"
                id="new-staff-member-name"
                #staffMemberInputName
                (blur)="onEnterStaffMemberDisplayName(staffMemberInputName.value)"
                value="{{ newStaffMemberDisplayName }}"
                class="govuk-input govuk-input--width-20"
              />
            </div>
            <div class="vh-mt10">
              <span>
                <input
                  type="button"
                  id="editStaffmemberDisplayName"
                  (click)="saveStaffMemberDisplayName(participant.id)"
                  value="{{ 'judge-participant-status-list.save' | translate }}"
                  class="govuk-button"
                />
              </span>
              <span>
                <input
                  type="button"
                  id="cancelStaffMemberDisplayName"
                  (click)="cancelStaffMemberDisplayName()"
                  value="{{ 'judge-participant-status-list.cancel' | translate }}"
                  class="govuk-button vh-ml10 govuk-button--secondary"
                />
              </span>
            </div>
          </dd>
          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-staff-member"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>

  <div *ngIf="nonJudgeParticipants.length > 0 && !hearing.isClosed()">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.participants' | translate }} ({{ nonJudgeParticipants.length }})</h2>
      </div>
    </div>

    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + participant.id + '-' + (1 | random)"
        *ngFor="let participant of nonJudgeParticipants; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ participant.id }}-participant" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ participant.id }}-name-participant" class="govuk-heading-s govuk-!-margin-bottom-3">
            <span *ngIf="hasInterpreterLink(participant)" class="vh-interpreter-icon">
              <fa-icon icon="language" size="2x"></fa-icon>
            </span>
            {{ participant.name ?? participant.displayName }}
          </dt>

          <dd
            id="p-{{ participant.id }}-hearing-role-participant"
            class="govuk-body-m govuk-!-margin-bottom-3"
            [innerHtml]="getHearingRole(participant)"
          ></dd>

          <dd class="govuk-body-m govuk-!-margin-bottom-3" *ngIf="participant.interpreterLanguage">
            {{ 'interpreter-language.' + stringToTranslateId(participant.interpreterLanguage.description) | translate }}
          </dd>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-participant"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>

  <div *ngIf="endpoints.length > 0 && !hearing.isClosed()">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.video-access-points' | translate }} ({{ endpoints.length }})</h2>
      </div>
    </div>
    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + endpoint.id + '-' + (1 | random)"
        *ngFor="let endpoint of endpoints; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ endpoint.id }}-endpoints" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ endpoint.id }}-name-endpoint" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ endpoint.displayName }}
          </dt>

          <dd class="govuk-body-m govuk-!-margin-bottom-3" *ngIf="endpoint.interpreterLanguage">
            {{ 'interpreter-language.' + stringToTranslateId(endpoint.interpreterLanguage.description) | translate }}
          </dd>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ endpoint.id }}-status-endpoint"
              class="govuk-body-s label-status label-status--{{ getEndpointStatusCss(endpoint) }}"
            >
              {{ getEndpointStatus(endpoint) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>

  <div *ngIf="observers.length > 0 && !hearing.isClosed()">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">{{ 'judge-participant-status-list.observers' | translate }} ({{ observers.length }})</h2>
      </div>
    </div>

    <div class="vh-border">
      <div
        [id]="'wr-participant-status-list-participant' + participant.id + '-' + (1 | random)"
        *ngFor="let participant of observers; let lastItem = last"
        class="govuk-grid-row govuk-!-margin-bottom-1"
      >
        <dl id="p-row-{{ participant.id }}-observer" class="govuk-grid-column-full govuk-!-margin-top-2 participant-details">
          <dt id="p-{{ participant.id }}-name-observer" class="govuk-heading-s govuk-!-margin-bottom-3">
            {{ participant.name ?? participant.displayName }}
          </dt>

          <dd class="govuk-body-m govuk-!-margin-bottom-3" *ngIf="participant.interpreterLanguage">
            {{ 'interpreter-language.' + stringToTranslateId(participant.interpreterLanguage.description) | translate }}
          </dd>

          <dd class="govuk-body-s govuk-!-margin-bottom-3">
            <span
              id="p-{{ participant.id }}-status-observer"
              class="govuk-body-s label-status label-status--{{ getParticipantStatusCss(participant) }}"
            >
              {{ getParticipantStatus(participant) }}
            </span>
          </dd>

          <div class="vh-line" *ngIf="!lastItem"></div>
        </dl>
      </div>
    </div>
  </div>
</div>

<app-modal id="pc-error-modal" class="modal clear">
  <app-consultation-error (closedModal)="closeAllPCModals()"></app-consultation-error>
</app-modal>
