<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    
      <div class="govuk-footer__meta-item" *ngIf="!hideContactUsLink">
        <a class="govuk-footer__link" href="/contact-us" target="_blank">Contact us
        </a>
      </div>
   

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <img src="assets/images/open-government-licence.png" height="17" width="41" role="presentation" />
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open
            Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
          Crown copyright</a>
      </div>

    </div>
  </div>
</footer>