.govuk-footer__copyright-logo {
    display: inline-block;
    min-width: 125px;
    padding-top: 112px;
    background-image: url('/assets/images/govuk-crest.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 125px 102px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .govuk-footer__copyright-logo {
        background-image: url('/assets/images/govuk-crest-2x.png');
    }
}
.govuk-footer__licence-description {
    margin-left: 5px;
}
.govuk-footer {
    bottom: 0;
    width: 100%;
}
