.link-container {
  display: flex;
  flex-flow: column;
}

.govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 125px 102px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.govuk-footer-background-hmcts {
  background-image: url('/assets/images/govuk-crest.png');
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: url('/assets/images/govuk-crest-2x.png');
  }
}

.govuk-footer-background-scts {
  background-image: url('/assets/images/scottish-crest-grey.png');
}

.govuk-footer__licence-description {
  margin-left: 5px;
}
.govuk-footer {
  bottom: 0;
  width: 100%;
}
