<div class="modal-content negative">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full govuk-!-padding-3">
      <p id="receiver-not-accepted" class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-body--white govuk-!-margin-bottom-1">
        Your call request has not been accepted
      </p>
    </div>

    <div class="govuk-grid-column-full">
      <button
        id="close-pc-rejection-btn"
        class="govuk-button govuk-!-margin-top-3"
        data-module="govuk-button"
        (click)="closeModal()"
        alt="Close consultation rejection modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
