<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="panel-blue govuk-body govuk-!-margin-bottom-5">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter vh-crest-column">
            <img src="/assets/images/BluePanelIdent.png" class="govuk-header__logotype-crest govuk-!-margin-bottom-6"
              alt="HM Courts &amp; Tribunals Service crest" />
          </div>
          <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-l text-white">Get ready for the hearing</h1>

            <p class="govuk-body govuk-!-margin-bottom-3 text-white">Next, we are going to:</p>

            <ul class="govuk-list govuk-list--bullet text-white">
              <li> check that your equipment is working </li>
              <li> tell you about the rules of the court </li>
            </ul>

            <p class="govuk-body govuk-!-margin-bottom-2 text-white">
              The video hearings officer will call you 10 minutes before the hearing starts to check that you're ready.
            </p>

            <button type="button" class="govuk-button govuk-button--secondary" (click)="goToEquipmentCheck()" id="next">
              Next
            </button>
          </div>

        </div>
      </div>
      <app-contact-us-folding></app-contact-us-folding>
    </div>
  </div>
</div>
