.vh-crest-column {
    min-width: 195px;
}

.vh-crest-column img {
    width: 180px;
}

.panel-blue {
    background-color: #005ea5;
    padding: 30px;
}

.text-white {
    color: white;
}

.vh-button-white {
    background-color: #ffffff;
    color: #0b0b0b;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 7px 17px 4px 17px;
    font-size: 19px;
    font-size: 1.1875rem;
}

.vh-button-white:hover {
    background-color: #ffffff;
    color: #0b0b0b;
}

.vh-margin-botton-25 {
    margin-bottom: 25px;
}