<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        {{ "feedback-banner.header" | translate }}
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        {{ "feedback-banner.body" | translate }}
        <a class="govuk-notification-banner__link" href="https://www.smartsurvey.co.uk/s/VideoHearings_ExitSurvey/" target="_blank" rel="noopener noreferrer">{{ "feedback-banner.link-text" | translate }}</a>.
      </p>
    </div>
  </div>