@import "~govuk-frontend/all";

.task-header {
  background: govuk-colour("grey-3");
}

.pending-alert-text {
  color: govuk-colour("red");
  font-weight: bold;
}

.task-checkbox-and-time {
  width: 10px;
}

.task-body {
  width: 130px;
}

.task-origin {
  width: 200px;
}

.task-updated {
  width: 170px;
}
