@mixin all-main-container {
  position: fixed;
  bottom: 1%;
  z-index: 200;
}

.main-container {
  @include all-main-container;
  left: 0;
  width: 100vw;
}

.main-container-judge {
  @include all-main-container;
  left: 19%;
  width: 80%;
}

.judge-controls-container {
  float: left;
}

.judge-controls-padding {
  padding-left: 0px;
  padding-right: 200px;
}

#outgoingFeedVideo {
  bottom: 5.5vh;
  width: 259px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.microphoneIcon {
  height: 18px;
}

.reduce-margin {
  margin-bottom: 2px;
}

.hand {
  margin-left: 1vw;
}

#toggle-hand-button .govuk-button:focus {
  background-color: govuk-colour('green');
  color: govuk-colour('white');
}

#toggle-handup-button .govuk-button--warning:focus {
  background-color: govuk-colour('red');
  color: govuk-colour('white');
}

.remote-container {
  margin-left: -1vw;
}

.button-spacing {
  margin-right: 8px;
}

#hearing-monitor-div {
  float: right;
}

#judgeControlsDiv {
  padding-right: 0;
}

.icons-container {
  width: fit-content;
  height: 35px;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: auto;
  grid-column-gap: 8px;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 8px 0px 6px 32px;
  float: none;
  margin: auto;
}

.icon-btn {
  grid-row: 1;
  opacity: 50%;
  height: 24px;

  &--self-view {
    @extend .icon-btn;
    grid-column: 1;
  }

  &--audio-mute {
    @extend .icon-btn;
    grid-column: 2;
  }

  &--video-mute {
    @extend .icon-btn;
    grid-column: 3;
  }

  &--pause-hearing {
    @extend .icon-btn;
    grid-column: 3;
  }

  &--raise-hand {
    @extend .icon-btn;
    grid-column: 4;
  }

  &--end-hearing {
    @extend .icon-btn;
    grid-column: 4;
  }

  &--leave-consultation {
    @extend .icon-btn;
    grid-column: 4;
  }
}

.icon-btn:hover {
  opacity: 100%;
}
