@mixin all-main-container {
  position: fixed;
  bottom: 1%;
  z-index: 200;
}

.main-container {
  @include all-main-container;
  left: 0;
  width: 100vw;
}

.main-container-judge {
  @include all-main-container;
  left: 18%;
  width: 100%;
}

.judge-controls-container {
  float: left;
}

#outgoingFeedVideo {
  bottom: 5.5vh;
  width: 259px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.microphoneIcon {
  height: 18px;
}

.reduce-margin {
  margin-bottom: 2px;
}

#muteButton .govuk-button:focus {
  background-color: govuk-colour('green');
}

#unmuteButton .govuk-button--warning:focus {
  background-color: govuk-colour('red');
}

.hand {
  margin-left: 1vw;
}

#toggle-hand-button .govuk-button:focus {
  background-color: govuk-colour('green');
  color: govuk-colour('white');
}

#toggle-handup-button .govuk-button--warning:focus {
  background-color: govuk-colour('red');
  color: govuk-colour('white');
}

.remote-container {
  margin-left: -1vw;
}

.button-spacing {
  margin-right: 8px;
}

#hearing-monitor-div {
  float: left;
  padding: 0;
}
