<div class="govuk-grid-row">
  <div [ngClass]="isJudge && !isPrivateConsultation ? 'main-container-judge' : 'main-container'">
    <div class="outgoing-video-container govuk-grid-column-one-third">
      <video
        [ngClass]="{ 'vh-fade-in': selfViewOpen, 'vh-fade-out': !selfViewOpen }"
        id="outgoingFeedVideo"
        [muted]="true"
        [srcObject]="this.outgoingStream"
        autoplay
        height="auto"
      >
        Your browser does not support Video
      </video>
    </div>
    <div class="controls-container govuk-grid-column-one-third" [ngClass]="{ 'judge-controls-padding': isJudge }">
      <div class="icons-container">
        <img
          *ngIf="!audioOnly"
          id="toggle-self-view-img"
          appTooltip
          [text]="selfViewOpen ? 'Hide my self-view' : 'Show my self-view'"
          [colour]="'grey'"
          class="icon-btn icon-btn--self-view"
          [src]="selfViewOpen ? '/assets/images/self-view-hide.png' : '/assets/images/self-view-show.png'"
          [alt]="selfViewOpen ? 'Hide self-view' : 'Show self-view'"
          (click)="toggleView()"
        />

        <img
          *ngIf="!remoteMuted || isJudge"
          id="toggle-audio-mute-img"
          appTooltip
          [text]="audioMuted ? 'Unmute microphone' : 'Mute microphone'"
          [colour]="'grey'"
          class="icon-btn icon-btn--audio-mute"
          [src]="audioMuted ? '/assets/images/mic_off.png' : '/assets/images/mic_on.png'"
          [alt]="audioMuted ? 'Unmute microphone' : 'Mute microphone'"
          (click)="toggleMute()"
        />

        <img
          *ngIf="remoteMuted && !isJudge"
          appTooltip
          text="You have been been remote muted"
          [colour]="'grey'"
          id="toggle-audio-mute-locked-img"
          class="icon-btn icon-btn--audio-mute"
          src="/assets/images/mic_lock.png"
          alt="Remote muted"
        />

        <img
          *ngIf="!isJudge && !audioOnly"
          id="toggle-video-mute-img"
          appTooltip
          [text]="videoMuted ? 'Show camera' : 'Hide camera'"
          [colour]="'grey'"
          class="icon-btn icon-btn--video-mute"
          [src]="videoMuted ? '/assets/images/cam-off.png' : '/assets/images/cam-on.png'"
          [alt]="videoMuted ? 'Show camera' : 'Hide camera'"
          (click)="toggleVideoMute()"
        />

        <img
          *ngIf="!isPrivateConsultation && !isJudge"
          id="toggle-hand-raised-img"
          appTooltip
          [text]="handRaised ? 'Lower hand' : 'Raise hand'"
          [colour]="'grey'"
          class="icon-btn icon-btn--raise-hand"
          [src]="handRaised ? '/assets/images/hand.png' : '/assets/images/no-hand.png'"
          [alt]="handRaised ? 'Lower hand' : 'Raise hand'"
          (click)="toggleHandRaised()"
        />

        <img
          *ngIf="!isPrivateConsultation && isJudge"
          id="pause-hearing-img"
          appTooltip
          text="Pause the hearing"
          [colour]="'grey'"
          class="icon-btn icon-btn--pause-hearing"
          src="/assets/images/hearing_pause.png"
          alt="Pause the hearing"
          (click)="pause()"
        />

        <img
          *ngIf="!isPrivateConsultation && isJudge"
          appTooltip
          text="Close the hearing"
          [colour]="'grey'"
          id="end-hearing-img"
          class="icon-btn icon-btn--end-hearing"
          src="/assets/images/hearing_end.png"
          alt="Close the hearing"
          (click)="displayConfirmationDialog()"
        />

        <img
          *ngIf="showConsultationControls"
          appTooltip
          text="Leave"
          [colour]="'grey'"
          id="close-pc-btn"
          class="icon-btn icon-btn--leave-consultation"
          src="/assets/images/consultation_leave.png"
          alt="Leave the private consultation"
          (click)="leavePrivateConsultation()"
        />
      </div>
    </div>
    <div *ngIf="isSupportedBrowserForNetworkHealth" class="govuk-grid-column-one-third govuk-!-margin-top-9" id="hearing-monitor-div">
      <app-waiting-room-monitor *ngIf="!isJudge" [participant]="participant"></app-waiting-room-monitor>
    </div>
  </div>
</div>
<app-confirm-close-hearing-popup *ngIf="displayConfirmPopup" (popupAnswered)="close($event)">ddd </app-confirm-close-hearing-popup>
