<div class="govuk-grid-row">
  <div [ngClass]="isJudge ? 'main-container-judge' : 'main-container'">
    <div class="outgoing-video-container govuk-grid-column-full">
      <video
        [ngClass]="{ 'vh-fade-in': selfViewOpen, 'vh-fade-out': !selfViewOpen }"
        id="outgoingFeedVideo"
        [muted]="true"
        [srcObject]="this.outgoingStream"
        autoplay
        height="auto"
      >
        Your browser does not support Video
      </video>
    </div>
    <div class="controls-container govuk-grid-column-full govuk-!-padding-0">
      <div [ngClass]="{ 'govuk-grid-column-one-half': !isJudge, 'govuk-grid-column-one-quarter': isJudge }" id="outgoingFeedDiv">
        <!-- Self-view button -->
        <button
          id="outgoingFeedButton"
          type="button"
          class="govuk-button govuk-button--secondary reduce-margin govuk-!-margin-right-4"
          data-module="govuk-button"
          (click)="toggleView()"
        >
          {{ selfViewOpen ? 'Close' : 'Open' }} self-view
        </button>

        <ng-container *ngIf="!remoteMuted || isJudge">
          <span *ngIf="!audioMuted; else unmuteButton">
            <button
              id="muteButton"
              class="govuk-button reduce-margin"
              data-module="govuk-button"
              type="button"
              (click)="toggleMute()"
              aria-label="Mute Microphone Button"
            >
              Mute
              <span class="govuk-button__start-icon">
                <img id="mute-microphone-img" class="microphoneIcon" src="/assets/images/mic_on.png" alt="Mute Microphone Image" />
              </span>
            </button>
          </span>
        </ng-container>

        <ng-template #unmuteButton>
          <span>
            <button
              id="unmuteButton"
              class="govuk-button govuk-button--warning reduce-margin"
              data-module="govuk-button"
              type="button"
              (click)="toggleMute()"
              aria-label="Unmute Microphone Button"
            >
              Unmute

              <span class="govuk-button__start-icon microphoneIcon">
                <img id="unmute-microphone-img" class="microphoneIcon" src="/assets/images/mic_off.png" alt="Unmute Microphone Image" />
              </span>
            </button>
          </span>
        </ng-template>
        <!-- Remote muted -->
        <span [ngClass]="{ 'remote-container': remoteMuted }">
          <button
            *ngIf="remoteMuted && !isJudge"
            id="remote-muted-button"
            data-module="govuk-button"
            type="button"
            class="govuk-button govuk-button--warning reduce-margin hand"
            aria-label="Remote muted button"
          >
            The judge muted you
            <span class="govuk-button__start-icon microphoneIcon">
              <img id="unmute-microphone-img" class="microphoneIcon" src="/assets/images/mic_off.png" alt="Unmute Microphone Image" />
            </span>
          </button>

          <!-- toggle hand raise/lower-->
          <span *ngIf="!isPrivateConsultation && !isJudge">
            <!--lowed hand-->
            <button
              *ngIf="!handRaised; else handup"
              id="toggle-hand-button"
              data-module="govuk-button"
              type="button"
              class="govuk-button reduce-margin hand"
              aria-label="Hand lowered status"
              (click)="toggleHandRaised()"
            >
              {{ handToggleText }}
              <span class="govuk-button__start-icon">
                <img id="toggle-hand-img" class="microphoneIcon" src="/assets/images/no-hand.png" alt="Raise" />
              </span>
            </button>
            <!-- raised hand-->
            <ng-template #handup>
              <button
                id="toggle-handup-button"
                data-module="govuk-button"
                type="button"
                class="govuk-button govuk-button--warning reduce-margin hand"
                aria-label="Hand raised status"
                (click)="toggleHandRaised()"
              >
                {{ handToggleText }}
                <span class="govuk-button__start-icon">
                  <img id="toggle-hand-img" class="microphoneIcon" src="/assets/images/hand.png" alt="Raise" />
                </span>
              </button>
            </ng-template>
          </span>
        </span>
      </div>
      <!-- Judge-only controls-->
      <div
        [ngClass]="{ 'govuk-grid-column-one-half': !isJudge, 'govuk-grid-column-two-quarters': isJudge }"
        *ngIf="isJudge"
        id="judgeControlsDiv"
      >
        <div class="judge-controls-container">
          <button
            id="pauseButton"
            class="govuk-button reduce-margin button-spacing"
            data-module="govuk-button"
            type="button"
            (click)="pause()"
            aria-label="Pause Button"
          >
            Pause
          </button>

          <button
            id="closeButton"
            class="govuk-button reduce-margin button-spacing govuk-button--warning"
            data-module="govuk-button"
            type="button"
            (click)="close()"
            aria-label="Close Button"
          >
            Close
          </button>

          <button
            id="technicalIssuesButton"
            class="govuk-button govuk-button--secondary reduce-margin"
            data-module="govuk-button"
            type="button"
            (click)="suspend()"
            aria-label="Suspend Button"
          >
            Technical Assistance
          </button>
        </div>
      </div>

      <div
        *ngIf="isSupportedBrowserForNetworkHealth"
        [ngClass]="{ 'govuk-grid-column-one-half': !isJudge, 'govuk-grid-column-one-quarter': isJudge }"
        id="hearing-monitor-div"
      >
        <app-waiting-room-monitor [participant]="participant"></app-waiting-room-monitor>
      </div>
    </div>
  </div>
</div>
