<div class="task-header" [style.width.px]="taskDivWidth">
  <span class="govuk-!-padding-2 govuk-!-padding-left-4 govuk-heading-s">Alerts for this hearing</span>
</div>
<div id="tasks-list" style="overflow: auto; height: xyz;" class="task-list" [style.width.px]="taskDivWidth">
  <div *ngFor="let task of tasks" class="govuk-grid-row govuk-!-margin-0">
    <div class="govuk-grid-column-one-quarter task-checkbox-and-time govuk-!-padding-right-0">
      <div class="govuk-checkboxes__item">
        <input id="{{task.id}}-checkbox" class="govuk-checkboxes__input" type="checkbox" [checked]="task.status === 'Done'"
          [disabled]="task.status === 'Done'" (click)="completeTask(task)">
        <label class="govuk-label govuk-checkboxes__label govuk-!-padding-left-2" for="task-created">
          <p id="{{task.id}}-created-date" class="govuk-body-s">{{task.created | date:'HH:mm' }}</p>
        </label>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter task-body">
      <p id="{{task.id}}-type" class="govuk-body govuk-body-s pending-alert-text" [ngClass]="{'task-completed': task.status === 'Done'}">
        {{task.body}}
      </p>
    </div>
    <div class="govuk-grid-column-one-quarter task-origin">
      <p id="{{task.id}}-from-user" class="govuk-body-s" [ngClass]="{'task-completed': task.status === 'Done'}">{{getOriginName(task)}}
      </p>
    </div>
    <div class="govuk-grid-column-one-quarter task-updated">
      <p id="{{task.id}}-actioned-by" class="govuk-body-s" [ngClass]="{'task-completed': task.status === 'Done'}">{{task.updated_by}}
        {{task.updated | date:'HH:mm'}}
      </p>
    </div>
  </div>
</div>
