@import '~govuk-frontend/govuk/all';

.task-header {
  background: govuk-colour('light-grey');
}

.pending-alert-text {
  color: govuk-colour('red');
  font-weight: bold;
}

.task-checkbox-and-time {
  width: 15%;
  max-width: max-content;
}

.task-body {
  width: 15%;
  padding: 7px 0px;
}

.task-origin {
  width: 15%;
  padding: 7px 0px;
}

.task-updated {
  width: 55%;
  padding: 7px 0px;
}

.task-updated-body {
  float: right;
}

.task-completed {
  color: govuk-colour('mid-grey');
}

.task-list {
  height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
