@import "~govuk-frontend/all";

.task-header {
  background: govuk-colour("grey-3");
}

.pending-alert-text {
  color: govuk-colour("red");
  font-weight: bold;
}

.task-checkbox-and-time {
  width: 12%;
}

.task-body {
  width: 18%;
  padding: 7px 0px;
}

.task-origin {
  width: 15%;
  padding: 7px 0px;
}

.task-updated {
  width: 55%;
  padding: 7px 0px;
}

.task-completed {
  color: govuk-colour("grey-2");
}
