<div class="govuk-grid-row">
  <div class="half-left">
    <p id="im-header-title" class="govuk-body-l">Instant messages</p>
  </div>

  <div class="half-right">
    <h4 id="im-header-pname" class="govuk-heading-s participant-name">{{ participant.displayName }}</h4>
  </div>
</div>

<div id="chat-list" #scrollMe [scrollTop]="scrollMe.scrollHeight" class="govuk-grid-row chat-window">
  <div *ngIf="loading" class="govuk-body">Loading...</div>
  <app-chat-body-window [messages]="messages"></app-chat-body-window>
</div>

<div id="im-send-message" class="govuk-grid-row">
  <app-chat-input-box (submittedMessage)="sendMessage($event)"></app-chat-input-box>
</div>
