@import "~govuk-frontend/govuk/all";

.chat-header {
  background: govuk-colour("light-grey");
}

.chat-window {
  height: 200px;
}

.own-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.other-message>p {
  color: govuk-colour("blue");
}

.chat-message {
  white-space: pre-wrap;
}

.chat-input-group {
  display: flex;
}

.chat-input {
  margin-bottom: 0px;
  resize: none;
}

.chat-list {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
