<div class="govuk-grid-row">
  <div class="half-left">
    <p class="govuk-body-l">Instant Messages</p>
  </div>

  <div class="half-right">
    <h4 class="govuk-heading-s participant-name">{{ participant.displayName }}</h4>
  </div>
</div>

<div id="chat-list" #scrollMe [scrollTop]="scrollMe.scrollHeight" class="govuk-!-padding-2 govuk-!-padding-left-4" class="chat-window">
  <div *ngIf="loading" class="govuk-body">Loading...</div>
  <div *ngFor="let message of messages" class="govuk-grid-row message-container">
    <div class="govuk-grid-column-full" [ngClass]="message.is_user ? 'own-message' : 'other-message'">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold govuk-!-margin-right-2">{{ message.from }}</span
        >({{ message.timestamp | date: 'shortTime' }})
      </p>
      <p class="govuk-body chat-message" [ngClass]="message.is_user ? '' : 'other-message-body'">{{ message.message }}</p>
    </div>
  </div>
</div>

<app-chat-input-box (submittedMessage)="sendMessage($event)"></app-chat-input-box>
