<div class="chat-header" [style.width.px]="sectionDivWidth">
  <span class="govuk-!-padding-2 govuk-!-padding-left-4 govuk-heading-s">Instant messages for this hearing</span>
</div>
<div id="chat-list" #scrollMe [scrollTop]="scrollMe.scrollHeight" class="govuk-!-padding-2 govuk-!-padding-left-4"
  [style.width.px]="sectionDivWidth" class="chat-window">
  <div *ngFor="let message of messages" class="govuk-grid-row message-container">
    <div class="govuk-grid-column-full" [ngClass]="(message.is_user)?'own-message':'other-message'">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <span
          class="govuk-!-font-weight-bold govuk-!-margin-right-2">{{message.from}}</span>({{message.timestamp | date:'shortTime' }})
      </p>
      <p class="govuk-body chat-message">{{message.message}}</p>
    </div>
  </div>
</div>

<app-chat-input-box (submittedMessage)="sendMessage($event)"></app-chat-input-box>
