@import '~govuk-frontend/govuk/all';

.participant-name {
  float: right;
  margin-right: 30px;
}

.chat-window {
  height: 400px;
  border: 1px solid govuk-colour('light-grey');
  clear: both;
  margin-right: 0px !important;
  margin-left: -5px !important;
}

.chat-input-group {
  display: flex;
}

.chat-input {
  margin-bottom: 0px;
  margin-right: 25px;
  resize: none;
}

.chat-btn {
  margin: 9px 0px 9px -10px;
  top: 0;
  bottom: 0;
}

#chat-list {
  overflow-y: auto;
  overflow-x: hidden;
}
