@import '~govuk-frontend/govuk/all';

.participant-name {
  float: right;
  margin-right: 30px;
}

.chat-window {
  height: 400px;
  width: 100%;
}

.own-message {
  text-align: left;
}

.other-message {
  text-align: right;
}

.other-message-body {
  text-align: justify;
  float: right;
}

.other-message > p {
  color: govuk-colour('blue');
}

.chat-message {
  white-space: pre-wrap;
}

.chat-input-group {
  display: flex;
}

.chat-input {
  margin-bottom: 0px;
  margin-right: 25px;
  resize: none;
}

.chat-btn {
  margin: 9px 0px 9px -10px;
  top: 0;
  bottom: 0;
}

#chat-list {
  overflow-y: scroll;
}

.message-container {
  width: inherit;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
