.room-title {
  color: lightgray;
  margin-left: 50px;
  display: inline-block;
  margin-top: 10px;
}

.participant-wrapper {
  width: 333px;
  padding: 12px;
  float: right;
  max-height: 675px;
  overflow: overlay;
}

.video-wrapper {
  width: auto;
  overflow: hidden;
}

#incomingFeedPrivate {
  position: relative;
  left: 0;
  top: 0px;
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: 90vh;
  z-index: 100;
}
