.room-title {
  color: lightgray;
  margin-left: 50px;
  display: inline-block;
  margin-top: 10px;
}

.participant-wrapper {
  width: 333px;
  padding: 12px;
  float: right;
  max-height: 675px;
  overflow: overlay;
}

.video-wrapper {
  width: auto;
  overflow: hidden;
}
