<div class="modal-content negative">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-body--white govuk-!-margin-bottom-1">
        Sorry, there are no conference rooms available at the moment
      </p>
      <p class="govuk-!-font-size-19 govuk-body--white">Please try again shortly</p>
      <button
        id="cancel-pc-request-btn"
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
        (click)="closeModal()"
        alt="Close"
      >
        Close
      </button>
    </div>
  </div>
</div>
