<div *ngIf="conference">
  <h1 class="govuk-heading-l">Hearing Events</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <button type="button" class="govuk-button" (click)="pauseHearing()" data-module="govuk-button">
        Pause Hearing
      </button>
    </div>
    <div class="govuk-grid-column-one-third">
      <button type="button" class="govuk-button" (click)="suspendHearing()" data-module="govuk-button">
        Suspend Hearing
      </button>
    </div>
    <div class="govuk-grid-column-one-third">
      <button type="button" class="govuk-button" (click)="endHearing()" data-module="govuk-button">
        End Hearing
      </button>
    </div>
  </div>

  <h1 class="govuk-heading-l">Participant Events</h1>

  <div *ngFor="let pat of conference.participants" class="govuk-grid-row">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

    <div class="govuk-grid-column-full">
      <p class="govuk-heading-m">{{ pat.display_name }}</p>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="joinHearing(pat)" data-module="govuk-button">
        Join Hearing
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="leaveHearing(pat)" data-module="govuk-button">
        Leave Hearing
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="disconnectFromHearing(pat)" data-module="govuk-button">
        Disconnect
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="requestHelp(pat)" data-module="govuk-button">
        Request Help
      </button>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="transferToWaitingRoom(pat)" data-module="govuk-button">
        Waiting Room
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="transferToHearingRoom(pat)" data-module="govuk-button">
        Hearing Room
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="transferToConsultationRoom1(pat)" data-module="govuk-button">
        Consultation Room 1
      </button>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="transferToConsultationRoom2(pat)" data-module="govuk-button">
        Consultation Room 2
      </button>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="transferToHearingRoomFromConsultationRoom(pat)" data-module="govuk-button">
        Consultation to Waiting Room
      </button>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <button type="button" class="govuk-button" (click)="vhoConsultation(pat)" data-module="govuk-button">
        VHO Consultation
      </button>
    </div>
  </div>
</div>
