@import '~govuk-frontend/govuk/all';

.vh-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  z-index: 999;
}
.vh-popup {
  padding: 40px;
  margin: 250px auto;
  border-radius: 3px;
  background: #ffffff;
  transition: all 2s ease-in-out;
  width: 37%;
}
