@import '~govuk-frontend/govuk/base';
$device-width: 48em;

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.7);
  background-color: #fefefe;
  margin: 5% auto;
  border: none;
  border-radius: 5px;
  max-width: 700px;
  @media only screen and (min-width: $device-width) {
    width: 50%;
    padding: 20px;
  }
  @media only screen and (max-width: $device-width) {
    width: 80%;
    padding: 5px;
  }
}

.label-status {
  color: govuk-colour('white');
  padding: 3px 5px 3px 5px;
  font-weight: 600;
  letter-spacing: 1px;
  @media only screen and (min-width: $device-width) {
    font-size: 0.9rem;
  }
  @media only screen and (max-width: $device-width) {
    font-size: 8px;
  }
}

.label-status--unavailable {
  background-color: govuk-colour('dark-grey');
}

.label-status--in-consultation {
  background-color: govuk-colour('white');
  border: 2px solid govuk-colour('blue');
  border-radius: 2px;
  color: govuk-colour('blue');
}

.govuk-checkboxes--small {
  display: flex;
}

.buttons {
  margin-top: 10px;
}

.vh-scroll-wrap {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-height: $device-width) {
  .vh-scroll-wrap {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  overflow-x: hidden;
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: govuk-colour('dark-grey');
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.warning-text {
  @media only screen and (max-width: $device-width) {
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: -10px;
  }
}

.modal-title {
  @media only screen and (max-width: $device-width) {
    font-size: 15px;
  }
}

.checkboxes-label {
  @media only screen and (max-width: $device-width) {
    font-size: 13px;
    padding: 2px;
  }
}
