@import '~govuk-frontend/govuk/base';

.fill-container {
  width: 100%;
  height: 100%;
}

.transferMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  z-index: 100;
}

#hearing-monitor-div {
  z-index: 100;
  position: fixed;
  bottom: 0;
}

.video-background {
  background: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
}

.header-bar {
  display: flex;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 70%);
  box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 30%);
}

.no-mass {
  display: none;
}

.govuk-panel {
  text-align: left;
}

.hearing-on-time {
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
}

.hearing-near-start {
  background-color: govuk-colour('black');
  color: govuk-colour('white');
}

.hearing-delayed {
  background-color: govuk-colour('yellow');
  color: govuk-colour('black');
}

.govuk-heading-m.white {
  color: govuk-colour('white');
}

.white {
  color: govuk-colour('white');
}

.hearing-details-col1-width {
  width: 65%;
}

.hearing-details-col2-width {
  width: 31%;
}

.hearing-title-mt--20 {
  margin-top: -20px;
}

.reduce-margin {
  margin-bottom: 2px;
}

#muteButton .govuk-button:focus {
  background-color: govuk-colour('green');
}

#unmuteButton .govuk-button--warning:focus {
  background-color: govuk-colour('red');
}

.hand {
  margin-left: 1vw;
}

#toggle-hand-button.govuk-button:focus {
  background-color: govuk-colour('green');
  color: govuk-colour('white');
}

#toggle-hand-button.govuk-button--warning:focus {
  background-color: govuk-colour('red');
  color: govuk-colour('white');
}

.remote-container {
  margin-left: -1vw;
}

.govuk-button--bigblue {
  background: govuk-colour('blue');
  font-size: 24px;
  font-weight: 700;
}

.govuk-button--bigblue:hover {
  background: govuk-colour('dark-blue');
}

.govuk-button--biggreen {
  background: govuk-colour('green');
  font-size: 24px;
  font-weight: 700;
}

.govuk-button--bigblue .badge {
  font-family: 'GDS Transport', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: -2px;
  right: -4px;
  padding: 3px 10px;
  border-radius: 50%;
  background-color: #333;
  color: white;
}

.video-wrapper,
.panel-wrapper {
  height: calc(100% - 4.094375rem);
}

@media screen and (min-width: 40.0625em) {
  .video-wrapper,
  .panel-wrapper {
    height: calc(100% - 5rem);
  }
}

.video-wrapper {
  width: auto;
  overflow: hidden;
}

.hide-panel {
  display: none;
}

.panel-wrapper {
  width: 333px;
  float: right;
  overflow: overlay;

  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 70%);
  box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 30%);
}

.chat-wrapper {
  width: 333px;
  padding: 12px;
  float: right;
  max-height: 675px;
  overflow: overlay;
}

.room-title {
  color: lightgray;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 400px) {
    max-width: 150px;
  }
}

.room-title-label {
  font-size: 1em;
  color: lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;

  @media only screen and (max-width: 1024px) {
    max-width: 400px;
  }
}

.room-title-show-more {
  float: right;
  color: $govuk-link-colour;
  cursor: pointer;
}

#incomingFeed,
#incomingFeedPrivate,
.incomingFeedPrivate {
  position: relative;
  left: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
}

#secondIncomingFeed {
  position: fixed;
  left: 10px;
  top: 65px;
  width: 259px;
  min-height: auto;
  z-index: 200;
  cursor: pointer;

  video {
    width: 259px;
  }
}
