<div id="confirmationDialog" class="vh-popup-overlay">
    <div class="modal-content">
        <h1 class="govuk-heading-m">{{ 'confirm-join-hearing-popup.about-to-join-hearing' | translate }}</h1>
        <app-mute-microphone 
          *ngIf="isMuteMicrophoneEnabled" 
          [hearingId]="hearingId" 
          (confirmAnswered)="onConfirmAnswered($event)" 
          [confirmButtonText]="'confirm-join-hearing-popup.join-hearing' | translate" 
          [confirmButtonLabel]="'confirm-join-hearing-popup.confirm-join-hearing' | translate" 
          [cancelButtonLabel]="'confirm-join-hearing-popup.cancel-join-hearing' | translate">
        </app-mute-microphone>
  </div>
</div>