<div id="confirmationDialog" class="vh-popup-overlay">
  <div class="modal-content">
    <h1 class="govuk-heading-m">{{'confirm-self-test-popup.title' | translate}}</h1>

    <p class="govuk-body govuk-!-margin-bottom-9">
      {{'confirm-self-test-popup.message' | translate}}
    </p>

    <button
      id="btnOk"
      class="govuk-button govuk-!-margin-right-1"
      type="button"
      data-module="govuk-button"
      [attr.aria-label]="'confirm-self-test-popup.submit-button' | translate"
      (click)="submit()"
    >
    {{'confirm-self-test-popup.submit-button' | translate}}
    </button>
  </div>
</div>
  