<div id="confirmationDialog" class="vh-popup-overlay">
  <div class="modal-content">
    <h1 class="govuk-heading-m">{{'confirm-close-hearing-popup.title' | translate}}</h1>

    <p class="govuk-body govuk-!-margin-bottom-9">
      {{'confirm-close-hearing-popup.message' | translate}}
    </p>

    <button
      id="btnConfirmClose"
      class="govuk-button govuk-!-margin-right-1"
      type="button"
      data-module="govuk-button"
      [attr.aria-label]="'confirm-close-hearing-popup.close-hearing-label' | translate"
      (click)="respondWithYes()"
    >
    {{'confirm-close-hearing-popup.close-hearing' | translate}}
    </button>

    <button
      id="btnCancelClose"
      class="govuk-button govuk-button--secondary"
      type="button"
      data-module="govuk-button"
      [attr.aria-label]="'confirm-close-hearing-popup.cancel-close-label' | translate"
      (click)="respondWithNo()"
    >
    {{'confirm-close-hearing-popup.cancel-close' | translate}}
    </button>
  </div>
</div>
