<div id="confirmationDialog" class="vh-popup-overlay">
    <div class="vh-popup">
        <h1 class="govuk-heading-m">You are about to leave this private consultation</h1>


        <button id="btnConfirmLeaveConsultation"
                class="govuk-button govuk-!-margin-right-1"
                type="button"
                data-module="govuk-button"
                aria-label="Confirm leave consultation"
                (click)="respondWithYes()">
           Leave consultation
        </button>

        <button id="btnCancelLeaveConsultation"
                class="govuk-button govuk-button--secondary govuk-!-margin-left-2"
                type="button"
                data-module="govuk-button"
                aria-label="Cancel leave consultation"
                (click)="respondWithNo()">
            Cancel
        </button>
    </div>
</div>
