@import '~govuk-frontend/govuk/base';
@import 'abstracts';

.vh-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  z-index: 999;
}
