<div class="govuk-grid-row govuk-!-padding-top-4" *ngIf="!connectionError">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Please try again later.</p>
    <p class="govuk-body">If you need to speak to someone please contact us using the options below.</p>
  </div>
</div>
<div class="govuk-grid-row govuk-!-padding-top-4" *ngIf="connectionError">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ errorMessageText }}</h1>
    <p class="govuk-body">Please reconnect. Call us if you keep seeing this message.</p>
    <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
      <button id="reconnect-btn" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="button"
        (click)="reconnect()" aria-label="Continue to the next page">
        Reconnect
      </button>
    </div>
    <h2 class="govuk-heading-m">Helpline: 0300 303 0655</h2>
  </div>
</div>

<app-contact-us-folding></app-contact-us-folding>