<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="!loadingData && hasHearings()" class="govuk-grid-row">
  <div id="list-column" class="govuk-grid-column-one-half">
    <dl id="conferences-list" class="govuk-summary-list">
      <div class="govuk-summary-list__row" [class.selected-conference]="isCurrentConference(conference)"
        *ngFor="let conference of conferences" (click)="displayAdminViewForConference(conference)">
        <dd class="govuk-summary-list__value govuk-!-padding-left-4">
          <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.scheduled_date_time | date:'HH:mm' }}</p>
          <span id="with-hint-hint" class="govuk-hint">
            {{ getDuration(conference.scheduled_duration) }}
          </span>
        </dd>
        <dd class="govuk-summary-list__value">
          <strong>
            <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.case_number}}</p>
            <p class="govuk-!-margin-0 govuk-!-padding-0">{{conference.case_name}}</p>
          </strong>
          <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            <span class="govuk-!-padding-2"
              [ngClass]="[ isSuspended(conference) ? 'conference-problem' : 'conference-okay']">{{ conference.status }}</span>
          </div>
        </dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-half">
    <iframe id="admin-frame" *ngIf="selectedConferenceUrl" [width]='adminFrameWidth' height="600"
      [src]='selectedConferenceUrl' allowfullscreen frameborder="0" webkitallowfullscreen mozallowfullscreen>
    </iframe>
  </div>
</div>

<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl">Video hearings</h1>
  <h3 class="govuk-heading-m"> You have no video hearings</h3>
</div>
