@import "~govuk-frontend/all";

.conference-problem {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
}

.conference-okay {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
}

.selected-conference {
    background: govuk-colour("grey-3");
}

/deep/ #master-container{
    margin-left: 10px !important;
    margin-right: 10px !important;
}