@import "~govuk-frontend/all";

.conference-suspended,
.conference-delayed,
.conference-not-ready,
.conference-closed {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
    font-weight: bold;
}

.pending-alerts {
    color: govuk-colour("red");
    font-weight: bold;
}

.conference-in-session {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    font-weight: bold;
}

.conference-paused {
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");
    font-weight: bold;
}

.conference-ready {
    background-color: govuk-colour("green");
    color: govuk-colour("white");
    font-weight: bold;
}

.selected-conference {
    background: govuk-colour("grey-3");
}

/deep/ #master-container{
    margin-left: 10px !important;
    margin-right: 10px !important;
}