<div *ngIf="loadingData">
  <p class="govuk-body">Loading please wait...</p>
</div>

<div *ngIf="!loadingData && hasHearings()" class="govuk-grid-row">
  <h1 class="govuk-heading-xl">Video hearings</h1>

  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" *ngFor="let conference of conferences">
        <dd class="govuk-summary-list__value">
          {{ conference.scheduled_date_time | date: "HH:mm" }} <br />
          <span id="with-hint-hint" class="govuk-hint">
            {{ getDuration(conference.scheduled_duration) }}
          </span>
        </dd>
        <dd class="govuk-summary-list__value">
          <strong>
            {{ conference.case_number }} <br />
            {{ conference.case_name }}
          </strong>
          <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            <span class="govuk-!-padding-2"
              style="background-color: #005ea5; color: white">{{ conference.status }}</span>
          </div>
        </dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-half">
    <iframe *ngIf="selectedConferenceUrl" width="900" height="800" [src]='selectedConferenceUrl' allowfullscreen
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>


  <!-- <div *ngFor="let conference of conferences" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <div class="govuk-grid-column-one-half govuk-body-s">
        {{ conference.scheduled_date_time | date: "dd MMM yyyy" }} <br />
        <span id="with-hint-hint" class="govuk-hint">
          {{ getDuration(conference.scheduled_duration) }}
        </span>
      </div>
      
      <div class="govuk-grid-column-one-half govuk-body-s">
        <strong>
          {{ conference.case_number }} <br />
          {{ conference.case_name }}
        </strong>
        <div class="govuk-!-margin-top-3">
          <span class="govuk-!-padding-2" style="background-color: #005ea5; color: white">{{ conference.status }}</span>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div *ngIf="!loadingData && !hasHearings()">
  <h1 class="govuk-heading-xl">Video hearings</h1>
  <h3 class="govuk-heading-m"> You have no video hearings</h3>
</div>
