<section class="govuk-notification-banner" aria-labelledby="feedback-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="feedback-banner-title">
        {{ "feedback-banner.title" | translate }}
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading" id="feedback-banner-body">
        {{ "feedback-banner.body" | translate }}
        <a class="govuk-notification-banner__link" href="https://www.smartsurvey.co.uk/s/videohearingscontinousimprovement/" target="_blank" rel="noopener noreferrer" id="feedback-banner-link">{{ "feedback-banner.link-text" | translate }}</a>
      </p>
    </div>
  </section>
