<div class="govuk-!-margin-top-3">
  <section
    class="govuk-notification-banner govuk-notification-banner--warning"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner"
  >
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        {{ 'service-banner.title' | translate }}
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        {{ serviceDownBannerText }}
      </p>
    </div>
  </section>
</div>
