<div class="govuk-grid-row govuk-body-s govuk-!-padding-top-3">
  <div id="im-participant-list" class="govuk-grid-column-one-third">
    <app-hearing-header [hearing]="hearing"></app-hearing-header>
    <app-admin-im-list [hearing]="hearing" (selectedParticipant)="onParticipantSelected($event)"></app-admin-im-list>
  </div>

  <div id="chat-window" class="govuk-grid-column-two-thirds">
    <ng-container *ngIf="hearing && currentParticipant; else noParticipant">
      <app-vho-chat [hearing]="hearing" [participant]="currentParticipant"></app-vho-chat>
    </ng-container>
  </div>
</div>

<ng-template #noParticipant>
  <h4 class="govuk-heading-s">Select a participant</h4>
</ng-template>