@import '~govuk-frontend/govuk/base';

#outgoingFeedVideoTransfer {
  bottom: 10px;
  width: 259px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.transferFeedImage {
  height: 123.5px;
  width: 150px;
}

.govuk-button-blue {
  background: govuk-colour('blue');
}
.govuk-button-blue:hover {
  background: govuk-colour('dark-blue');
}

.room-status {
  margin-top: 7px;
  margin-left: 10px;
}

.room-status-desc {
  color: lightgray;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.lock-badge {
  padding: 3px 8px 3px 8px;
  border: 0px solid lightgray;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.lock-badge.locked,
.lock-badge.unlocked {
  background: lightgray;
  color: #0b0c0d;
}

.header-content-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.header-content-grid-with-lock {
  display: grid;
  grid-template-columns: 200px 100px auto auto;
  width: 100%;
}
