<div *ngIf="loadingData">
  <p class="govuk-body">{{ 'participant-waiting-room.loading-please-wait' | translate }}</p>
</div>

<div *ngIf="showVideo" class="video-background">
  <div class="header-bar">
    <div class="govuk-body" [class]="!isJohRoom && isPrivateConsultation ? 'header-content-grid-with-lock' : 'header-content-grid'">
      <ng-container *ngIf="!isJohRoom && isPrivateConsultation">
        <div class="room-title">
          {{ getRoomName() }}
        </div>
        <div class="room-status">
          <span class="lock-badge" [class]="this.participant?.current_room?.locked ? 'locked' : 'unlocked'">{{
            (this.participant?.current_room?.locked ? 'participant-waiting-room.locked' : 'participant-waiting-room.unlocked') | translate
          }}</span>
        </div>
        <div *ngIf="!this.participant?.current_room?.locked" class="room-status-desc">
          {{ 'participant-waiting-room.lock-the-room' | translate }}
        </div>
        <div *ngIf="this.participant?.current_room?.locked" class="room-status-desc">
          {{ 'participant-waiting-room.invite-others' | translate }}
        </div>
      </ng-container>
      <ng-container *ngIf="isJohRoom || !isPrivateConsultation">
        <div class="room-title">
          <div #roomTitleLabel class="room-title-label">{{ getCaseNameAndNumber() }}</div>
          <div *ngIf="hasCaseNameOverflowed" class="room-title-show-more" appTooltip [text]="getCaseNameAndNumber()" colour="grey">
            (show more)
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="connected">
        <app-private-consultation-room-controls
          #hearingControls
          [conferenceId]="conference.id"
          [participant]="participant"
          [audioOnly]="audioOnly"
          [isPrivateConsultation]="isPrivateConsultation"
          [outgoingStream]="outgoingStream"
          [isSupportedBrowserForNetworkHealth]="isSupportedBrowserForNetworkHealth"
          [showConsultationControls]="showConsultationControls"
          (leaveConsultation)="showLeaveConsultationModal()"
          (lockConsultation)="setRoomLock($event)"
          (changeDeviceToggle)="showChooseCameraDialog()"
        >
        </app-private-consultation-room-controls>
      </ng-container>
    </div>
  </div>
  <div *ngIf="hearing && isPrivateConsultation" class="panel-wrapper">
    <app-private-consultation-participants
      [conference]="hearing.getConference()"
      [participantEndpoints]="participantEndpoints"
      [roomLabel]="this.participant.current_room?.label"
    >
    </app-private-consultation-participants>
  </div>
  <div class="video-wrapper">
    <video
      id="incomingFeedPrivate"
      #incomingFeed
      (playing)="updateVideoStreamMuteStatus()"
      autoplay
      [srcObject]="presentationStream && !streamInMain ? presentationStream : stream"
      poster="/assets/images/empty_crest.jpg"
    >
      {{ 'participant-waiting-room.browser-support' | translate }}
    </video>
    <div
      id="secondIncomingFeed"
      *ngIf="presentationStream"
      (click)="switchStreamWindows()"
      appTooltip
      [text]="'participant-waiting-room.switch-to-main-screen' | translate"
      colour="grey"
    >
      <video
        [srcObject]="presentationStream && !streamInMain ? stream : presentationStream"
        autoplay
        height="auto"
        poster="/assets/images/empty_crest.jpg"
        class="fill-container"
      >
        {{ 'participant-waiting-room.browser-support' | translate }}
      </video>
    </div>
  </div>

  <div *ngIf="isSupportedBrowserForNetworkHealth" id="hearing-monitor-container">
    <app-participant-network-alert [participant]="participant"></app-participant-network-alert>
  </div>
</div>

<div *ngIf="isOrHasWitnessLink() && isTransferringIn">
  <div class="video-background">
    <div class="transferMessage">
      <img
        class="transferFeedImage"
        id="transferFeedImage"
        src="/assets/images/UkGovCrestWhite.png"
        [attr.alt]="'participant-waiting-room.witness-transferring-warning-image' | translate"
      />
      <h2 class="govuk-heading-m white govuk-!-margin-top-5" [innerHTML]="'participant-waiting-room.hearing-ready' | translate"></h2>
      <video id="outgoingFeedVideoTransfer" [muted]="true" [srcObject]="outgoingStream" autoplay height="auto">
        {{ 'participant-waiting-room.browser-support' | translate }}
      </video>
    </div>
  </div>
</div>

<div *ngIf="!loadingData && hearing && showExtraContent" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-padding-top-5" style="margin-bottom: 0">
      <h1 class="govuk-heading-xl govuk-!-padding-top-5">
        {{ 'participant-waiting-room.your-video-hearing' | translate }} {{ getConferenceStatusText() }}
      </h1>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-4" *ngIf="!showVideo">
      <div class="govuk-grid-column-one-third">
        <button
          id="changeCameraButton"
          class="govuk-button"
          data-module="govuk-button"
          type="button"
          (click)="showChooseCameraDialog()"
          [attr.aria-label]="'participant-waiting-room.choose-camera-and-microphone-aria-label' | translate"
        >
          {{ 'participant-waiting-room.choose-camera-and-microphone' | translate }}
        </button>
      </div>
      <div class="govuk-grid-column-two-thirds" style="float: right">
        <div *ngIf="isSupportedBrowserForNetworkHealth" id="hearing-monitor-container">
          <app-participant-network-health [participant]="participant" [showDetail]="false"> </app-participant-network-health>
        </div>
      </div>
    </div>

    <table class="govuk-table vh-fullwidth" [attr.aria-label]="'participant-waiting-room.details-of-the-hearing' | translate">
      <thead class="govuk-table__head no-mass">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ 'participant-waiting-room.hearing' | translate }}</th>
          <th scope="col" class="govuk-table__header">{{ 'participant-waiting-room.date' | translate }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell hearing-details-col1-width">
            <strong>{{ hearing.caseName }}</strong> ({{ 'case-type.' + stringToTranslateId(conference.case_type) | translate }})
            <span>{{ 'participant-waiting-room.case-number' | translate }}</span
            >:
            <strong>{{ hearing.caseNumber }}</strong>
          </td>
          <td class="govuk-table__cell hearing-details-col2-width">
            {{ hearing.scheduledStartTime | translateDate  : 'dd MMMM yyyy'  }}
            <span class="govuk-!-font-weight-bold">
              {{ hearing.scheduledStartTime | date: 'HH:mm' }} {{ 'participant-waiting-room.to' | translate }}
              {{ hearing.scheduledEndTime | date: 'HH:mm' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-two-thirds" *ngIf="showExtraContent">
    <div *ngIf="currentTime" class="govuk-panel" [ngClass]="getCurrentTimeClass()">
      <div class="govuk-body govuk-!-margin-bottom-0" [ngClass]="getCurrentTimeClass()">
        <div *ngIf="!isOrHasWitnessLink() && hearing.isOnTime()">
          <h2 class="govuk-heading-m white">{{ 'participant-waiting-room.please-wait' | translate }}</h2>
          <p class="white">
            {{ 'participant-waiting-room.hearing-starting-at' | translate }} {{ hearing.scheduledStartTime | date: 'HH:mm' }}
          </p>
        </div>

        <div *ngIf="!isOrHasWitnessLink() && hearing.isStarting()">
          <h2 class="govuk-heading-m white">{{ 'participant-waiting-room.hearing-status-messages.starting-title' | translate }}</h2>
          <p class="white">{{ 'participant-waiting-room.hearing-status-messages.starting-body' | translate }}</p>
        </div>

        <div *ngIf="!isOrHasWitnessLink() && hearing.isDelayed()">
          <h2 class="govuk-heading-m">{{ 'participant-waiting-room.hearing-status-messages.delayed-title' | translate }}</h2>
          <p>{{ 'participant-waiting-room.hearing-status-messages.delayed-body' | translate }}</p>
        </div>

        <div *ngIf="!isOrHasWitnessLink() && hearing.isClosed()">
          <h2 class="govuk-heading-m white">{{ 'participant-waiting-room.hearing-status-messages.closed' | translate }}</h2>
        </div>

        <div *ngIf="!isOrHasWitnessLink() && hearing.isPaused()" class="hearing-title-mt--20">
          <p class="white">{{ 'participant-waiting-room.hearing-status-messages.paused' | translate }}</p>
        </div>

        <div *ngIf="hearing.isSuspended()">
          <h2 class="govuk-heading-m">{{ 'participant-waiting-room.hearing-status-messages.suspended-title' | translate }}</h2>
          <p>{{ 'participant-waiting-room.hearing-status-messages.suspended-body' | translate }}</p>
        </div>

        <div *ngIf="isOrHasWitnessLink() && hearing.isInSession()">
          <h2 class="govuk-heading-m white">{{ 'participant-waiting-room.hearing-status-messages.in-session-title' | translate }}</h2>
          <p class="white">
            {{ 'participant-waiting-room.hearing-status-messages.in-session-body' | translate }}
          </p>
        </div>

        <div *ngIf="isOrHasWitnessLink() && (hearing.isOnTime() || hearing.isStarting() || hearing.isDelayed())">
          <h2 class="govuk-heading-m white">{{ 'participant-waiting-room.please-wait' | translate }}</h2>
          <p class="white">
            {{ 'participant-waiting-room.hearing-about-to-start' | translate }}
          </p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-panel__body govuk-!-margin-top-4">
            <app-analogue-clock [hearing]="hearing" [isWitness]="isOrHasWitnessLink()"></app-analogue-clock>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-body" [ngClass]="getCurrentTimeClass()">
            <p class="govuk-!-margin-bottom-4" [ngClass]="getCurrentTimeClass()">{{ 'participant-waiting-room.time-now' | translate }}</p>
            <p class="govuk-panel__body govuk-!-margin-top-4 govuk-!-font-size-80" [ngClass]="getCurrentTimeClass()">
              <strong>{{ currentTime | date: 'HH:mm' }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="canStartJoinConsultation">
      <button
        [disabled]="!connected"
        class="govuk-button"
        id="openStartPCButton"
        data-module="govuk-button"
        (click)="openStartConsultationModal()"
      >
        {{ 'participant-waiting-room.private-consultation.start' | translate }}
      </button>

      <button
        [disabled]="!connected"
        class="govuk-button govuk-button-blue govuk-!-margin-left-5"
        id="openJoinPCButton"
        data-module="govuk-button"
        (click)="openJoinConsultationModal()"
      >
        {{ 'participant-waiting-room.private-consultation.join' | translate }}
      </button>
    </div>
    <div *ngIf="!connected" class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">{{ 'participant-waiting-room.warning' | translate }}</span>
        {{ 'participant-waiting-room.please-wait-while-we-connect-you' | translate }}
      </strong>
    </div>

    <div *ngIf="canStartJoinConsultation">
      <details class="govuk-details" data-module="govuk-details">
        <summary
          class="govuk-details__summary"
          (click)="toggleAccordian()"
          tabindex="0"
          role="button"
          [attr.aria-expanded]="privateConsultationAccordianExpanded"
        >
          <span class="govuk-details__summary-text" id="what-are-private-meetings">
            {{ 'participant-waiting-room.private-consultation.what-are-private-meetings' | translate }}
          </span>
        </summary>
        <div class="govuk-details__text" *ngIf="privateConsultationAccordianExpanded">
          <p class="govuk-body govuk-!-margin-bottom-0">
            {{ 'participant-waiting-room.private-consultation.talk-to-other-participants' | translate }}
          </p>
          <ul>
            <li>{{ 'participant-waiting-room.private-consultation.guide1' | translate }}</li>
            <li>{{ 'participant-waiting-room.private-consultation.guide2' | translate }}</li>
            <li>{{ 'participant-waiting-room.private-consultation.guide3' | translate }}</li>
          </ul>
          <p class="govuk-body govuk-!-margin-bottom-0">
            {{ 'participant-waiting-room.private-consultation.guide4' | translate }}
          </p>
        </div>
      </details>
    </div>

    <div class="govuk-!-margin-top-9">
      <p class="govuk-body">
        <strong>{{ 'participant-waiting-room.vh-team' | translate: { phone: '0300 303 0655' } }}</strong>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third" [ngClass]="{ 'no-mass': !showExtraContent }">
    <app-individual-participant-status-list
      [attr.aria-label]="'participant-waiting-room.individual-participant-status-list-label' | translate"
      [conference]="hearing.getConference()"
    >
    </app-individual-participant-status-list>
  </div>
</div>

<app-participant-chat *ngIf="hearing && showExtraContent" [hearing]="hearing"></app-participant-chat>

<app-select-media-devices
  *ngIf="displayDeviceChangeModal"
  [waitingRoomMode]="true"
  [showAudioOnlySetting]="true"
  [cameraOn]="!audioOnly"
  (cancelMediaDeviceChange)="onMediaDeviceChangeCancelled()"
  (acceptMediaDeviceChange)="onMediaDeviceChangeAccepted($event)"
  #selectMediaDevices
></app-select-media-devices>

<app-start-private-consultation
  *ngIf="displayStartPrivateConsultationModal"
  [participants]="getPrivateConsultationParticipants()"
  [endpoints]="hearing.getEndpoints()"
  [allowedEndpoints]="participantEndpoints"
  (cancel)="closeStartPrivateConsultationModal()"
  (continue)="startPrivateConsultation($event.participants, $event.endpoints)"
></app-start-private-consultation>

<app-join-private-consultation
  *ngIf="displayJoinPrivateConsultationModal"
  [participants]="getPrivateConsultationParticipants()"
  [endpoints]="conference.endpoints"
  (cancel)="closeJoinPrivateConsultationModal()"
  (continue)="joinPrivateConsultation($event)"
>
</app-join-private-consultation>

<app-modal id="pc-leave-modal" class="modal clear consultation">
  <app-consultation-leave (leave)="onConsultationCancelled()" (closedModal)="closeAllPCModals()"> </app-consultation-leave>
</app-modal>
