---
java:
  image: "sdshmctspublic.azurecr.io/vh/video-web:latest"
  applicationPort: 8080
  replicas: 2
  ingressHost: vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-video-web
  livenessPath: /health/liveness
  readinessPath: /health/readiness
  startupPath: /health/startup
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: connectionstrings--applicationinsights
          alias: applicationinsights--connectionstring
        - azuread--tenantid
        - azuread--vhvideowebclientid
        - connectionstrings--signalr
        - connectionstrings--rediscache
        - name: launchdarkly-client-id
          alias: VHSERVICES--LAUNCHDARKLYCLIENTID
        - name: dom1--tenant--id
          alias: DOM1--TenantId
        - name: dom1--videoweb--clientid
          alias: DOM1--ClientId
        - dynatraceconfiguration--dynatracerumlink
    vh-video-web:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: FeatureToggles--SDK-Key
          alias: launchdarkly--sdkkey
        - azuread--clientid
        - azuread--clientsecret
        - customtoken--secret
        - customtoken--thirdpartysecret
        #vodafone configuration
        - vodafoneconfiguration--apisecret
        - vodafoneconfiguration--callbacksecret
        - vodafoneconfiguration--conferencephonenumber
        - vodafoneconfiguration--conferencephonenumberWelsh
        - vodafoneconfiguration--heartbeaturlbase
        - name: kinlyconfiguration--joinbyphonefromdate
          alias: vodafoneconfiguration--joinbyphonefromdate
        - vodafoneconfiguration--selftestapisecret
        - name: kinlyconfiguration--turnserver
          alias: vodafoneconfiguration--turnserver
        - name: kinlyconfiguration--turnservercredential
          alias: vodafoneconfiguration--turnservercredential
        - name: kinlyconfiguration--turnserveruser
          alias: vodafoneconfiguration--turnserveruser

        - quicklinks--issuer
        - quicklinks--rsapublickey
        - quicklinks--validaudience
        - vhservices--emailreformdomain
        - vhservices--internaleventsecret
        - ejudad--clientid
        - ejudad--tenantid
        - name: azuread--identifieruri
          alias: azuread--resourceid
        - redisconfiguration--endpoint
        - redisconfiguration--password
    vh-bookings-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--bookingsapiresourceid
    vh-user-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--userapiresourceid
    vh-video-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--videoapiresourceid
  environment:
    ASPNETCORE_URLS: http://+:8080
    AZUREAD__POSTLOGOUTREDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/logout
    AZUREAD__REDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/home
    EJUDAD__POSTLOGOUTREDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/logout
    EJUDAD__REDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/home
    DOM1__POSTLOGOUTREDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/logout
    DOM1__REDIRECTURI: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/home
    DISABLEHTTPSREDIRECTION: true
    Logging__LogLevel__Default: warning
    Logging__LogLevel__Microsoft: warning
    Logging__LogLevel__System: warning
    VHSERVICES__BOOKINGSAPIURL: https://vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__ENABLEANDROIDSUPPORT: true
    VHSERVICES__ENABLEDYNAMICEVIDENCESHARING: true
    VHSERVICES__ENABLEIOSMOBILESUPPORT: true
    VHSERVICES__ENABLEIOSTABLETSUPPORT: true
    VHSERVICES__ENABLEVIDEOFILTERS: true
    VHSERVICES__USERAPIURL: https://vh-user-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__VIDEOAPIURL: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/
    CACHESETTINGS__DAILYROUTINETIME: 2
    CACHESETTINGS__CACHEDURATION: 18
    CACHESETTINGS__LOCKDURATION: 3
