<div class="tabcontainer">
  <div class="tab tab--left">
    <button id="hearingsTabButton" [ngClass]="{ active: currentMenu === 'Hearing' }" (click)="displayHearing()">Hearings</button>
  </div>
  <ng-container *appFeatureFlag="featureFlags.instantMessaging">
    <div [ngClass]="isStaffMember ? 'tab tab--middle' : 'tab tab--right'">
      <button id="messagesTabButton" [ngClass]="{ active: currentMenu === 'Message' }" (click)="displayMessages()">Messages</button>
    </div>
  </ng-container>
  <div class="tab tab--right" *ngIf="isStaffMember">
    <button id="command-centre-join-hearing-btn" (click)="signIntoConference()" [disabled]="!conferenceId">Join Hearing</button>
  </div>
</div>
