<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ 'hearing-rules.court-rules' | translate }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <p>
        <b>{{ 'hearing-rules.you-must-follow-courtroom-rules' | translate }}</b>
      </p>
      {{ 'hearing-rules.this-means-you' | translate }}
      <ul>
        <li>{{ 'hearing-rules.can-only-drink-water' | translate }}</li>
        <li>{{ 'hearing-rules.must-not-eat' | translate }}</li>
        <li>{{ 'hearing-rules.must-only-use-your-phone-for-contact-with-the-video-hearings-team' | translate }}</li>
        <li>{{ 'hearing-rules.must-follow-the-judges-instructions' | translate }}</li>
        <li>{{ 'hearing-rules.are-not-allowed-to-smoke-including-e-cigarettes' | translate }}</li>
        <li>{{ 'hearing-rules.must-be-alone-unless-you-have-the-judges-permission-to-have-someone-with-you' | translate }}</li>
        <li>{{ 'hearing-rules.must-ask-the-judges-permission-if-you-need-to-move-away-from-your-screen' | translate }}</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="image">
        <img
          src="/assets/images/HmctsCrest.png"
          height="180"
          width="180"
          class="govuk-header__logotype-crest"
          alt="{{ 'hearing-rules.hm-courts-and-tribunals-service-crest' | translate }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="govuk-!-margin-top-4">
  <button id="nextButton" class="govuk-button" data-module="govuk-button" (click)="goToDeclaration()" type="button" alt="{{ 'hearing-rules.continue' | translate }}">
    {{ 'hearing-rules.continue' | translate }}
  </button>
</div>

<app-contact-us-folding></app-contact-us-folding>
