<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Court rules</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <p>
        <b>You must follow the same rules as you would in a courtroom.</b>
      </p>
      This means you:
      <ul>
        <li>can only drink water</li>
        <li>must not eat</li>
        <li>must only use your phone for contact with the video hearings team</li>
        <li>must follow the judge’s instructions</li>
        <li>are not allowed to smoke (including e-cigarettes)</li>
        <li>must be alone unless you have the judge’s permission to have someone with you</li>
        <li>must ask the judge's permission if you need to move away from your screen</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="image">
        <img
          src="/assets/images/HmctsCrest.png"
          height="180"
          width="180"
          class="govuk-header__logotype-crest"
          alt="HM Courts &amp; Tribunals Service crest"
        />
      </div>
    </div>
  </div>
</div>
<div class="govuk-!-margin-top-4">
  <button id="nextButton" class="govuk-button" data-module="govuk-button" (click)="goToDeclaration()" type="button" alt="HearingRules">
    Continue
  </button>
</div>

<app-contact-us-folding></app-contact-us-folding>
