<div>
  <div #skipLink tabindex="0"></div>
  <div role="navigation">
    <a href="javascript:void(0)" class="govuk-skip-link" (click)="skipToContent()">{{ 'app.skip-to-main-content' | translate }}</a>
  </div>
  <header>
    <app-header class="govuk-!-display-none-print" [loggedIn]="loggedIn"></app-header>
    <div class="govuk-width-container">
      <app-beta-banner *ngIf="loggedIn" [isRepresentativeOrIndividual]="isRepresentativeOrIndividual"></app-beta-banner>
      <app-back-navigation *ngIf="backLinkDetails$ | async as backLinkDetails" [backLinkDetails]="backLinkDetails"></app-back-navigation>
    </div>
  </header>
  <div class="govuk-width-container" id="master-container">
    <main
      #maincontent
      class="govuk-main-wrapper app-width-container--wide"
      id="main-content"
      role="main"
      tabindex="-1">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer class="govuk-!-display-none-print"></app-footer>
</div>
