<div>

  <app-header [loggedIn]="loggedIn"></app-header>

  <ng-snotify></ng-snotify>

  <div class="govuk-width-container" id="master-container">
    <!-- <router-outlet class="govuk-main-wrapper vh-content" id="main-content" role="main" [ngClass]="!loggedIn
        ? 'pad-unactivated-router'
        : ''"></router-outlet> -->
    <app-beta-banner></app-beta-banner>
    <main class="govuk-main-wrapper" id="main-content" role="main"
      [ngClass]="!loggedIn ? 'pad-unactivated-router' : ''">

      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>
</div>